<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.detail') }} {{ $t('role.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/role">
              {{ $t('pages.back') }}
            </v-btn>
            <v-btn small color="danger" @click="deleteItem(item)">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                {{ $t('role.name') }}
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.name }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mt-5">
        <RolePermissionIndex />
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm'),
    RolePermissionIndex: () => import('@/pages/role_permission/index')
  },
  data: () => ({
    data: {
      name: '-',
    }
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('role_show')) {
      this.$axios.$get('role/' + this.$route.params.id).
        then((data) => {
          this.data.name = data.result.layName
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    deleteItem (item) {
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open(response.response.data.status, 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
