<template>
  <div>
    <ValidationObserver ref="form" v-slot="{ }">
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('company.name') "
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('company.name') "
                      v-model="form.layName"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('company.address') "
                ref="address"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-textarea
                      v-bind:label=" $t('company.address') "
                      v-model="form.layAddress"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAddress" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-menu
                      ref="joindatemenu"
                      v-model="joindatemenu"
                      :close-on-content-click="false"
                      :return-value.sync="form.layJoinDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('company.joindate') "
                        ref="joindate"
                        rules="required"
                        :bails="false">
                        <v-text-field
                          v-model="form.layJoinDate"
                          v-bind:label=" $t('company.joindate') "
                          readonly
                          v-on="on"
                          clearable
                        ></v-text-field>
                        <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                          <li v-for="(error, index) in errors" :key="index">
                            <span>{{ error }}</span>
                          </li>
                          <li v-for="(errormsg, index) in errorsmsg.layJoinDate" :key="index">
                            <span>{{ errormsg }}</span>
                          </li>
                        </ul>
                      </ValidationProvider>
                      </template>
                      <v-date-picker v-model="form.layJoinDate" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="joindatemenu = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.joindatemenu.save(form.layJoinDate)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('company.country') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.countryItems"
                      v-bind:label=" $t('company.country') "
                      v-model="form.layCouId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layCouId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('company.adm1') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm1Items"
                      v-bind:label=" $t('company.adm1') "
                      v-model="form.layAdm1Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getAdm2"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm1Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('company.adm2') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm2Items"
                      v-bind:label=" $t('company.adm2') "
                      v-model="form.layAdm2Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm2Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')
import { format } from 'date-fns'

export default {
  name: 'CompanyForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    show1: false,
    form: {
      layName: '',
      layAddress: '',
      layJoinDate: format(new Date(), 'yyyy-MM-dd'),
      layCouId: '',
      layAdm1Id: '',
      layAdm2Id: ''
    },
    list: {
      countryItems: [],
      adm2Items: []      
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    joindatemenu: false,
    rules: {
      required: value => !!value || 'Harus diisi.'
    }
  }),
  mounted () {
    this.getSelectList()
    if (this.edit) {
      this.getEditData()
    }
  },
  methods: {
    resetData () {
      this.form.layName = ''
      this.form.layAddress = ''
      this.form.layJoinDate = ''
      this.form.layCouId = ''
      this.form.layAdm1Id = ''
      this.form.layAdm2Id = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getSelectList () {
      this.$axios.get('/country/selectlist')
        .then((response) => {
          this.list.countryItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      this.$axios.get('/administrativefirst/selectlist')
        .then((response) => {
          this.list.adm1Items = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      // this.$axios.get('/administrativesecond/selectlist')
      //   .then((response) => {
      //     this.list.adm2Items = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
    },
    getEditData () {
      this.$axios.get('/company/' + this.id + '/edit')
        .then((response) => {
          this.form.layName = response.data.result.layName
          this.form.layAddress = response.data.result.layAddress
          this.form.layJoinDate = response.data.result.layJoinDate
          this.form.layCouId = response.data.result.layCountry
          this.form.layAdm1Id = response.data.result.layProvince
          this.form.layAdm2Id = response.data.result.layCity
          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('company/' + this.$route.params.id, this.form)
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitAdd () {
      // this.$refs.form.reset()
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;
        this.$axios.$post('company', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    getAdm2 () {
      this.list.adm2Items = []
      this.form.layAdm3Id = ''
      this.form.layAdm4Id = ''
      this.$axios.get('/administrativesecond/selectlist/'+this.form.layAdm1Id)
      .then((response) => {
        this.list.adm2Items = response.data.result
        this.processResponse(response, 'selectlist')
      })
      .catch(errors => {
        this.processResponse(errors, 'selectlist')
      })
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/layanesia/company')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
