<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> Detail Informasi</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/news">
              Kembali
            </v-btn>
            <v-btn small color="danger" @click="deleteItem(item)" v-if="hasPermission('news_delete')">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                Judul
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.title }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="12" md="12" sm="12" v-html="data.description">
            </v-col>
          </v-row>
        </v-container>
      </v-card>

      <v-card class="mt-5">
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                dibuat oleh
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                dibuat waktu
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_at }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                diedit oleh
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                diedit waktu
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_at }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    data: {
      title : '-',
      description : '-',
      created_by : '-',
      created_at : '-',
      edited_by : '-',
      edited_at : '-',
    },
    userLevel: -1,
    width:300
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage,
    myImage: function () {
      return this.data.pic
    },
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('news_show') && this.userlevel != -1) {
      this.$axios.$get('news/' + this.$route.params.id).
        then((data) => {
          this.data.title = data.result.layTitle
          this.data.description = data.result.layDescription
          this.data.created_by = data.result.layCreatedby
          this.data.created_at = data.result.layCreatedtime
          this.data.edited_by = data.result.layChangedby
          this.data.edited_at = data.result.layChangedtime
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    async deleteItem () {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('news/' + this.$route.params.id)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'delete') {
            this.$router.push('/news')
          }
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  },
}
</script>
