<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col sm="12">
          <h3>{{ $t('pages.list') }} {{ $t('store.store_transaction.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap v-if="hasPermission('store_transaction_store')">
        <v-col>
          <div class="my-2">
            <v-btn color="primary" to="/store/store_transaction/create">
              {{ $t('pages.add') }}
              <v-icon right>add_circle</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>

      <v-row wrap>
        <v-col lg="12">
          <!-- <v-card> -->
            <!-- <v-app-bar flat color="white">
              <v-text-field
                v-model="search"
                flat
                solo
                prepend-icon="search"
                placeholder="Type something"
                hide-details
                class="hidden-sm-and-down"
              />
            </v-app-bar> -->
            <v-row>
              <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0">
                <v-select
                  :items="list.companyItems"
                  v-bind:label=" $t('store.company') "
                  v-model="search.layCmp"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                  v-on:change="getBrandList"
                ></v-select>
              </v-col>
              <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0 || this.userLevel == 1">
                <v-select
                  :items="list.brandItems"
                  v-bind:label=" $t('gym.member_package.brand') "
                  v-model="search.layBrnd"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                  v-on:change="getStoreList"
                ></v-select>
              </v-col>
              <v-col lg="4" md="4" sm="10" v-if="this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2">
                <v-select
                  :items="list.storeItems"
                  v-bind:label=" $t('store.store_transaction.store') "
                  v-model="search.layStore"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                >                      
                </v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="3">
                <v-text-field
                  v-model="search.layName"
                  v-bind:label=" $t('store.store_transaction.name') "
                  hide-details
                  clearable
                />
              </v-col>
              <v-col lg="3" md="3" sm="12">
                <v-menu
                  ref="searchStDateMenu"
                  v-model="searchStDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layStdate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layStdate"
                      v-bind:label=" $t('store.store_transaction.stdate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="search.layStdate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="searchStDateMenu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.searchStDateMenu.save(search.layStdate)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col lg="3" md="3" sm="12">
                <v-menu
                  ref="searchEnDateMenu"
                  v-model="searchEnDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layEndate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layEndate"
                      v-bind:label=" $t('store.store_transaction.endate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="search.layEndate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="searchEnDateMenu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.searchEnDateMenu.save(search.layEndate)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>

            <v-row wrap>
              <v-col>
                <div class="my-2">
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="searchData"
                  >
                    {{ $t('pages.search') }}
                    <v-icon right>search</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="hasPermission('store_transaction_export')"
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="exportData"
                  >
                    {{ $t('pages.export') }} 
                    <v-icon right>fas fa-file-excel</v-icon>
                  </v-btn>
                </div>
              </v-col>
            </v-row>

            <v-divider />
            <!-- <v-card-text class="pa-0"> -->
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="dataItems"
                :options.sync="options"
                :server-items-length="totalItems"
                :loading="loading"
                :items-per-page="10"
                class="elevation-1"
                item-key="name"
                :footer-props="{
                  'items-per-page-options':[10,20]
                }"
              >
                <template v-slot:[`store.store_transaction.layPrice`]="{ item }">
                  {{ convertMoney(item) }}
                </template>
                <template v-slot:[`store.store_transaction.action`]="{ item }">
                  <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                    v-if="hasPermission('store_transaction_edit')"
                  >
                    edit
                  </v-icon>
                  <v-icon
                    small
                    class="mr-2"
                    @click="readItem(item)"
                    v-if="hasPermission('store_transaction_show')"
                  >
                    pageview
                  </v-icon>
                  <v-icon
                    small
                    color="red"
                    @click="deleteItem(item)"
                    v-if="hasPermission('store_transaction_delete')"
                  >
                    delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <v-btn color="primary" @click="getPagination">
                    Reset
                  </v-btn>
                </template>
              </v-data-table>
            <!-- </v-card-text> -->
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import Money from '@/util/money';

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layName: '',
      layStdate: '',
      layEndate: '',
    },
    searchStDateMenu: false,
    searchEnDateMenu: false,
    totalItems: 0,
    dataItems: [],
    loading: true,
    options: {},
    selected: [],
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
    },
    userLevel: -1
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('store_transaction_index')) {
      // this.getPagination()
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
  },
  methods: {
    searchData() {
      this.options.page = 1
      this.getPagination()
    },
    exportData () {
      console.log("package")
      if(this.$storage.getUniversal("permissionStorage").includes('store_transaction_export')) {
        this.loading = true
        this.$axios.get('store/store_transaction/export',{
          params: {
            search: this.search
          },
          responseType: 'arraybuffer',
          headers: {
            'content-type': 'json'
          }
        })
        .then((response) => {
          this.loading = false
          var fileURL = window.URL.createObjectURL(new Blob([response.data], {
              type: 'application/vnd.ms-excel'
          }));
          var fileLink = document.createElement('a');

          fileLink.href = fileURL;
          fileLink.setAttribute('download', 'package.xlsx');
          document.body.appendChild(fileLink);

          fileLink.click();
          // this.processResponse(response.data, 'index')
        })
        .catch(errors => {
          this.loading = false
          this.processResponse(errors, 'index')
        });
      }
    },
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        const items = data.data
        const total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (itemsPerPage > 0) {
        //   items = items.slice((page - 1) * itemsPerPage, page * itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    editItem (item) {
      this.$router.push('/store/store_transaction/edit/' + store.store_transaction.layId)
    },
    readItem (item) {
      this.$router.push('/store/store_transaction/read/' + store.store_transaction.layId)
    },
    async deleteItem (item) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('store/store_transaction/' + store.store_transaction.layId)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    initialize () {
    },
    getPagination () {
      if(this.$storage.getUniversal("permissionStorage").includes('store_transaction_index')) {
        this.loading = true
        this.$axios.get('store/store_transaction',{
          params: {
            page: this.options.page,
            rowsPerPage: this.options.itemsPerPage,
            search: this.search
          }
        })
        .then((response) => {
          this.processResponse(response.data, 'index')
        })
        .catch(errors => {1
          this.processResponse(errors, 'index')
        });
      }
    },
    getSelectList () {
      if(this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.userLevel == 1) {
        //dapet data brand langsung sesuai session
        this.$axios.get('/brand/selectlist')
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.userLevel == 2) {
        // dapet data store langsung sesuai session
        this.$axios.get('/store/selectlist')
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      // if(this.userLevel == 3) {
      //   this.getPackageList()      
      // }
    },
    getBrandList () {
      this.list.brandItems = []
      this.search.layBrnd = ''
      this.list.storeItems = []
      this.search.layStore = ''
      if(this.userLevel == 0 || this.userLevel == 1) {
        this.$axios.get('/brand/companyselectlist/'+this.search.layCmp)
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getStoreList () {
      this.list.storeItems = []
      this.search.layStore = ''
      if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
        this.$axios.get('/store/brandselectList/'+this.search.layBrnd)
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    convertMoney(item) {
      return Money.formatPrice(store.store_transaction.layPrice)
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {
                this.dataItems = data.items
                this.totalItems = data.total
              })            
          } else if(action === 'delete') {
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      var header = []
      if(this.$storage.getUniversal("levelStorage") == 0) {
        header.push(
          {
            text: this.$t('store.store_transaction.company'),
            value: 'layCompany',
            align: 'left',
            sortable: false
          },
        )
      }
      if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1) {
        header.push(
          {
            text: this.$t('store.store_transaction.brand'),
            value: 'layBrand',
            align: 'left',
            sortable: false
          }
        )
      }
      if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1 || this.$storage.getUniversal("levelStorage") == 2) {
        header.push(
          {
            text: this.$t('store.store_transaction.store'),
            value: 'layStore',
            align: 'left',
            sortable: false
          }
        )
      }

      header.push(
        {
          text: this.$t('store.store_transaction.name'),
          value: 'layName',
          align: 'left',
          sortable: false
        },
        {
          text: this.$t('store.store_transaction.quantity'),
          value: 'layQuantity',
          align: 'left',
          sortable: false
        },
        {
          text: this.$t('store.store_transaction.access_counter'),
          value: 'layCounter',
          align: 'left',
          sortable: false
        },
        {
          text: this.$t('store.store_transaction.unlimited'),
          value: 'layUnlimited',
          align: 'left',
          sortable: false
        },
        {
          text: this.$t('store.store_transaction.price'),
          value: 'layPrice',
          align: 'left',
          sortable: false
        },
        {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      )
      return header
    }
  //   totalItems () {
  //     return this.$store.getters.totalItems
  //   },
  //   rowsPerPageItems () {
  //     return this.$store.getters.rowsPerPageItems
  //   },
  //   pagination: {
  //     get: () => {
  //       return this.$store.getters.pagination
  //     },
  //     set: (value) => {
  //       this.$store.dispatch('getCustomerApis', value)
  //     }
  //   }
  },
  watch: {
    options: {
      handler () {
        console.log(this.options.itemsPerPage)
        console.log(this.options.page)
        this.getPagination()
      },
      deep: true
    },
  }
// watch: {
  //   pagination: {
  //     handler () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     update () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     deep: true
  //   }
  // }
}
</script>
