<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col sm="12">
          <h3>{{ $t('pages.list') }} {{ $t('gym.member_package.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap v-if="hasPermission('gym_member_package_store')">
        <v-col>
          <div class="my-2">
            <v-btn color="primary" to="/gym/member_package/access/create">
              {{ $t('pages.add') }} Paket Akses
              <v-icon right>add_circle</v-icon>
            </v-btn>
            <v-btn color="primary" to="/gym/member_package/personal_trainer/create">
              {{ $t('pages.add') }} Paket Personal Trainer
              <v-icon right>add_circle</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col lg="12">
            <v-row>
              <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0">
                <v-select
                  :items="list.companyItems"
                  v-bind:label=" $t('store.company') "
                  v-model="search.layCmp"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                  v-on:change="getBrandList"
                ></v-select>
              </v-col>
              <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0 || this.userLevel == 1">
                <v-select
                  :items="list.brandItems"
                  v-bind:label=" $t('gym.member_package.brand') "
                  v-model="search.layBrnd"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                  v-on:change="getStoreList"
                ></v-select>
              </v-col>
              <v-col lg="4" md="4" sm="10" v-if="this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2">
                <v-select
                  :items="list.storeItems"
                  v-bind:label=" $t('gym.package.store') "
                  v-model="search.layStore"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                >                      
                </v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="2" md="2" sm="12">
                <v-select
                  :items="list.typeItems"
                  v-bind:label=" $t('gym.member_package.type') "
                  v-model="search.layType"
                  item-text="layName"
                  item-value="layCode"
                  v-on:change="getPackageList"
                  clearable
                ></v-select>
              </v-col>
              <v-col lg="2" md="2" sm="12">
                <v-select
                  :items="list.packageItems"
                  v-bind:label=" $t('gym.member_package.package') "
                  v-model="search.layPackage"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="2" md="2" sm="12">
                <v-text-field
                  v-model="search.layName"
                  v-bind:label=" $t('gym.member_package.name') "
                  hide-details
                  clearable
                />
              </v-col>
              <v-col lg="2" md="2" sm="12">
                <v-text-field
                  v-model="search.layEmail"
                  v-bind:label=" $t('gym.member_package.email') "
                  hide-details
                  clearable
                />
              </v-col>
              <v-col lg="2" md="2" sm="12">
                <v-menu
                  ref="searchStDateMenu"
                  v-model="searchStDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layStdate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layStdate"
                      v-bind:label=" $t('gym.member_package.stdate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker 
                    v-model="search.layStdate" 
                    no-title 
                    scrollable 
                    @change="$refs.searchStDateMenu.save(search.layStdate)">
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col lg="2" md="2" sm="12">
                <v-menu
                  ref="searchEnDateMenu"
                  v-model="searchEnDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layEndate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layEndate"
                      v-bind:label=" $t('gym.member_package.endate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker 
                    v-model="search.layEndate" 
                    no-title 
                    scrollable 
                    @change="$refs.searchEnDateMenu.save(search.layEndate)">
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col lg="2" md="2" sm="12">
                <v-menu
                  ref="searchActiveDateMenu"
                  v-model="searchActiveDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layActivedate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layActivedate"
                      v-bind:label=" $t('gym.member_package.activeDate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="search.layActivedate"
                    no-title 
                    scrollable 
                    @change="$refs.searchActiveDateMenu.save(search.layActivedate)">
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row wrap>
              <v-col>
                <h4>Tgl Daftar</h4>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="2" md="2" sm="12">
                <v-menu
                  ref="searchRegStDateMenu"
                  v-model="searchRegStDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layRegStdate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layRegStdate"
                      v-bind:label=" $t('gym.member_package.src_reg_stdate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker 
                    v-model="search.layRegStdate" 
                    no-title 
                    scrollable 
                    @change="$refs.searchRegStDateMenu.save(search.layRegStdate)">
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col lg="2" md="2" sm="12">
                <v-menu
                  ref="searchRegEnDateMenu"
                  v-model="searchRegEnDateMenu"
                  :close-on-content-click="false"
                  :return-value.sync="search.layRegEndate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="search.layRegEndate"
                      v-bind:label=" $t('gym.member_package.src_reg_endate') "
                      readonly
                      v-on="on"
                      clearable
                    ></v-text-field>
                  </template>
                  <v-date-picker 
                    v-model="search.layRegEndate" 
                    no-title 
                    scrollable 
                    @change="$refs.searchRegEnDateMenu.save(search.layRegEndate)">
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row wrap>
              <v-col>
                <h4>Status Paket</h4>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="2" md="2" sm="12">
                <v-select
                  :items="list.packageStatusItems"
                  v-bind:label=" $t('gym.member.package_status') "
                  v-model="search.layPackageStatus"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <div class="my-2">
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="searchData"
                  >
                    {{ $t('pages.search') }}
                    <v-icon right>search</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="hasPermission('gym_member_package_export')"
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="exportData"
                  >
                    {{ $t('pages.export') }} 
                    <v-icon right>fas fa-file-excel</v-icon>
                  </v-btn>
                </div>
              </v-col>
            </v-row>

            <v-divider />
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="dataItems"
              :options.sync="options"
              :server-items-length="totalItems"
              :loading="loading"
              :items-per-page="10"
              class="elevation-1"
              item-key="name"
              :footer-props="{
                'items-per-page-options':[10,20]
              }"
            >
              <template v-slot:[`item.layTotalPrice`]="{ item }">
                {{ convertMoney(item) }}
              </template>
              <template v-slot:[`item.action`]="{ item }">
                <v-icon
                  class="mr-2"
                  @click="editItem(item)"
                  v-if="hasPermission('gym_member_package_edit')"
                >
                  edit
                </v-icon>
                <v-icon
                  class="mr-2"
                  @click="readItem(item)"
                  v-if="hasPermission('gym_member_package_show')"
                >
                  pageview
                </v-icon>
                <v-icon
                  color="red"
                  @click="deleteItem(item)"
                  v-if="hasPermission('gym_member_package_delete')"
                >
                  delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="getPagination">
                  Reset
                </v-btn>
              </template>
            </v-data-table>
        </v-col>
      </v-row>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import Money from '@/util/money';

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  props: {
    gympkg: {
      type: String,
      default: '0'
    },
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layPackage: '',
      layType: '',
      layName: '',
      layEmail: '',
      layStdate: '',
      layEndate: '',
      layActivedate: '',
      layRegStdate: '',
      layRegEndate: '',
      layPackageStatus: ''
    },
    searchStDateMenu: false,
    searchEnDateMenu: false,
    searchActiveDateMenu: false,
    searchRegStDateMenu: false,
    searchRegEnDateMenu: false,
    totalItems: 0,
    pageSize: 10,
    pageSizes: [10,20],
    page: 1,
    totalPages: 0,
    dataItems: [],
    loading: true,
    options: {},
    selected: [],
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
      packageItems: [],
      typeItems: [
        {
          'layCode': 'access',
          'layName': 'Akses',
        },
        {
          'layCode': 'pt',
          'layName': 'Personal Trainer'
        }
      ],
      packageStatusItems: [
        {
          'layCode': 'active',
          'layName': 'Aktif',
        },
        {
          'layCode': 'inactive',
          'layName': 'Tidak Aktif'
        }
      ]
    },
    userLevel: -1
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_index')) {
      // this.getPagination()
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    // this.search.layType = this.$route.query.type
    // this.search.layPackage = this.$route.query.gympkg
    // this.getPackageList()
    // this.getSelectList()
  },
  methods: {
    searchData() {
      // if(this.$route.query.gympkg) {
      //   this.search.layPackage = '' 
      // }
      this.options.page = 1
      this.getPagination()
    },
    exportData () {
      if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_export')) {
        this.loading = true
        this.$axios.get('gym/memberpackage/export',{
          params: {
            search: this.search
          },
          responseType: 'arraybuffer',
          headers: {
            'content-type': 'json'
          }
        })
        .then((response) => {
          this.loading = false
          var fileURL = window.URL.createObjectURL(new Blob([response.data], {
              type: 'application/vnd.ms-excel'
          }));
          var fileLink = document.createElement('a');

          fileLink.href = fileURL;
          fileLink.setAttribute('download', 'member_package.xlsx');
          document.body.appendChild(fileLink);

          fileLink.click();
          // this.processResponse(response.data, 'index')
        })
        .catch(errors => {
          this.loading = false
          this.processResponse(errors, 'index')
        });
      }
    },
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        const items = data.data
        const total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (itemsPerPage > 0) {
        //   items = items.slice((page - 1) * itemsPerPage, page * itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    editItem (item) {
      this.$router.push('/medical_record/edit/' + item.layPacketType + '/' + item.layId)
    },
    readItem (item) {
      this.$router.push('/medical_record/read/' + item.layId)
    },
    async deleteItem (item) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('medicalrecord/' + item.layId)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    initialize () {
    },
    getPagination () {
      if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_index')) {
        this.loading = true
        this.$axios.get('medicalrecord',{
          params: {
            page: this.options.page,
            rowsPerPage: this.options.itemsPerPage,
            search: this.search
          }
        })
        .then((response) => {
          this.processResponse(response.data, 'index')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    getSelectList () {
      // if(this.userLevel == 0) {
      //   //ambil data perusahaan
      //   this.$axios.get('/company/selectlist')
      //   .then((response) => {
      //     this.list.companyItems = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
      // }
      // if(this.userLevel == 1) {
      //   //dapet data brand langsung sesuai session
      //   this.$axios.get('/brand/selectlist')
      //   .then((response) => {
      //     this.list.brandItems = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
      // }
      // if(this.userLevel == 2) {
      //   // dapet data store langsung sesuai session
      //   this.$axios.get('/store/selectlist')
      //   .then((response) => {
      //     this.list.storeItems = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
      // }
      // if(this.userLevel == 3) {
      //   this.getPackageList()      
      // }
    },
    // getBrandList () {
    //   this.list.brandItems = []
    //   this.search.layBrnd = ''
    //   if(this.userLevel == 0 || this.userLevel == 1) {
    //     this.$axios.get('/brand/companyselectlist/'+this.search.layCmp)
    //     .then((response) => {
    //       this.list.brandItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //   }
    // },
    // getStoreList () {
    //   this.list.storeItems = []
    //   this.search.layStore = ''
    //   if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
    //     this.$axios.get('/store/brandselectList/'+this.search.layBrnd)
    //     .then((response) => {
    //       this.list.storeItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //   }
    // },
    // getPackageList () {
    //   if(this.search.layType == 'access') {
    //     if(this.userLevel == 3) {
    //       var url = '/gym/package/access/selectlist'
    //     }
    //     else
    //     {
    //       var url = '/gym/package/access/selectlist/'+this.search.layStore;
    //     }
    //     this.$axios.get(url)
    //     .then((response) => {
    //       this.list.packageItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //       if(this.$route.query.gympkg) {
    //         this.search.layPackage = parseInt(this.$route.query.gympkg)
    //       }
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //   }
    //   else if(this.search.layType == 'pt') {
    //     var url = '/gym/package/personal_trainer/selectlist/'+this.search.layStore;
    //     if(this.userLevel == 3) {
    //       url = '/gym/package/personal_trainer/selectlist'
    //     }
    //     this.$axios.get(url)
    //     .then((response) => {
    //       this.list.packageItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //   }
    // },
    // convertMoney(item) {
    //   return Money.formatPrice(item.layTotalPrice)
    // },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {

                this.dataItems = data.items
                this.totalItems = data.total
              })            
          } else if(action === 'delete') {
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      var header = []
      // if(this.$storage.getUniversal("levelStorage") == 0) {
      //   header.push(
      //     {
      //       text: this.$t('gym.member_package.company'),
      //       value: 'layCompany',
      //       align: 'left',
      //       sortable: false
      //     },
      //   )
      // }
      // if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1) {
      //   header.push(
      //     {
      //       text: this.$t('gym.member_package.brand'),
      //       value: 'layBrand',
      //       align: 'left',
      //       sortable: false
      //     }
      //   )
      // }
      // if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1 || this.$storage.getUniversal("levelStorage") == 2) {
      //   header.push(
      //     {
      //       text: this.$t('gym.member_package.store'),
      //       value: 'layStore',
      //       align: 'left',
      //       sortable: false
      //     }
      //   )
      // }
      
      header.push(
        {
          text: 'name',
          value: 'layName',
          align: 'left',
          sortable: false
        },
        {
          text: 'email',
          value: 'layEmail',
          align: 'left',
          sortable: false
        },
        {
          text: 'phone',
          value: 'layPhone',
          align: 'left',
          sortable: false
        },
        {
          text: 'regdate',
          value: 'layRegDate',
          align: 'left',
          sortable: false
        },
        {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      )
      return header
    }
  //   totalItems () {
  //     return this.$store.getters.totalItems
  //   },
  //   rowsPerPageItems () {
  //     return this.$store.getters.rowsPerPageItems
  //   },
  //   pagination: {
  //     get: () => {
  //       return this.$store.getters.pagination
  //     },
  //     set: (value) => {
  //       this.$store.dispatch('getCustomerApis', value)
  //     }
  //   }
  },
  watch: {
    options: {
      handler () {
        this.getPagination()
      },
      deep: true
    },
  }
}
</script>
