<template>
  <div>
    <ValidationObserver ref="form" >
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.company') "
                ref="code"
                rules="required"
                v-if="edit === false && userLevel == 0"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.companyItems"
                      v-bind:label=" $t('store.company') "
                      v-model="form.layCmpId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getBrandList"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layCmpId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <v-row v-if="edit === true && (userLevel == 0 || userLevel == 1)" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('store.company')"
                    v-model="form.layCompanyName"
                    disabled
                  />
                </v-col>
              </v-row>

              <ValidationProvider 
                v-if="edit === false && (userLevel == 0 || userLevel == 1)"
                v-slot="{ errors }"
                :name=" $t('gym.member_package.brand') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.brandItems"
                      v-bind:label=" $t('gym.member_package.brand') "
                      v-model="form.layBrndId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="brandChanged"
                      :disabled="edit"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layBrndId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <v-row v-if="edit === true && (userLevel == 0 || userLevel == 1)" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.member_package.brand')"
                    v-model="form.layBrandName"
                    disabled
                  />
                </v-col>
              </v-row>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.package.store') "
                ref="code"
                rules="required"
                v-if="edit === false && (userLevel == 0 || userLevel == 1 || userLevel == 2)"
                :bails="false">
                <v-row wrap>
                  <v-col cols="10" lg="6" md="6" sm="10">
                    <v-select
                      :items="list.storeItems"
                      v-bind:label=" $t('gym.package.store') "
                      v-model="form.layStoreId"
                      item-text="layName"
                      item-value="layCode"
                      v-on:change="getPackageList"
                      clearable
                    >                      
                    </v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layStoreId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <v-row v-if="edit === true && (userLevel == 0 || userLevel == 1 || userLevel == 2)" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.package.store')"
                    v-model="form.layStoreName"
                    disabled
                  />
                </v-col>
              </v-row>

              <ValidationProvider 
                v-if="edit === false"
                v-slot="{ errors }"
                :name=" $t('gym.member_package.member') "
                ref="member"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-autocomplete
                      autocomplete="off"
                      v-model="form.layGymbrId"
                      v-bind:label=" $t('gym.member_package.member') "
                      :items="list.autocompleteMemberItems"
                      :loading="isMemberLoading"
                      :search-input.sync="autocompleteMemberSearch"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      hide-no-data
                      placeholder="Cari Anggota"
                    ></v-autocomplete>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layGymbrId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <v-row v-if="edit === true" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.member_package.member')"
                    v-model="form.layName"
                    disabled
                  />
                </v-col>
              </v-row>

              <v-row v-if="edit === true" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.member_package.package')"
                    v-model="form.layPackageName"
                    disabled
                  />
                </v-col>
              </v-row>

              <v-row v-if="edit === true" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.member_package.access_balance')"
                    v-model="form.layAccessBalance"
                    disabled
                  />
                </v-col>
              </v-row>

              <v-row v-if="edit === true" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.member_package.stdate')"
                    v-model="form.layStDate"
                    disabled
                  />
                </v-col>
              </v-row>

              <v-row v-if="edit === true" wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-text-field
                    v-bind:label=" $t('gym.member_package.endate')"
                    v-model="form.layEnDate"
                    disabled
                  />
                </v-col>
              </v-row>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member_package.package') "
                ref="package"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.packageItems"
                      v-bind:label=" $t('gym.member_package.package') "
                      v-model="form.layGympkgId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="changePackage"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layGympkgId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <v-row wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-menu
                    ref="stdatemenu"
                    v-model="stdatemenu"
                    :close-on-content-click="false"
                    :return-value.sync="form.layStDate"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                    <ValidationProvider 
                      v-slot="{ errors }"
                      :name=" $t('gym.member_package.stdate') "
                      ref="stdate"
                      rules="required"
                      :bails="false">
                      <v-text-field
                        v-model="form.layStDate"
                        v-bind:label=" $t('gym.member_package.stdate') "
                        readonly
                        v-on="on"
                        clearable
                      ></v-text-field>
                      <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                        <li v-for="(error, index) in errors" :key="index">
                          <span>{{ error }}</span>
                        </li>
                        <li v-for="(errormsg, index) in errorsmsg.layStDate" :key="index">
                          <span>{{ errormsg }}</span>
                        </li>
                      </ul>
                    </ValidationProvider>
                    </template>
                    <v-date-picker v-model="form.layStDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="stdatemenu = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.stdatemenu.save(form.layStDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-row wrap>
                <v-col lg="2" md="2" sm="2">
                  <v-checkbox
                    v-model="form.layHoldFlag"
                    label="Hold Paket"
                    @change="changeHoldCheckBox"
                  ></v-checkbox>
                </v-col>
                <v-col lg="2" md="2" sm="2">
                  <v-menu
                    ref="holdstdatemenu"
                    v-model="holdstdatemenu"
                    :close-on-content-click="false"
                    :return-value.sync="form.layHoldStDate"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="form.layHoldStDate"
                        v-bind:label=" $t('gym.member_package.holdstdate') "
                        readonly
                        v-on="on"
                        clearable
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="form.layHoldStDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="holdstdatemenu = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.holdstdatemenu.save(form.layHoldStDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')
import { format } from 'date-fns'

export default {
  name: 'MemberPackageForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
    packetType: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
    },
    show1: false,
    form: {
      layCmpId: null,
      layCompanyName: '',
      layBrndId: null,
      layBrandName: '',
      layStoreId: null,
      layStoreName: '',
      layGympkgId: '',
      layPackageName: '',
      layGymbrId: '',
      layQuantity: 1,
      layName: '',
      layStDate: format(new Date(), 'yyyy-MM-dd'),
      layEnDate: '',
      layAccessBalance: '',
      layVip: '',
      layHoldFlag: '',
      layHoldStDate: ''
    },
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
      packageItems: [],
      autocompleteMemberItems: [],
      // autocompletePackageItems: [],
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    isMemberLoading: false,
    isPackageLoading: false,
    autocompleteMemberSearch: '',
    stdatemenu: '',
    endatemenu: '',
    holdstdatemenu: '',
    userLevel: -1
    // autocompletePackageSearch: ''
  }),
  watch: {
    autocompleteMemberSearch(value) {
      if(!value) {
        this.list.autocompleteMemberItems = []
        return
      }

      // Items have already been loaded
      if (this.list.autocompleteMemberItems.length > 0) return

      // Items is beeing requested
      if (this.isMemberLoading) return

      this.isMemberLoading = true
      this.getAutocompleteMember(value)
    },
    // autocompletePackageSearch(value) {
    //   console.log('autocompletePackageSearch: '+value)
    //   if(!value) {
    //     this.list.autocompletePackageItems = []
    //     return
    //   }

    //   // Items have already been loaded
    //   if (this.list.autocompletePackageItems.length > 0) return

    //   // Items is beeing requested
    //   if (this.isPackageLoading) return

    //   console.log(value)
    //   this.isPackageLoading = true
    //   this.getAutocompletePackage(value)
    // }
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_store') && this.userlevel != -1) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    console.log('edit status: '+this.edit)
    this.getSelectList()
    if(this.userLevel == 3) {
      this.getPackageList()      
    }
    if (this.edit) {
      this.getEditData()
    }
    else {
      // this.getBrandSelectList()
    }
  },
  methods: {
    changeHoldCheckBox (value) {
      console.log(value)
      if(value) {
        this.form.layHoldStDate = format(new Date(), 'yyyy-MM-dd')
      } else {
        this.form.layHoldStDate = ''
      }
    },
    resetData () {
      // this.form.layBrndId = ''
      // this.form.layGymbrId = ''
      // this.form.layGympkgId = ''
      // this.form.layQuantity = 1
      // this.form.layName = ''
      // this.form.layBrandName = ''
      // this.form.layPackageName = ''
      // this.form.layStDate = ''
      // this.form.layEnDate = ''
      // this.form.layAccessBalance = ''
      // this.form.layVip = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    changePackage () {
      var result = this.list.packageItems.find(d => d.layCode == this.form.layGympkgId)
        // this.list.packageItems.filter(() => {
        //   return this.list.packageItems['layCode'].includes(this.form.layGympkgId)
        // })
    },
    getSelectList () {
      if(this.edit == false && this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.edit == false && this.userLevel == 1) {
        //dapet data brand langsung sesuai session
        this.$axios.get('/brand/selectlist')
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.edit == false && this.userLevel == 2) {
        // dapet data store langsung sesuai session
        this.$axios.get('/store/selectlist')
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getBrandList () {
      this.list.brandItems = []
      this.search.layBrnd = ''
      if(this.edit == false) {
        if(this.edit == false || this.userLevel == 0 || this.userLevel == 1) {
          this.$axios.get('/brand/companyselectlist/'+this.form.layCmpId)
          .then((response) => {
            this.list.brandItems = response.data.result
            this.processResponse(response, 'selectlist')
          })
          .catch(errors => {
            this.processResponse(errors, 'selectlist')
          })
        }
      }
    },
    getStoreList () {
      this.list.storeItems = []
      this.search.layStore = ''
      if(this.edit == false) {
        if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
          this.$axios.get('/store/brandselectList/'+this.form.layBrndId)
          .then((response) => {
            this.list.storeItems = response.data.result
            this.processResponse(response, 'selectlist')
          })
          .catch(errors => {
            this.processResponse(errors, 'selectlist')
          })
        }
      }
    },
    // getBrandSelectList () {
    //   this.$axios.get('/brand/selectlist')
    //     .then((response) => {
    //       this.list.brandItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    // },
    brandChanged() {
      // this.getPackageList()
      this.getStoreList()
    },
    getPackageList () {
      console.log(this.packetType)
      console.log(this.form.layVip)
      if(this.packetType == 'access') {
        if(this.edit==false) {
          this.$axios.get('/gym/package/access/selectlist/'+this.form.layStoreId)
          .then((response) => {
            this.list.packageItems = response.data.result
            this.processResponse(response, 'selectlist')
          })
          .catch(errors => {
            this.processResponse(errors, 'selectlist')
          })
        }
        else if(this.edit==true && this.form.layVip == 1) {
          console.log("this.edit==true && this.form.layVip == 1")
          this.$axios.get('/gym/package/access/selectlist/vip/'+this.form.layStoreId)
          .then((response) => {
            this.list.packageItems = response.data.result
            this.processResponse(response, 'selectlist')
          })
          .catch(errors => {
            this.processResponse(errors, 'selectlist')
          })
        }
        else if(this.edit==true && this.form.layVip == 0) {
          console.log("this.edit==true && this.form.layVip == 0")
          this.$axios.get('/gym/package/access/selectlist/nonvip/'+this.form.layStoreId)
          .then((response) => {
            this.list.packageItems = response.data.result
            this.processResponse(response, 'selectlist')
          })
          .catch(errors => {
            this.processResponse(errors, 'selectlist')
          })
        }
      }
      else if(this.packetType == 'personal_trainer') {
        this.$axios.get('/gym/package/personal_trainer/selectlist/'+this.form.layStoreId)
        .then((response) => {
          this.list.packageItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getAutocompleteMember (value) {
      this.$axios.get('/gym/member/autocomplete/selectlist/'+value+'/'+this.form.layStoreId)
        .then((response) => {
          this.list.autocompleteMemberItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
        .finally(() => (this.isMemberLoading = false))
    },
    // getAutocompletePackage (value) {
    //   this.$axios.get('/gym/package/access/autocomplete/selectlist/'+value+'/'+this.form.layBrndId)
    //     .then((response) => {
    //       this.list.autocompletePackageItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //     .finally(() => (this.isPackageLoading = false))
    // },
    getEditData () {
      this.$axios.get('gym/memberpackage/' + this.id + '/edit')
        .then((response) => {
          this.form.layCmpId = response.data.result.layCompany
          this.form.layBrndId = response.data.result.layBrand
          this.form.layStoreId = response.data.result.layStore

          this.form.layCompanyName = response.data.result.layCompanyName
          this.form.layBrandName = response.data.result.layBrandName
          this.form.layStoreName = response.data.result.layStoreName

          // this.form.layGymbrId = response.data.result.layMember
          this.form.layGympkgId = response.data.result.layPackage
          this.form.layPackageName = response.data.result.layPackageName
          this.form.layQuantity = response.data.result.layQuantity
          this.form.layName = response.data.result.layName
          this.form.layStDate = response.data.result.layStDate
          this.form.layEnDate = response.data.result.layEnDate
          this.form.layAccessBalance = response.data.result.layBalance
          this.form.layVip = response.data.result.layVip
          this.form.layHoldFlag = response.data.result.layHoldFlag
          if(response.data.result.layHoldFlag){
            this.form.layHoldStDate = response.data.result.layHoldStDate
          }

          // this.getBrandList()
          // this.getStoreList()
          this.getPackageList()
          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          var dataParam = {
            layStDate : this.form.layStDate,
            // layEnDate : this.form.layEnDate,
            // layAccessBalance : this.form.layAccessBalance,
            layGympkgId: this.form.layGympkgId,
            layHoldFlag: this.form.layHoldFlag,
            layHoldStDate: this.form.layHoldStDate
          }
          if(this.packetType == 'access') {
            dataParam = Object.assign( {}, dataParam, {layAccessFlag: 1})
          }
          else if(this.packetType == 'personal_trainer') {
            dataParam = Object.assign( {}, dataParam, {layPtFlag: 1})
          }
          this.loading = true;
          this.$axios.$put('gym/memberpackage/' + this.$route.params.id, dataParam
          )
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
        }
      }
    },
    submitEnter() {
      if(this.loading == false) {
        if(this.edit === false) {
          this.submitAdd()
        }
        if(this.edit === true) {
          this.submitUpdate()
        }
      }
    },
    async submitAdd () {
      this.$refs.form.reset()
      let response = await this.$refs.form.validate()
      if(response) {
        var formParam = {}
        if(this.packetType == 'access') {
          formParam = Object.assign( {}, this.form, {layAccessFlag: 1})
        }
        else if(this.packetType == 'personal_trainer') {
          formParam = Object.assign( {}, this.form, {layPtFlag: 1})
        }
        this.loading = true;
        this.$axios.$post('gym/memberpackage', formParam)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/gym/member_package')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
