<template>
  <v-app id="no-authorized">
    <template>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <div class="text-md-center">
              <h1>Not Authorized</h1>
              <h2 class="my-3 headline ">Sorry, your are not authorized to access this page</h2>
              <div>
                <v-btn color="primary" @click="goHome">Go Home</v-btn>
              </div>
            </div>
          </v-layout>
        </v-container>
    </template>
  </v-app>
</template>

<script>
  export default {
    name: 'error-not-authorize',
    props: {
      error: {
        type: Object,
        default: () => {},
      },
    },
    methods: {
      goHome () {
        this.$router.push({ path: '/' });
      },
      goLogin () {
        this.$router.push({ path: '/login' });
      }
    },
    layout: 'default' // you can set a custom layout for the error page
  }
</script>

<style scoped lang="css">
  h1 {
    font-size: 150px;
    line-height: 150px;
    font-weight: 700;
    color: #252932;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
  }
</style>
