<template>
  <v-dialog v-model="dialog" persistent max-width="290">
    <v-card>
      <v-card-title class="headline">
        Error
      </v-card-title>
      <v-card-text>{{ error.status }}</v-card-text>
      <v-card-text>{{ error.statusText }}</v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="green darken-1" text @click="dialog = false">
          OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  name: 'FormError',
  props: {
    error: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    dialog: false
  }),
  computed: {
  },
  methods: {
    open () {
      this.dialog = true
    }
  },
  mounted () {
    console.log("formerror")
  }
}
</script>
