<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.edit') }} {{ $t('gym.member.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/gym/member">
              {{ $t('pages.back') }}
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <MemberForm :id="props.id" :edit="true" />
    </v-container>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    MemberForm: () => import('@/components/form/gym/member/GymMemberForm')
  },
  data: () => ({
    props: {
      id: ''
    }
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_edit')) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  created () {
    this.props.id = this.$route.params.id
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
  }
}
</script>
