<template>
  <div>
    <ValidationObserver ref="form">
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                name="name"
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      label="name"
                      v-model="form.layName"
                      :disabled="password"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                name="email"
                ref="email"
                rules="required|email"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layEmail"
                      label="email"
                      :disabled="password"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layEmail" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                name="password"
                ref="password"
                rules="required|min:7"
                :bails="false" v-if="edit === false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layPassword"
                      label="password"
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show1 ? 'text' : 'password'"
                      @click:append="show1 = !show1"
                      counter
                      hint="password_hint"
                      :disabled="edit"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layPassword" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                name="workplace"
                ref="workplace"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layWorkPlace"
                      label="Tempat Kerja"
                      :disabled="password"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layWorkPlace" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <!-- <ValidationProvider 
                v-slot="{ errors }"
                name="phone"
                ref="phone"
                rules="required"
                :bails="false"> -->
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layPhoneNo"
                      label="Nomor telepon"
                      :disabled="password"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layPhoneNo" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              <!-- </ValidationProvider> -->
              <ValidationProvider 
                v-slot="{ errors }"
                name="adm1"
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm1Items"
                      label="Provinsi"
                      v-model="form.layAdm1Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getAdm2"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm1Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                name="adm2"
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm2Items"
                      label="Kabupaten/Kota"
                      v-model="form.layAdm2Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getAdm3"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm2Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                name="adm3"
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm3Items"
                      label="Kecamatan"
                      v-model="form.layAdm3Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getAdm4"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm3Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <!-- <ValidationProvider 
                v-slot="{ errors }"
                name="adm3"
                ref="code"
                rules="required"
                :bails="false"> -->
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm4Items"
                      label="Kelurahan"
                      v-model="form.layAdm4Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm4Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              <!-- </ValidationProvider> -->
              <!-- <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('employee.employee.address') "
                ref="address"
                rules="required"
                :bails="false"> -->
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-textarea
                      label="Alamat"
                      v-model="form.layHomeAddress"
                      :disabled="password"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layHomeAddress" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              <!-- </ValidationProvider> -->
              <v-row v-if="edit === false && password === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      Simpan
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      Reset
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true || password === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      Update
                    </v-btn>
                    <v-btn
                      v-if="password === false"
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      Reset
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <FormError :error="error" ref="formerror" ></FormError>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')

export default {
  name: 'OperatorForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    FormError: () => import(/* webpackPrefetch: true */'@/components/dialog/FormError'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    password: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    show1: false,
    form: {
      layName: '',
      layEmail: '',
      layPassword: '',
      layWorkPlace:'',
      layPhoneNo: '',
      layHomeAddress: '',
      layAdm1Id: '',
      layAdm2Id: '',
      layAdm3Id: '',
      layAdm4Id: ''
    },
    list: {
      adm1Items:[],
      adm2Items:[],
      adm3Items:[],
      adm4Items:[]
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    rules: {
      required: value => !!value || 'Harus diisi.'
    }
  }),
  mounted () {
    this.getSelectList()
    if (this.edit || this.password) {
      this.getEditData()
    }
  },
  methods: {
    resetData () {
      this.form.layName = ''
      this.form.layEmail = ''
      this.form.layPassword = ''
      this.form.layWorkPlace = ''
      this.form.layPhoneNo = ''
      this.form.layHomeAddress = ''
      this.form.layAdm1Id = ''
      this.form.layAdm2Id = ''
      this.form.layAdm3Id = ''
      this.form.layAdm4Id = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getEditData () {
      this.$axios.get('/operator/' + this.id + '/edit')
        .then((response) => {
          this.form.layName = response.data.result.layName
          this.form.layEmail = response.data.result.layEmail
          this.form.layWorkPlace = response.data.result.layWorkPlace
          this.form.layPhoneNo = response.data.result.layPhoneNo
          this.form.layHomeAddress = response.data.result.layHomeAddress
          this.form.layAdm1Id = response.data.result.layAdm1Id
          this.form.layAdm2Id = response.data.result.layAdm2Id
          this.form.layAdm3Id = response.data.result.layAdm3Id
          this.form.layAdm4Id = response.data.result.layAdm4Id
          this.processResponse(response, 'get')
          this.getAdm2()
          this.getAdm3()
          this.getAdm4()
        })
        .catch(({ error }) => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('operator/' + this.$route.params.id, {
            layName: this.form.layName, 
            layEmail: this.form.layEmail,
            layWorkPlace: this.form.layWorkPlace,
            layPhoneNo: this.form.layPhoneNo,
            layHomeAddress: this.form.layHomeAddress,
            layAdm1Id: this.form.layAdm1Id,
            layAdm2Id: this.form.layAdm2Id,
            layAdm3Id: this.form.layAdm3Id,
            layAdm4Id: this.form.layAdm4Id,
            })
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
      if(this.password) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('operator/' + this.$route.params.id + '/password', {layPassword: this.form.layPassword})
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitAdd () {
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;
        this.$axios.$post('operator', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    getSelectList () {
      this.$axios.get('/administrativefirst/selectlist')
        .then((response) => {
          this.list.adm1Items = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
    },
    getAdm2 () {
      this.list.adm2Items = []
      this.$axios.get('/administrativesecond/selectlist/'+this.form.layAdm1Id)
      .then((response) => {
        this.list.adm2Items = response.data.result
        this.processResponse(response, 'selectlist')
      })
      .catch(errors => {
        this.processResponse(errors, 'selectlist')
      })
    },
    getAdm3 () {
      this.list.adm3Items = []
      this.$axios.get('/administrativethird/selectlist/'+this.form.layAdm2Id)
      .then((response) => {
        this.list.adm3Items = response.data.result
        this.processResponse(response, 'selectlist')
      })
      .catch(errors => {
        this.processResponse(errors, 'selectlist')
      })
    },
    getAdm4 () {
      this.list.adm4Items = []
      this.$axios.get('/administrativefourth/selectlist/'+this.form.layAdm3Id)
      .then((response) => {
        this.list.adm4Items = response.data.result
        this.processResponse(response, 'selectlist')
      })
      .catch(errors => {
        this.processResponse(errors, 'selectlist')
      })
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/operator')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open(response.response.data.status, 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
