<template>
  <div>
    <sale-statistic
      :data-number="number"
      :sub-title="subTitle"
      :color="color"
    />
  </div>
</template>

<script>
import SaleStatistic from '@/components/widgets/statistic/SaleStatistic'
import Money from '@/util/money';

export default {
  name: 'DashAnnuallySale',
  components: {
    SaleStatistic
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    searchCompany: {
      type: Number,
      default: null
    },
    searchBrand: {
      type: Number,
      default: null
    },
    searchStore: {
      type: Number,
      default: null
    },
    searchYear: {
      type: Number,
      default: null
    },
    searchMonth: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layYear: '',
      layMonth: ''
    },
    number: '0',
    error: {
      status: '',
      statusText: ''
    }
  }),
  mounted () {
    this.number = '0'
    this.getData()
  },
  methods: {
    getData () {
      this.search.layCmp = ''
      this.search.layBrnd = ''
      this.search.layStore = ''
      this.search.layYear = ''
      this.search.layMonth = ''
      this.search.layCmp = this.searchCompany
      this.search.layBrnd = this.searchBrand
      this.search.layStore = this.searchStore
      this.search.layYear = this.searchYear
      this.search.layMonth = this.searchMonth
      if(this.searchCompany == null) {
        this.search.layCmp = ''
      }
      if(this.searchBrand == null) {
        this.search.layBrnd = ''
      }
      if(this.searchStore == null) {
        this.search.layStore = ''
      }
      if(this.searchYear == null) {
        this.search.layYear = ''
      }
      if(this.searchMonth == null) {
        this.search.layMonth = ''
      }
      // this.$axios.get('gym/dashboard/sale/today')
      this.$axios.get('gym/dashboard/sale/annually',{
        params: {
          search: this.search
        }
      })
      .then((response) => {
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          this.number = Money.formatPrice(response.result)
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  watch: {
    srcButton: {
      handler () {
        if(this.srcButton == true) {
          this.getData()
        }
      },
      deep: true
    },
  }
}
</script>
