<template>
  <div>
    <v-flex>
      <v-widget :title="subTitle" content-bg="white">
        <!-- <v-btn icon slot="widget-header-action">
          <v-icon class="text--secondary">refresh</v-icon>
        </v-btn> -->
        <div slot="widget-content">
          <e-chart
            :path-option="pathOption"
            height="400px"
            width="100%"
          >
          </e-chart>
        </div>
      </v-widget>
    </v-flex>
  </div>
</template>

<script>
import EChart from '@/components/chart/echart';
import Material from 'vuetify/es5/util/colors';

export default {
  name: 'DashAnnuallySaleChart',
  components: {
    EChart,
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    searchCompany: {
      type: Number,
      default: null
    },
    searchBrand: {
      type: Number,
      default: null
    },
    searchStore: {
      type: Number,
      default: null
    },
    searchYear: {
      type: Number,
      default: null
    },
    searchMonth: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }  },
  data: () => ({
    color: Material,
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layYear: '',
      layMonth: ''
    },
    error: {
      status: '',
      statusText: ''
    },
    chartData: [],
    pathOption: null,
    chartExample: {
      'month': ['1','2','3','4','5'],
      'vip': [10,12,15,90,140],
      'novip': [13,10,11,95,110]
    },
    chartExample1: [
      {
        'month' : '1',
        'vip' : "10",
        'novip' : "13",
        'token': "1",
        'vip1' : "10",
        'novip1' : "13",
        'token1': "1",
      },
      {
        'month' : '2',
        'vip' : "12",
        'novip' : "10",
        'token': 4,
        'vip1' : "10",
        'novip1' : "13",
        'token1': "1",
      },
      {
        'month' : '3',
        'vip' : "15",
        'novip' : "11",
        'token': "8",
        'vip1' : "10",
        'novip1' : "13",
        'token1': "1",
      },
      {
        'month' : '4',
        'vip' : "95",
        'novip' : "95",
        'token': "150",
        'vip1' : "10",
        'novip1' : "13",
        'token1': "1",
      },
      {
        'month' : '5',
        'vip' : "140",
        'novip' : "110",
        'token': "15",
        'vip1' : "10",
        'novip1' : "13",
        'token1': "1",
      },
    ],
    chartExample2: [
      ['month','vip','novip'],
      ['1',5,10],
      ['2',10,15],
      ['3',20,25],
      ['4',30,35],
      ['5',40,45],
    ]
  }),
  mounted () {
    this.getData()
  },
  methods: {
    async getData () {
      this.search.layCmp = ''
      this.search.layBrnd = ''
      this.search.layStore = ''
      this.search.layYear = ''
      this.search.layMonth = ''
      this.search.layCmp = this.searchCompany
      this.search.layBrnd = this.searchBrand
      this.search.layStore = this.searchStore
      this.search.layYear = this.searchYear
      this.search.layMonth = this.searchMonth
      if(this.searchCompany == null) {
        this.search.layCmp = ''
      }
      if(this.searchBrand == null) {
        this.search.layBrnd = ''
      }
      if(this.searchStore == null) {
        this.search.layStore = ''
      }
      if(this.searchYear == null) {
        this.search.layYear = ''
      }
      if(this.searchMonth == null) {
        this.search.layMonth = ''
      }
      await this.$axios.get('gym/dashboard/sale/annuallychart',{
        params: {
          search: this.search
        }
      })
      .then((response) => {
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(response.result.length > 0) {
            // this.pathOption = response.result
            this.chartData = response.result
            this.pathOption = [
              ['dataset.source', this.chartData],
              ['color', [this.color.lightBlue.base]],
              ['legend.show', true],
              ['xAxis.axisLabel.show', true],
              ['yAxis.axisLabel.show', true],
              ['grid.left', '2%'],
              ['grid.bottom', '5%'],
              ['grid.right', '3%'],
              ['series[0].type', 'bar'],
              ['series[0].areaStyle', '{}'],
              ['series[0].smooth', true],
            ]
            // this.pathOption = [
            //   ['dataset.source', this.chartExample1],
            //   // ['color', [this.color.lightBlue.base]],
            //   ['legend.show', true],
            //   ['xAxis.axisLabel.show', true],
            //   ['yAxis.axisLabel.show', true],
            //   ['grid.left', '2%'],
            //   ['grid.bottom', '5%'],
            //   ['grid.right', '3%'],
            //   ['series[0].type', 'bar'],
            //   ['series[0].stack', 'satu'],
            //   // ['series[0].areaStyle', {}],
            //   ['series[0].smooth', true],
            //   ['series[0].emphasis.focus', 'series'],
            //   ['series[1].type', 'bar'],
            //   ['series[1].stack', 'satu'],
            //   // ['series[1].areaStyle', {}],
            //   ['series[1].smooth', true],
            //   ['series[1].emphasis.focus', 'series'],
            //   ['series[2].type', 'bar'],
            //   ['series[2].stack', 'satu'],
            //   // ['series[2].areaStyle', {}],
            //   ['series[2].smooth', true],
            //   ['series[2].emphasis.focus', 'series'],
            //   ['series[3].type', 'bar'],
            //   ['series[3].stack', 'satu'],
            //   // ['series[3].areaStyle', {}],
            //   ['series[3].smooth', true],
            //   ['series[3].emphasis.focus', 'series'],
            //   ['series[4].type', 'bar'],
            //   ['series[4].stack', 'satu'],
            //   // ['series[4].areaStyle', {}],
            //   ['series[4].smooth', true],
            //   ['series[4].emphasis.focus', 'series'],
            //   ['series[5].type', 'bar'],
            //   ['series[5].stack', 'satu'],
            //   // ['series[5].areaStyle', {}],
            //   ['series[5].smooth', true],
            //   ['series[5].emphasis.focus', 'series'],
            // ]
          } else {
            this.pathOption = null
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    siteTrafficData () {
      return this.chartData
    },
  },
  watch: {
    srcButton: {
      handler () {
        if(this.srcButton == true) {
          this.getData()
        }
      },
      deep: true
    },
  }
}
</script>
