<template>
  <div>
    <v-flex>
      <v-widget :title="subTitle" content-bg="white">
        <!-- <v-btn icon slot="widget-header-action">
          <v-icon class="text--secondary">refresh</v-icon>
        </v-btn> -->
        <div slot="widget-content">
          <e-chart
            :path-option="pathOption"
            height="400px"
            width="100%"
          >
          </e-chart>
        </div>
      </v-widget>
    </v-flex>
  </div>
</template>

<script>
import EChart from '@/components/chart/echart';
import Material from 'vuetify/es5/util/colors';

export default {
  name: 'DashMonthlySaleChart',
  components: {
    EChart,
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    // color: {
    //   type: String,
    //   default: ''
    // },
    searchCompany: {
      type: Number,
      default: null
    },
    searchBrand: {
      type: Number,
      default: null
    },
    searchStore: {
      type: Number,
      default: null
    },
    searchYear: {
      type: Number,
      default: null
    },
    searchMonth: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }  },
  data: () => ({
    color: Material,
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layYear: '',
      layMonth: ''
    },
    error: {
      status: '',
      statusText: ''
    },
    chartData: [],
    pathOption: null
  }),
  mounted () {
    this.getData()
  },
  methods: {
    async getData () {
      this.search.layCmp = ''
      this.search.layBrnd = ''
      this.search.layStore = ''
      this.search.layYear = ''
      this.search.layMonth = ''
      this.search.layCmp = this.searchCompany
      this.search.layBrnd = this.searchBrand
      this.search.layStore = this.searchStore
      this.search.layYear = this.searchYear
      this.search.layMonth = this.searchMonth
      if(this.searchCompany == null) {
        this.search.layCmp = ''
      }
      if(this.searchBrand == null) {
        this.search.layBrnd = ''
      }
      if(this.searchStore == null) {
        this.search.layStore = ''
      }
      if(this.searchYear == null) {
        this.search.layYear = ''
      }
      if(this.searchMonth == null) {
        this.search.layMonth = ''
      }
      await this.$axios.get('gym/dashboard/sale/monthlychart',{
        params: {
          search: this.search
        }
      })
      .then((response) => {
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(response.result.length > 0) {
            this.chartData = response.result
            this.pathOption = [
              ['dataset.source', this.chartData],
              ['color', [this.color.lightBlue.base]],
              ['legend.show', true],
              ['xAxis.axisLabel.show', true],
              ['yAxis.axisLabel.show', true],
              ['grid.left', '2%'],
              ['grid.bottom', '5%'],
              ['grid.right', '3%'],
              ['series[0].type', 'bar'],
              ['series[0].areaStyle', {}],
              ['series[0].smooth', true],
            ]
          } else {
            this.pathOption = null
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    siteTrafficData () {
      return this.chartData
    },
  },
  watch: {
    srcButton: {
      handler () {
        if(this.srcButton == true) {
          this.getData()
        }
      },
      deep: true
    },
  }
}
</script>
