<template>
  <div>
    <v-row>
      <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0">
        <v-select
          :items="list.companyItems"
          v-bind:label=" ('store.company') "
          v-model="search.layCmp"
          item-text="layName"
          item-value="layCode"
          clearable
          v-on:change="getBrandList"
        ></v-select>
      </v-col>
      <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0 || this.userLevel == 1">
        <v-select
          :items="list.brandItems"
          v-bind:label=" ('gym.member_package.brand') "
          v-model="search.layBrnd"
          item-text="layName"
          item-value="layCode"
          clearable
          v-on:change="getStoreList"
        ></v-select>
      </v-col>
      <v-col lg="4" md="4" sm="10" v-if="this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2">
        <v-select
          :items="list.storeItems"
          v-bind:label=" ('gym.package.store') "
          v-model="search.layStore"
          item-text="layName"
          item-value="layCode"
          clearable
        >                      
        </v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col lg="2" md="2" sm="12">
        <v-select
          :items="list.yearItems"
          v-bind:label=" ('dashboard.year') "
          v-model="search.layYear"
          item-text="layName"
          item-value="layCode"
          clearable
        >
        </v-select>
      </v-col>
      <v-col lg="2" md="2" sm="12">
        <v-select
          :items="list.monthItems"
          v-bind:label=" ('dashboard.month') "
          v-model="search.layMonth"
          item-text="layName"
          item-value="layCode"
          clearable
        >
        </v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <div class="my-2">
          <v-btn
            :loading="loading"
            :disabled="loading"
            color="primary"
            @click="searchData"
          >
            {{ ('pages.search') }}
            <v-icon right>search</v-icon>
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-tabs
          fixed-tabs
          color="deep-purple accent-4"
          
        >
          <v-tab>
            Anggota
          </v-tab>
          <v-tab>
            Paket Anggota
          </v-tab>
          <v-tab>
            Riwayat Kunjungan
          </v-tab>
          <v-tab>
            Penjualan
          </v-tab>

          <v-tab-item
            key="1"
          >
            <v-container fluid>
              <v-row>
                <v-col
                  key="1"
                  cols="12"
                >
                  <v-row>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalMember == true">
                      <DashTotalMember
                        sub-title="Total Member"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :srcButton=srcButton
                      />
                    </v-col>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTodayMember == true">
                      <DashTodayMember
                        sub-title="Member Baru Hari ini"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col lg="6" sm="6" xs="12">
                      <Birthday
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>

          <v-tab-item
            key="2"
          >
            <v-tabs
              fixed-tabs
              color="deep-purple accent-4"
              
            >
              <v-tab>
                Hari Ini
              </v-tab>
              <v-tab>
                Bulan {{label.month}}
              </v-tab>
              <v-tab>
                Tahun {{label.year}}
              </v-tab>
              <v-tab>
                Masih Aktif
              </v-tab>
              <!-- hari ini -->
              <v-tab-item
                key="1" 
              >
                  <v-card-title>
                    <h4>Paket Terjual Hari Ini</h4>
                  </v-card-title>
                  <v-card class="mt-3">
                    <v-container fluid>
                      <!-- <v-card-title>
                        <h4>Paket Terjual Hari Ini</h4>
                      </v-card-title> -->
                      <v-row>
                        <v-col
                          key="2"
                          cols="12"
                        >
                          <h3>Total</h3>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackageToday == true">
                              <DashTotalActivePackage
                                sub-title="Total Paket Akses"
                                color="indigo"
                                mode="today"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveVipPackageToday == true">
                              <DashTotalActiveVipPackage
                                sub-title="Akses Unlimited"
                                color="indigo"
                                mode="today"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveTokenPackageToday == true">
                              <DashTotalActiveTokenPackage
                                sub-title="Akses Token"
                                color="indigo"
                                mode="today"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackagePersonalTrainerToday == true">
                              <DashTotalActivePackagePersonalTrainer
                                sub-title="Total Paket Personal Trainer"
                                color="indigo"
                                mode='today'
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                  <v-row>
                    <v-col
                      key="2"
                      cols="12"
                      v-if="this.permissionDashTotalAllPackageDataTableToday == true"
                    >
                      <DashTotalAllPackageDataTable
                        sub-title="Total Per Paket"
                        type="access"
                        mode="today"
                        :day="false"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
              </v-tab-item>
              <!-- bulan ini -->
              <v-tab-item
                key="2"
              >
                  <v-card-title>
                    <h4>Paket Terjual Bulan {{label.month}}</h4>
                  </v-card-title>
                  <v-card class="mt-3"
                    v-if="this.permissionDashTotalActivePackageMonthly == true || this.permissionDashTotalActiveVipPackageMonthly == true || this.permissionDashTotalActiveTokenPackageMonthly == true || this.permissionDashTotalActivePackagePersonalTrainerMonthly == true"
                  >
                    <v-container fluid>
                      <v-row>
                        <v-col
                          key="2"
                          cols="12"
                        >
                          <h3>Total</h3>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackageMonthly == true">
                              <DashTotalActivePackage
                                sub-title="Total Paket Akses"
                                color="indigo"
                                mode="monthly"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveVipPackageMonthly == true">
                              <DashTotalActiveVipPackage
                                sub-title="Akses Unlimited"
                                color="indigo"
                                mode="monthly"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveTokenPackageMonthly == true">
                              <DashTotalActiveTokenPackage
                                sub-title="Akses Token"
                                color="indigo"
                                mode="monthly"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackagePersonalTrainerMonthly == true">
                              <DashTotalActivePackagePersonalTrainer
                                sub-title="Total Paket Personal Trainer"
                                color="indigo"
                                mode='monthly'
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                  <v-row>
                    <v-col
                      key="2"
                      cols="12"
                      v-if="this.permissionDashTotalAllPackageDataTableMonthly == true"
                    >
                      <DashTotalAllPackageDataTable
                        sub-title="Total Per Paket"
                        type="access"
                        mode="monthly"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      key="2"
                      cols="12"
                      v-if="this.permissionDashTotalAllPackageDataTableMonthly == true"
                    >
                      <DashTotalAllPackageDataTable
                        sub-title="Total Per Paket Per Hari"
                        type="access"
                        mode="monthly"
                        :day="true"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col lg="12" sm="12" xs="12" v-if="this.permissionDashAllPackageChartMonthly == true">
                      <DashAllPackageChart
                        sub-title="Total Paket Per Hari"
                        mode="monthly"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
              </v-tab-item>
              <!-- tahun ini -->
              <v-tab-item
                key="3"
              >
                  <v-card-title>
                    <h4>Paket Terjual Tahun {{label.year}}</h4>
                  </v-card-title>
                  <v-card class="mt-3"
                    v-if="this.permissionDashTotalActivePackageAnnually == true || this.permissionDashTotalActiveVipPackageAnnually == true || this.permissionDashTotalActiveTokenPackageAnnually == true || this.permissionDashTotalActivePackagePersonalTrainerAnnually == true"
                  >
                    <v-container fluid>
                      <v-row>
                        <v-col
                          key="2"
                          cols="12"
                        >
                          <h3>Total</h3>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackageAnnually == true">
                              <DashTotalActivePackage
                                sub-title="Total Paket Akses"
                                color="indigo"
                                mode="annually"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveVipPackageAnnually == true">
                              <DashTotalActiveVipPackage
                                sub-title="Akses Unlimited"
                                color="indigo"
                                mode="annually"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveTokenPackageAnnually == true">
                              <DashTotalActiveTokenPackage
                                sub-title="Akses Token"
                                color="indigo"
                                mode="annually"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackagePersonalTrainerAnnually == true">
                              <DashTotalActivePackagePersonalTrainer
                                sub-title="Total Paket Personal Trainer"
                                color="indigo"
                                mode='annually'
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                  <v-row>
                    <v-col
                      key="2"
                      cols="12"
                      v-if="this.permissionDashTotalAllPackageDataTableAnnually == true"
                    >
                      <!-- <h3>Jenis Paket</h3> -->
                      <DashTotalAllPackageDataTable
                        sub-title="Total Per Paket"
                        type="access"
                        mode="annually"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
              </v-tab-item>
              <!-- masih aktif -->
              <v-tab-item
                key="4"
              >
                  <v-card-title>
                    <h4>Paket Masih Aktif Sampai Hari Ini</h4>
                  </v-card-title>
                  <v-card class="mt-3">
                    <v-container fluid>
                      <v-row>
                        <v-col
                          key="2"
                          cols="12"
                        >
                          <h3>Total</h3>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackage == true">
                              <DashTotalActivePackage
                                sub-title="Total Paket Akses"
                                color="indigo"
                                mode="active"
                                :hide-revenue="true"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveVipPackage == true">
                              <DashTotalActiveVipPackage
                                sub-title="Akses Unlimited"
                                color="indigo"
                                mode="active"
                                :hide-revenue="true"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActiveTokenPackage == true">
                              <DashTotalActiveTokenPackage
                                sub-title="Akses Token"
                                color="indigo"
                                mode="active"
                                :hide-revenue="true"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalActivePackagePersonalTrainer == true">
                              <DashTotalActivePackagePersonalTrainer
                                sub-title="Total Paket Personal Trainer"
                                color="indigo"
                                mode='active'
                                :hide-revenue="true"
                                :search-company=search.layCmp
                                :search-brand=search.layBrnd
                                :search-store=search.layStore
                                :search-month=search.layMonth
                                :search-year=search.layYear
                                :srcButton=srcButton
                              />
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                  <v-row>
                    <v-col
                      key="2"
                      cols="12"
                      v-if="this.permissionDashTotalAllPackageDataTable == true"
                    >
                      <DashTotalAllPackageDataTable
                        sub-title="Per Paket"
                        type="access"
                        mode="active"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
              </v-tab-item>
            </v-tabs>


          </v-tab-item>

          <v-tab-item
            key="3"
          >
            <v-container fluid>
              <v-row>
                <v-col
                  key="3"
                  cols="12"
                >
                  <v-row>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTotalAccessHistory == true">
                      <DashTotalAccessHistory
                        sub-title="Total Akses"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTodayAccessHistory == true">
                      <DashTodayAccessHistory
                        sub-title="Akses Hari ini"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>

          <v-tab-item
            key="4"
          >
            <v-container fluid>
              <v-row>
                <v-col
                  key="4"
                  cols="12"
                >
                  <v-row>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashTodaySale == true">
                      <DashTodaySale
                        sub-title="Penjualan Hari ini"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashMonthlySale == true">
                      <DashMonthlySale
                        sub-title="Penjualan Bulan ini"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                    <v-col lg="3" sm="6" xs="12" v-if="this.permissionDashAnnuallySale == true">
                      <DashAnnuallySale
                        sub-title="Penjualan Tahun ini"
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col lg="6" sm="6" xs="12" v-if="this.permissionDashMonthlySaleChart == true">
                      <DashMonthlySaleChart
                        sub-title="Penjualan Bulan ini"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                    <v-col lg="6" sm="6" xs="12" v-if="this.permissionDashAnnuallySaleChart == true">
                      <DashAnnuallySaleChart
                        sub-title="Penjualan Tahun ini"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      key="2"
                      cols="12"
                       v-if="this.permissionDashTodayUserSale == true"
                    >
                      <h3>User</h3>
                      <DashTodayUserSale 
                        color="indigo"
                        :search-company=search.layCmp
                        :search-brand=search.layBrnd
                        :search-store=search.layStore
                        :search-month=search.layMonth
                        :search-year=search.layYear
                        :srcButton=srcButton
                      />
                    </v-col>                    
                  </v-row>
                  
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>

        </v-tabs>

        <v-card
          outlined
          tile
        >
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import DashTotalMember from '@/components/dashboard/gym/member/total_member'
import DashTodayMember from '@/components/dashboard/gym/member/today_member'
import Birthday from '@/components/dashboard/gym/member/birthday'

import DashTotalActivePackage from '@/components/dashboard/gym/member_package/total_active_package'
import DashTotalActiveVipPackage from '@/components/dashboard/gym/member_package/total_active_vip_package'
import DashTotalActiveTokenPackage from '@/components/dashboard/gym/member_package/total_active_token_package'
// import DashTotalAllPackage from '@/components/dashboard/gym/member_package/total_all_package'
import DashTotalAllPackageDataTable from '@/components/dashboard/gym/member_package/total_all_package_datatable'
import DashAllPackageChart from '@/components/dashboard/gym/member_package/all_package_chart'

import DashTotalActivePackagePersonalTrainer from '@/components/dashboard/gym/member_package/total_active_package_personal_trainer'
// import DashTotalAllPackagePersonalTrainer from '@/components/dashboard/gym/member_package/total_all_package_personal_trainer'

import DashTotalAccessHistory from '@/components/dashboard/gym/access_history/total_access_history'
import DashTodayAccessHistory from '@/components/dashboard/gym/access_history/today_access_history'

import DashTodaySale from '@/components/dashboard/gym/sales/today_sale'
import DashTodayUserSale from '@/components/dashboard/gym/sales/today_user_sale'
import DashMonthlySale from '@/components/dashboard/gym/sales/monthly_sale'
import DashAnnuallySale from '@/components/dashboard/gym/sales/annually_sale'
import DashMonthlySaleChart from '@/components/dashboard/gym/sales/monthly_sale_chart'
import DashAnnuallySaleChart from '@/components/dashboard/gym/sales/annually_sale_chart'
import { format } from 'date-fns'

export default {
  name: 'GymDashboard',
  components: {
    DashTotalMember,
    DashTodayMember,
    DashTotalActivePackage,
    DashTotalActivePackagePersonalTrainer,
    // DashTotalAllPackagePersonalTrainer,
    DashTotalActiveVipPackage,
    DashTotalActiveTokenPackage,
    // DashTotalAllPackage,
    DashTotalAllPackageDataTable,
    DashAllPackageChart,
    DashTotalAccessHistory,
    DashTodayAccessHistory,
    DashTodaySale,
    DashTodayUserSale,
    DashMonthlySale,
    DashAnnuallySale,
    DashMonthlySaleChart,
    DashAnnuallySaleChart
  },
  props: {
  },
  data: () => ({
    search: {
      layCmp: null,
      layBrnd: null,
      layStore: null,
      layYear: parseInt(format(new Date(), 'yyyy')),
      layMonth: parseInt(format(new Date(), 'M'))
    },
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
      yearItems:[
        {
          layCode: 2020,
          layName: '2020'
        },
        {
          layCode: 2021,
          layName: '2021'
        }
      ],
      monthItems:[
        {
          layCode: 1,
          layName: 'Januari'
        },
        {
          layCode: 2,
          layName: 'Februari'
        },
        {
          layCode: 3,
          layName: 'Maret'
        },
        {
          layCode: 4,
          layName: 'April'
        },
        {
          layCode: 5,
          layName: 'Mei'
        },
        {
          layCode: 6,
          layName: 'Juni'
        },
        {
          layCode: 7,
          layName: 'Juli'
        },
        {
          layCode: 8,
          layName: 'Agustus'
        },
        {
          layCode: 9,
          layName: 'September'
        },
        {
          layCode: 10,
          layName: 'Oktober'
        },
        {
          layCode: 11,
          layName: 'November'
        },
        {
          layCode: 12,
          layName: 'Desember'
        },
      ]
    },
    label: {
      month: 'ini',
      year: 'ini'
    },
    loading: false,
    srcButton: false,
    userLevel: -1,
    permissionDashTotalMember: false,
    permissionDashTodayMember: false,
    permissionDashTotalActivePackage: false,
    permissionDashTotalActivePackagePersonalTrainer: false,
    // permissionDashTotalAllPackagePersonalTrainer: false,
    permissionDashTotalActiveVipPackage: false,
    permissionDashTotalActiveTokenPackage: false,
    // permissionDashTotalAllPackage: false,
    permissionDashTotalAllPackageDataTable: false,
    permissionDashTotalActivePackageToday: false,
    permissionDashTotalActivePackagePersonalTrainerToday: false,
    permissionDashTotalActiveVipPackageToday: false,
    permissionDashTotalActiveTokenPackageToday: false,
    permissionDashTotalAllPackageDataTableToday: false,
    permissionDashTotalActivePackageMonthly: false,
    permissionDashTotalActivePackagePersonalTrainerMonthly: false,
    permissionDashTotalActiveVipPackageMonthly: false,
    permissionDashTotalActiveTokenPackageMonthly: false,
    permissionDashTotalAllPackageDataTableMonthly: false,
    permissionDashAllPackageChartMonthly: false,
    permissionDashTotalActivePackageAnnually: false,
    permissionDashTotalActivePackagePersonalTrainerAnnually: false,
    permissionDashTotalActiveVipPackageAnnually: false,
    permissionDashTotalActiveTokenPackageAnnually: false,
    permissionDashTotalAllPackageDataTableAnnually: false,
    permissionDashTotalAccessHistory: false,
    permissionDashTodayAccessHistory: false,
    permissionDashTodaySale: false,
    permissionDashTodayUserSale: false,
    permissionDashMonthlySale: false,
    permissionDashAnnuallySale: false,
    permissionDashMonthlySaleChart: false,
    permissionDashAnnuallySaleChart: false
  }),
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_member')) {
      this.permissionDashTotalMember = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_today_member')) {
      this.permissionDashTodayMember = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package')) {
      this.permissionDashTotalActivePackage = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_personal_trainer')) {
      this.permissionDashTotalActivePackagePersonalTrainer = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_vip_package')) {
      this.permissionDashTotalActiveVipPackage = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_token_package')) {
      this.permissionDashTotalActiveTokenPackage = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_all_package_datatable')) {
      this.permissionDashTotalAllPackageDataTable = true
    }

    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_today')) {
      this.permissionDashTotalActivePackageToday = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_personal_trainer_today')) {
      this.permissionDashTotalActivePackagePersonalTrainerToday = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_vip_package_today')) {
      this.permissionDashTotalActiveVipPackageToday = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_token_package_today')) {
      this.permissionDashTotalActiveTokenPackageToday = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_all_package_datatable_today')) {
      this.permissionDashTotalAllPackageDataTableToday = true
    }

    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_monthly')) {
      this.permissionDashTotalActivePackageMonthly = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_personal_trainer_monthly')) {
      this.permissionDashTotalActivePackagePersonalTrainerMonthly = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_vip_package_monthly')) {
      this.permissionDashTotalActiveVipPackageMonthly = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_token_package_monthly')) {
      this.permissionDashTotalActiveTokenPackageMonthly = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_all_package_datatable_monthly')) {
      this.permissionDashTotalAllPackageDataTableMonthly = true
    }

    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_annually')) {
      this.permissionDashTotalActivePackageAnnually = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_package_personal_trainer_annually')) {
      this.permissionDashTotalActivePackagePersonalTrainerAnnually = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_vip_package_annually')) {
      this.permissionDashTotalActiveVipPackageAnnually = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_active_token_package_annually')) {
      this.permissionDashTotalActiveTokenPackageAnnually = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_all_package_datatable_annually')) {
      this.permissionDashTotalAllPackageDataTableAnnually = true
    }

    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_all_package_chart_monthly')) {
      this.permissionDashAllPackageChartMonthly = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_total_access_history')) {
      this.permissionDashTotalAccessHistory = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_today_access_history')) {
      this.permissionDashTodayAccessHistory = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_today_sale')) {
      this.permissionDashTodaySale = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_today_user_sale')) {
      this.permissionDashTodayUserSale = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_monthly_sale')) {
      this.permissionDashMonthlySale = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_annually_sale')) {
      this.permissionDashAnnuallySale = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_monthly_sale_chart')) {
      this.permissionDashMonthlySaleChart = true
    }
    if(this.$storage.getUniversal("permissionStorage").includes('dashboard_annually_sale_chart')) {
      this.permissionDashAnnuallySaleChart = true
    }
    this.getSelectList()
  },
  methods: {
    searchData() {
      this.srcButton = true
      setTimeout(
        this.resetSrcbutton
      , 1000)
      this.label.month = this.list.monthItems.find(o => o.layCode === this.search.layMonth).layName
      this.label.year = this.list.yearItems.find(o => o.layCode === this.search.layYear).layName
      // this.options.page = 1
      // this.getPagination()
    },
    resetSrcbutton() {
      this.srcButton = false
    },
    getSelectList () {
      if(this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.userLevel == 1) {
        //dapet data brand langsung sesuai session
        this.$axios.get('/brand/selectlist')
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.userLevel == 2) {
        // dapet data store langsung sesuai session
        this.$axios.get('/store/selectlist')
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getBrandList () {
      this.list.brandItems = []
      this.search.layBrnd = ''
      if(this.userLevel == 0 || this.userLevel == 1) {
        this.$axios.get('/brand/companyselectlist/'+this.search.layCmp)
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getStoreList () {
      this.list.storeItems = []
      this.search.layStore = ''
      if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
        this.$axios.get('/store/brandselectList/'+this.search.layBrnd)
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {

                this.dataItems = data.items
                this.totalItems = data.total
              })            
          } else if(action === 'delete') {
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
}
</script>
