<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.detail') }} {{ $t('administrativeareafourth.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/layanesia/administrativeareafourth">
              {{ $t('pages.back') }}
            </v-btn>
            <v-btn small color="danger" @click="deleteItem(item)">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('administrativeareafourth.country') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.country }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('administrativeareafourth.adm1') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.province }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('administrativeareafourth.adm2') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.city }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('administrativeareafourth.adm3') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.camat }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('administrativeareafourth.name') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.name }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    data: {
      country: '-',
      province: '-',
      city: '-',
      camat: '-',
      name: '-',
    }
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('administrativeareafourth_show')) {
      this.$axios.$get('administrativefourth/' + this.$route.params.id).
        then((data) => {
          this.data.country = data.result.layCountry
          this.data.province = data.result.layProvince
          this.data.city = data.result.layCity
          this.data.camat = data.result.layCamat
          this.data.name = data.result.layName
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    deleteItem (item) {
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
