<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.detail') }} {{ $t('store.store_transaction_category.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/store/store_transaction_category/access">
              {{ $t('pages.back') }}
            </v-btn>
            <v-btn small color="danger" @click="deleteItem()">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.company') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.company }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0 || userLevel == 1">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.brand') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.brand }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0 || userLevel == 1 || userLevel == 2">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.store') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.store }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.name') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.name }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.range') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.range }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.access_counter') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.access_counter }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.price') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.price }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('store.store_transaction_category.description') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.description }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mt-5">
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.created_by') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.created_at') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_at }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.edited_by') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.edited_at') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_at }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    data: {
      company : '-',
      brand : '-',
      store : '-',
      name : '-',
      range: '-',
      access_counter : '-',
      price : '-',
      description: '-',
      created_by : '-',
      created_at : '-',
      edited_by : '-',
      edited_at : '-',
      userLevel: -1
    },
    range: {
      weekly: 0,
      monthly: 0,
      yearly: 0,
    }
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('store_transaction_category_show') && this.userlevel != -1) {
      this.$axios.$get('store/store_transaction_category/access/' + this.$route.params.id).
        then((data) => {
          this.data.company = data.result.layCompany
          this.data.brand = data.result.layBrand
          this.data.store = data.result.layStore
          this.data.name = data.result.layName
          this.data.access_counter = data.result.layCounter
          this.data.price = data.result.layPrice
          this.data.description = data.result.layDescription
          if(data.result.layWeeklyFlag)
          {
            this.data.range = 'Mingguan'
          }
          else if(data.result.layMonthlyFlag)
          {
            this.data.range = 'Bulanan'
          }
          else if(data.result.layYearlyFlag)
          {
            this.data.range = 'Tahunan'
          }
          this.data.created_by = data.result.layCreatedby
          this.data.created_at = data.result.layCreatedtime
          this.data.edited_by = data.result.layChangedby
          this.data.edited_at = data.result.layChangedtime
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    async deleteItem () {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('store/store_transaction_category/access/' + this.$route.params.id)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'delete') {
            this.$router.push('/store/store_transaction_category/access')
          }
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
