<template>
  <v-card>
    <v-card-text class="pa-0">
      <v-container class="pa-0">
        <div class="layout row ma-0">
          <div class="sm12 xs12 flex text-sm-center py-3 white--text" :class="color">
            <div class="headline">
              {{ dataNumber }}
            </div>
            <span class="caption">
              {{ subTitle }}
            </span>
          </div>
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    dataNumber: {
      type: Number,
      default: 0
    },
    subTitle: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    }
  },
  mounted () {
  }
}
</script>
