<template>
  <v-navigation-drawer
    app
    id="appDrawer"
    :mini-variant.sync="mini"
    v-model="drawer"
    width="260"
    absolute
    class="overflow-hidden"
    clipped
  >
    <v-toolbar color="primary darken-1" dark>
      <!-- <img src="../static/m.png" height="36" alt="Vue Material Admin Template"> -->
      <v-toolbar-title class="ml-0 pl-3">
        <span class="hidden-sm-and-down">Backoffice</span>
      </v-toolbar-title>
    </v-toolbar>
    <vue-perfect-scrollbar class="drawer-menu--scroll" :settings="scrollSettings">
      <v-list
        dense
        rounded
      >
        <div v-if="isLoggedIn">
          <!-- <v-list-item slot="activator" ripple="ripple" :to="{name: 'secret'}">
            <v-list-item-content>
              <v-list-item-title>Secret Page</v-list-item-title>
            </v-list-item-content>
          </v-list-item> -->
          <v-list-item slot="activator" ripple="ripple" href="#" right @click="logout">
            <v-list-item-icon>
              <v-icon>logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
            <!--group with subitems-->
          <div v-for="(item, i) in menus" :key="item.name">
            <div v-if="item.items" >
              <div v-if="hasPermission(item.permission) || hasPermissions(item.permissions)">
                <v-list-group            
                  :key="item.name"
                  v-model="item.active"
                  :group="item.group"
                  :prepend-icon="item.icon"
                  no-action
                >
                  <template v-slot:activator>
                    <v-list-item-content>
                      <v-list-item-title v-text="item.title"></v-list-item-title>
                    </v-list-item-content>
                  </template>
                  <div v-for="(subItem, j) in item.items" :key="subItem.name">
                    <div v-if="subItem.items">
                      <div v-if="hasPermission(subItem.permission) || hasPermissions(subItem.permissions)">
                        <!-- sub group -->
                        <v-list-group
                          :key="subItem.name"
                          :group="subItem.group"
                          sub-group
                          no-action
                        >
                          <template v-slot:activator>
                            <v-list-item-content>
                              <v-list-item-title v-text="subItem.title"></v-list-item-title>
                            </v-list-item-content>
                          </template>
                          <div v-for="(grand, k) in subItem.items" :key="k">
                            <div v-if="subItem.items">
                              <div v-if="hasPermission(subItem.permission) || hasPermissions(subItem.permissions)">
                                <v-list-item
                                  :key="k"
                                  :to="grand.href? grand.href : null"
                                >
                                  <v-list-item-content>
                                    <v-list-item-title v-text="grand.title"></v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                              </div>
                            </div>
                          </div>
                        </v-list-group>
                      </div>
                    </div>
                      <!--child item-->
                    <div v-else>
                        <v-list-item
                          v-if="hasPermission(subItem.permission)"
                          :key="j" 
                          :to="subItem.href? subItem.href : null"
                          :disabled="subItem.disabled" 
                          :target="subItem.target" 
                          ripple="ripple"
                          class="child-list"
                        >
                          <v-list-item-title><span>{{ subItem.title }}</span></v-list-item-title>
                          <v-list-item-action v-if="subItem.action">
                            <v-icon left :class="[subItem.actionClass || 'success--text']">{{ subItem.action }}</v-icon>
                          </v-list-item-action>
                        </v-list-item>
                    </div>
                  </div>
                </v-list-group>
              </div>
            </div>
            <div v-else-if="item.header">
              <div v-if="hasPermission(item.permission) || hasPermissions(item.permissions)">
                <v-subheader :key="i">
                    {{ item.header }}
                </v-subheader>
              </div>
            </div>
            <div v-else-if="item.divider">
              <v-divider :key="i"></v-divider>
            </div>
            <div v-else>
              <!--top-level link-->
              <div v-if="hasPermission(item.permission) || hasPermissions(item.permissions)">
                <v-list-item :to="item.href ? item.href : null" ripple="ripple"
                            :disabled="item.disabled" :target="item.target" rel="noopener" :key="item.name">
                  <v-list-item-action v-if="item.icon">
                    <v-icon left>{{ item.icon }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                  <v-list-item-action v-if="item.subAction">
                    <v-icon left class="success--text">{{ item.subAction }}</v-icon>
                  </v-list-item-action>
                </v-list-item>
              </div>
            </div>
          </div>
        </div>
        <v-list-item :to="{name: 'login'}" v-else>
          <v-list-item-title>Login</v-list-item-title>
        </v-list-item>
        <br/>
        <br/>
      </v-list>
    </vue-perfect-scrollbar>
  </v-navigation-drawer>
</template>
<script>
  import menu from '@/api/menu';
  import VuePerfectScrollbar from 'vue-perfect-scrollbar';

  export default {
    name: 'app-drawer',
    components: {
      VuePerfectScrollbar,
    },
    props: {
      expanded: {
        type: Boolean,
        default: true
      },
    },
    data: () => ({
      mini: false,
      menus: menu,
      scrollSettings: {
        maxScrollbarLength: 160
      },
    }),
    computed: {
      isLoggedIn() {
        console.log(this.$auth.loggedIn)
        return this.$auth.loggedIn;
      },
      drawer: {
        get() {
          return this.$store.state.drawer
        },
        set(val) {
          this.$store.commit('drawer', val)
        }
      },
      computeGroupActive() {
        return true;
      },
      sideToolbarColor() {
        return this.$vuetify.options.extra.sideNav;
      },
      permissionStorage: s => s.storage.permissionStorage
    },
    methods: {
      hasPermission(param) {
        if(param !== undefined) {
          return this.$storage.getUniversal("permissionStorage").includes(param)
        }
        else {
          return false;
        }
      },
      hasPermissions(array_param) {
        if(array_param !== undefined) {
          var count=array_param.length;
          for(var i=0;i<count;i++)
          {
              if(this.$storage.getUniversal("permissionStorage").includes(array_param[i])) {
                return true;
              }
          }
          return false;          
        }
        else {
          return false;
        }
      },
      genChildTarget(item, subItem) {
        if (subItem.href) return;
        if (subItem.component) {
          return {
            name: subItem.component,
          };
        }
        return {name: `${item.group}/${(subItem.name)}`};
      },
      async logout() {
        await this.$auth.logout()
        // this.$axios.$post('logout').then(resp => {
        this.$storage.setUniversal('permissionStorage', '')
        this.$store.dispatch('logout');
        //   this.$router.push('/');
        // }).catch(errors => {
        //   console.dir(errors);
        // });
      }
    }
  };
</script>

<style>
#appDrawer, .v-navigation-drawer__content {
  overflow-y: hidden;
}

#appDrawer .drawer-menu--scroll {
  height: calc(100vh - 78px);
  overflow: auto;
}

.v-application--is-ltr .v-list--dense .v-list-group--sub-group .v-list-group__header{
  padding-left: 32px;
}
.child-list {
  padding-left: 72px;
}
</style>
