<template>
  <div>
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step
            :complete="e1 > 1"
            step="1"
          >
            Data Karyawan
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step
            :complete="e1 > 2"
            step="2"
          >
            Data Akun
          </v-stepper-step>

          <v-divider></v-divider>

        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <ValidationObserver ref="form" >
            <form ref="form1" onSubmit="return false;">
              <v-row>
                <v-col lg="12" sm="12" md="12">
                  <!-- <v-card> -->
                    <v-container fluid>
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.company') "
                        ref="code"
                        rules="required"
                        v-if="userLevel == 0"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-select
                              :items="list.companyItems"
                              v-bind:label=" $t('employee.employee.company') "
                              v-model="form.layCmpId"
                              item-text="layName"
                              item-value="layCode"
                              clearable
                              v-on:change="getBrandList"
                            ></v-select>
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layCmpId" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>

                      <!-- brand -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.brand') "
                        ref="code"
                        v-if="(userLevel == 0 || userLevel == 1)"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-select
                              :items="list.brandItems"
                              v-bind:label=" $t('employee.employee.brand') "
                              v-model="form.layBrndId"
                              item-text="layName"
                              item-value="layCode"
                              v-on:change="getStoreList"
                              clearable
                            ></v-select>
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layBrndId" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>

                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('gym.package.store') "
                        ref="code"
                        v-if="(userLevel == 0 || userLevel == 1 || userLevel == 2)"
                        :bails="false">
                        <v-row wrap>
                          <v-col cols="10" lg="6" md="6" sm="10">
                            <v-select
                              :items="list.storeItems"
                              v-bind:label=" $t('gym.package.store') "
                              v-model="form.layStoreId"
                              item-text="layName"
                              item-value="layCode"
                              clearable
                            >                      
                            </v-select>
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layStoreId" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>
                      
                      <!-- name -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.name') "
                        ref="name"
                        rules="required"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-text-field
                              v-bind:label=" $t('employee.employee.name') "
                              v-model="form.layName"
                            />
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>
                      
                      <!-- gender -->
                      <v-row wrap>
                        <v-col lg="6" md="6" sm="12">
                          {{ $t('employee.employee.gender') }}
                          <v-radio-group v-model="form.layGndId" row>
                            <v-radio
                              :key="0"
                              label="Pria"
                              :value="1"
                            ></v-radio>
                            <v-radio
                              :key="1"
                              label="Wanita"
                              :value="2"
                            ></v-radio>
                          </v-radio-group>
                        </v-col>
                      </v-row>
                      <v-row>
                        <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                          <li v-for="(error, index) in errors" :key="index">
                            <span>{{ error }}</span>
                          </li>
                          <li v-for="(errormsg, index) in errorsmsg.layGndId" :key="index">
                            <span>{{ errormsg }}</span>
                          </li>
                        </ul>
                      </v-row>

                      <!-- role -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.emp_role') "
                        ref="emp_role"
                        rules="required"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-select
                              :items="list.employeeRoleItems"
                              v-bind:label=" $t('employee.employee.emp_role') "
                              v-model="form.layEmproleId"
                              item-text="layName"
                              item-value="layCode"
                              clearable
                            ></v-select>
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layEmproleId" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>

                      <!-- address -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.address') "
                        ref="address"
                        rules="required"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-textarea
                              v-bind:label=" $t('employee.employee.address') "
                              v-model="form.layHomeAddress"
                            />
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layHomeAddress" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>

                      <!-- phone -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.phone') "
                        ref="phone"
                        rules="required|numeric"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-text-field
                              v-bind:label=" $t('employee.employee.phone') "
                              v-model="form.layPhoneNo"
                            />
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layPhoneNo" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>

                      <!-- date -->
                      <v-row wrap>
                        <v-col lg="6" md="6" sm="12">
                          <v-menu
                            ref="endatemenu"
                            v-model="endatemenu"
                            :close-on-content-click="false"
                            :return-value.sync="form.layEnDate"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                            <ValidationProvider 
                              v-slot="{ errors }"
                              :name=" $t('employee.employee.endate') "
                              ref="endate"
                              rules="required"
                              :bails="false">
                              <v-text-field
                                v-model="form.layEnDate"
                                v-bind:label=" $t('employee.employee.endate') "
                                readonly
                                v-on="on"
                                clearable
                              ></v-text-field>
                              <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                                <li v-for="(error, index) in errors" :key="index">
                                  <span>{{ error }}</span>
                                </li>
                                <li v-for="(errormsg, index) in errorsmsg.layEnDate" :key="index">
                                  <span>{{ errormsg }}</span>
                                </li>
                              </ul>
                            </ValidationProvider>
                            </template>
                            <v-date-picker v-model="form.layEnDate" no-title scrollable>
                              <v-spacer></v-spacer>
                              <v-btn text color="primary" @click="endatemenu = false">Cancel</v-btn>
                              <v-btn text color="primary" @click="$refs.endatemenu.save(form.layEnDate)">OK</v-btn>
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>

                      <v-row v-if="edit === false" wrap>
                        <v-col>
                          <div class="my-2">
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="toPage2"
                            >
                              Lanjut Buat Akun
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="submitAdd"
                            >
                              Simpan Data Karyawan
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              @click="resetData"
                            >
                              {{ $t('pages.reset') }} 
                            </v-btn>
                          </div>
                        </v-col>
                      </v-row>
                      <v-row v-if="edit === true" wrap>
                        <v-col>
                          <div class="my-2">
                            <v-btn
                              v-if="isNewUser"
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="toPage2"
                            >
                              Lanjut Buat Akun
                            </v-btn>
                            <v-btn
                              v-else
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="toPage2"
                            >
                              Edit Akun
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="submitUpdate"
                            >
                              Update Data Karyawan
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="resetData"
                            >
                              {{ $t('pages.reset') }} 
                            </v-btn>
                          </div>
                        </v-col>
                      </v-row>
                    </v-container>
                  <!-- </v-card> -->
                </v-col>
              </v-row>
            </form>
            </ValidationObserver>
          </v-stepper-content>

          <v-stepper-content step="2">
            

            <ValidationObserver ref="form2" >
              <form ref="form2" onSubmit="return false;">
                <v-row>
                  <v-col lg="12" sm="12" md="12">
                    <!-- <v-card> -->
                    <v-container fluid>
                      <v-row v-if="edit === true && isNewUser == false" wrap>
                        <v-col lg="6" md="6" sm="12">
                          <v-text-field
                            v-model="form2.layEmailOld"
                            v-bind:label=" $t('user.email') "
                            :disabled="edit"
                          />
                        </v-col>
                      </v-row>
                      <!-- jika diberi akses untuk login -->
                      <!-- email -->
                      <!-- <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('user.email') "
                        ref="email"
                        rules="required"
                        v-if="isNewUser == false"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-autocomplete
                              v-model="form2.layEmail"
                              v-bind:label=" $t('user.email') "
                              :items="list.autocompleteItems"
                              :loading="isLoading"
                              :search-input.sync="autocompleteEmailSearch"
                              item-text="layName"
                              item-value="layName"
                              clearable
                              hide-no-data
                              placeholder="Cari Email"
                              v-if="isNewUser == false"
                            ></v-autocomplete>
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left" v-if="isNewUser == false">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layEmail" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider> -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('user.email') "
                        ref="email"
                        rules="required|email"
                        v-if="edit === true || isNewUser == true"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-text-field
                              v-model="form2.layEmail"
                              v-bind:label=" $t('user.email') "
                              v-if="edit === true || isNewUser == true"
                            />
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layEmail" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>

                      <!-- password -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('user.password') "
                        ref="password"
                        rules="required|min:7"
                        :bails="false"
                        mode="passive" 
                        v-if="isNewUserPassword == true">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-text-field
                              v-model="form2.layPassword"
                              v-bind:label=" $t('user.password') "
                              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                              :type="show1 ? 'text' : 'password'"
                              @click:append="show1 = !show1"
                              counter
                              v-bind:hint="$t('user.password_hint')"

                            />
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layPassword" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>
                      <!-- role/hak akses -->
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('employee.employee.userrole') "
                        ref="userrole"
                        rules="required"
                        :bails="false">
                        <v-row wrap>
                          <v-col lg="6" md="6" sm="12">
                            <v-select
                              :items="list.roleItems"
                              v-bind:label=" $t('employee.employee.userrole') "
                              v-model="form2.layRoleId"
                              item-text="layName"
                              item-value="layCode"
                              clearable
                            ></v-select>
                            <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                              <li v-for="(error, index) in errors" :key="index">
                                <span>{{ error }}</span>
                              </li>
                              <li v-for="(errormsg, index) in errorsmsg.layRoleId" :key="index">
                                <span>{{ errormsg }}</span>
                              </li>
                            </ul>
                          </v-col>
                        </v-row>
                      </ValidationProvider>
                      <v-row v-if="edit === false" wrap>
                        <v-col>
                          <div class="my-2">
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="submitAdd2"
                            >
                              Simpan Data
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="resetData2"
                            >
                              {{ $t('pages.reset') }} 
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              @click="e1 = 1"
                            >
                              Kembali
                            </v-btn>

                          </div>
                        </v-col>
                      </v-row>
                      <v-row v-if="edit === true" wrap>
                        <v-col>
                          <div class="my-2">
                            <v-btn
                              v-if="isNewUser"
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="submitUpdate2"
                            >
                              Simpan Data
                            </v-btn>
                            <v-btn
                              v-else
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="submitUpdate2"
                            >
                              Update Data
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              color="primary"
                              @click="resetData2"
                            >
                              {{ $t('pages.reset') }} 
                            </v-btn>
                            <v-btn
                              small
                              :loading="loading"
                              :disabled="loading"
                              @click="e1 = 1"
                            >
                              Kembali
                            </v-btn>
                          </div>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-col>
                </v-row>
              </form>
            </ValidationObserver>
          </v-stepper-content>

        </v-stepper-items>
      </v-stepper>

    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')
import addYears from 'date-fns/addYears'
import { format } from 'date-fns'

export default {
  name: 'EmployeeForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
    // password: {
    //   type: Boolean,
    //   default: false
    // },
  },
  data: () => ({
    show1: false,
    form: {
      // layStatus: 0,
      layCmpId: '',
      layBrndId: '',
      layStoreId: '',
      // layEmailEdit: '',
      layName: '',
      layEmproleId: '',
      layHomeAddress: '',
      layPhoneNo: '',
      layGndId: '',
      layEnDate: format(addYears(new Date(), 1), 'yyyy-MM-dd')
    },
    form2: {
      layEmailOld: '',
      layEmail: '',
      layPassword: '',
      layRoleId: ''
    },
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
      autocompleteItems: [],
      employeeRoleItems: [],
      roleItems: []
    },
    errors:[],
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    // search: null,
    // descriptionLimit: 60,
    autocompleteEmailSearch: '',
    isLoading: false,
    isNewUser: true,
    isNewUserPassword: false,
    e1: 1,
    endatemenu: false,
    emailength: 0,
    userLevel: ''
  }),
  watch: {
    errorsmsg: {
      handler(val) {
        for (const key in this.errorsmsg) {
          if (this.errorsmsg.hasOwnProperty(key)) {
            const element = this.errorsmsg[key];
            // console.log("key nya: ")
            // console.log(key)
            if(key == 'layPassword')
            {
              this.isNewUserPassword = true
            }
          }
        }
      }
    },
    form2: {
      handler(val) {
        // console.log(val.layEmail)
        if(val.layEmail)
        {
          if(this.isNewUserPassword == true) {
            // console.log("is newuser is TRUE")
            if(val.layEmail != this.emailength) {
              // console.log(this.emailength)
              // console.log("lenght nya berubah")
              this.isNewUserPassword = false
              val.layPassword = ''
            }
          }
          this.emailength = val.layEmail
        }
      },
      deep: true
    },
    list: {
      handler(val) {
        // do stuff
        // console.log(val.autocompleteItems.length)
        if(val.autocompleteItems.length == 0) {
          // console.log(this.isNewUser)
          this.isNewUser = true
          // console.log(this.isNewUser)
        }
      },
      deep: true
    },
    autocompleteEmailSearch(value) {
      if(!value) return

      // Items have already been loaded
      // if (this.list.autocompleteItems.length > 0) return

      // Items is beeing requested
      if (this.isLoading) return

      this.isLoading = true
      this.getAutocompleteEmail(value)
      // Lazily load input items
      // fetch('https://api.publicapis.org/entries')
      //   .then(res => res.json())
      //   .then(res => {
      //     const { count, entries } = res
      //     this.count = count
      //     this.entries = entries
      //   })
      //   .catch(err => {
      //     console.log(err)
      //   })
      //   .finally(() => (this.isLoading = false))
    }
  },
  async mounted () {
    this.userLevel = this.$storage.getUniversal('levelStorage')
    if(this.$storage.getUniversal("permissionStorage").includes('employee_store') && this.userLevel != -1) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
    if (this.edit) {
      this.getEditData()
    }
  },
  methods: {
    resetData () {
      this.form.layCmpId = ''
      this.form.layBrndId = ''
      this.form.layStoreId = ''
      this.form.layHomeAddress = ''
      this.form.layPhoneNo = ''
      this.form.layGndId = ''
      this.form.layEnDate = format(addYears(new Date(), 1), 'yyyy-MM-dd')
      this.form.layEmproleId = ''
      this.form2.layEmailOld = ''
      this.form2.layEmail = ''
      this.form2.layName = ''
      this.form2.layRoleId = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    resetData2 () {
      this.form2.layEmail = ''
      this.form2.layName = ''
      this.form2.layRoleId = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    async toPage2 () {
      let response = await this.$refs.form.validate()
      if(response) {
        this.e1 = 2
      }
    },
    getAutocompleteEmail (value) {
      this.$axios.get('/user/autocomplete/selectlist/'+value)
        .then((response) => {
          this.list.autocompleteItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
        .finally(() => (this.isLoading = false))
    },
    getSelectList () {
      if(this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.userLevel == 1) {
        //dapet data brand langsung sesuai session berdasarkan company
        this.$axios.get('/brand/selectlist')
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.userLevel == 2) {
        // dapet data store langsung sesuai session berdasarkan brand
        this.$axios.get('/store/selectlist')
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }

      this.$axios.get('/employee/role/selectlist')
      .then((response) => {
        this.list.employeeRoleItems = response.data.result
        this.processResponse(response, 'selectlist')
      })
      .catch(errors => {
        this.processResponse(errors, 'selectlist')
      })
      this.$axios.get('/role/gym/selectlist')
      .then((response) => {
        this.list.roleItems = response.data.result
        this.processResponse(response, 'selectlist')
      })
      .catch(errors => {
        this.processResponse(errors, 'selectlist')
      })
    },
    async getBrandList () {
      console.log('getBrandList')
      this.list.brandItems = []
      // this.search.layBrnd = ''
      if(this.userLevel == 0 || this.userLevel == 1) {
        await this.$axios.get('/brand/companyselectlist/'+this.form.layCmpId)
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    async getStoreList () {
      this.list.storeItems = []
      // this.search.layStore = ''
      if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
        await this.$axios.get('/store/brandselectList/'+this.form.layBrndId)
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    async getEditData () {
      await this.$axios.get('employee/employee/' + this.id + '/edit')
        .then((response) => {
          this.form.layCmpId = response.data.result.layCompany
          this.form.layBrndId = response.data.result.layBrand
          this.form.layStoreId = response.data.result.layStore
          this.form.layName = response.data.result.layName
          this.form.layEmproleId = response.data.result.layEmployeeRole
          this.form.layHomeAddress = response.data.result.layHomeAddress
          this.form.layPhoneNo = response.data.result.layPhoneNo
          this.form.layGndId = response.data.result.layGenderId
          this.form.layEnDate = response.data.result.layEnDate
          this.form2.layEmailOld = response.data.result.layEmail
          this.form2.layEmail = response.data.result.layEmail
          this.form2.layRoleId = response.data.result.layRole
          if(this.form2.layEmail == '' || this.form2.layEmail == undefined) {
            this.isNewUser = true
            this.list.autocompleteItems = []
          }
          else {
            this.isNewUser = false
            this.list.autocompleteItems = [
              {layName: this.form2.layEmail, layCode: 1}
            ]
          }
          if(this.userLevel == 0) {
            this.getBrandList()
            this.getStoreList()
          }
          else if(this.userLevel == 1) {
            this.getStoreList()
          }
          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      console.log('submitUpdate')
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          if(this.form.layCmpId == null) {
            this.form.layCmpId = ''
          }
          if(this.form.layBrndId == null) {
            this.form.layBrndId = ''
          }
          if(this.form.layStoreId == null) {
            this.form.layStoreId = ''
          }
          this.loading = true;
          console.log(this.form)
          this.$axios.$put('employee/employee/' + this.$route.params.id, this.form)
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitUpdate2 () {
      console.log('submitUpdate2')
      if(this.edit) {
        let response = await this.$refs.form.validate()
        let response2 = await this.$refs.form2.validate()
        if((response)&&(response2)) {
          var formParam = {}
          if(this.isNewUserPassword == false) {
            formParam = Object.assign( {}, this.form, {layEmail: this.form2.layEmail, layEmailOld: this.form2.layEmailOld, layRoleId: this.form2.layRoleId})
          } else {
            formParam = Object.assign( {}, this.form, this.form2)
          }
          if(this.form.layCmpId == null) {
            this.form.layCmpId = ''
          }
          if(this.form.layBrndId == null) {
            this.form.layBrndId = ''
          }
          if(this.form.layStoreId == null) {
            this.form.layStoreId = ''
          }
          this.loading = true;
          this.$axios.$put('employee/employee/' + this.$route.params.id, formParam)
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitAdd () {
      let response = await this.$refs.form.validate()
      // if(this.form.layStatus == 0)
      // {
      //   this.form.layEmailEdit = ''
      //   this.form.layEmailOld = ''
      // }
      // else if(this.form.layStatus == 1)
      // {
      //   this.form.layEmailEdit = ''
      //   this.form.layEmail = ''
      // }
      if(response) {
        this.loading = true;
        this.$axios.$post('employee/employee', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async submitAdd2 () {
      this.errorsmsg = []
      let response = await this.$refs.form2.validate()
      // if(this.form.layStatus == 0)
      // {
      //   this.form.layEmailEdit = ''
      //   this.form.layEmailOld = ''
      // }
      // else if(this.form.layStatus == 1)
      // {
      //   this.form.layEmailEdit = ''
      //   this.form.layEmail = ''
      // }
      if(response) {
        var formParam = {}
        if(this.isNewUserPassword == false) {
          formParam = Object.assign( {}, this.form, {layEmail: this.form2.layEmail, layRoleId: this.form2.layRoleId})
          // formParam = Object.assign( {}, this.form, this.form2)
        } else {
          formParam = Object.assign( {}, this.form, this.form2)
        }
        this.loading = true;
        this.$axios.$post('employee/employee', Object.assign( {}, this.form, formParam))
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/employee/employee')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      }
      this.loading = false
    }
  }
}
</script>
