<template>
  <div>
    <h1>{{ $t('language') }}</h1>
      <!-- <nuxt-link :to="switchLocalePath('en')">English</nuxt-link>
      <nuxt-link :to="switchLocalePath('id')">Indonesia</nuxt-link> -->
  </div>
</template>