<template>
  <div>
    <ValidationObserver ref="form">
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('role.name') "
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('role.name') "
                      v-model="form.layName"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')

export default {
  name: 'RoleForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    show1: false,
    form: {
      layName: '',
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    rules: {
      required: value => !!value || 'Harus diisi.'
    }
  }),
  mounted () {
    if (this.edit) {
      this.getEditData()
    }
  },
  methods: {
    resetData () {
      this.form.layName = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getEditData () {
      this.$axios.get('/role/' + this.id + '/edit')
        .then((response) => {
          this.form.layName = response.data.result.layName
          this.processResponse(response, 'get')
        })
        .catch(({ error }) => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('role/' + this.$route.params.id, {layName: this.form.layName})
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitAdd () {
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;
        this.$axios.$post('role', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/role')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open(response.response.data.status, 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
