<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col sm="12">
          <h3>User</h3>
        </v-col>
      </v-row>
      <v-row wrap v-if="hasPermission('user_store')">
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/user/create">
              Tambah
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col lg="12">
          <!-- <v-card> -->
            <!-- <v-app-bar flat color="white">
              <v-text-field
                v-model="search"
                flat
                solo
                prepend-icon="search"
                placeholder="Type something"
                hide-details
                class="hidden-sm-and-down"
              />
            </v-app-bar> -->
            <v-divider />
            <!-- <v-card-text class="pa-0"> -->
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="dataItems"
                :options.sync="options"
                :server-items-length="totalItems"
                :loading="loading"
                :items-per-page="5"
                class="elevation-1"
                item-key="name"
                @update:page="getPagination"
              >
                <template v-slot:[`item.action`]="{ item }">
                  <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
                    v-if="hasPermission('user_edit')"
                  >
                    edit
                  </v-icon>
                  <v-icon
                    small
                    class="mr-2"
                    @click="readItem(item)"
                    v-if="hasPermission('user_show')"
                  >
                    pageview
                  </v-icon>
                  <v-icon
                    small
                    class="mr-2"
                    @click="editPassword(item)"
                    v-if="hasPermission('user_edit_password')"
                  >
                    lock
                  </v-icon>
                  <v-icon
                    small
                    color="red"
                    @click="deleteItem(item)"
                    v-if="hasPermission('user_delete')"
                  >
                    delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <v-btn color="primary" @click="getIndex">
                    Reset
                  </v-btn>
                </template>
              </v-data-table>
            <!-- </v-card-text> -->
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
      search: '',
      totalItems: 0,
      dataItems: [],
      loading: true,
      options: {},
      selected: [],
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  watch: {
    // options: {
    //   handler () {
    //     CustomerApi.getDataList().then((response) => {
    //       this.getDataFromApi(response.data.result)
    //         .then((data) => {
    //           this.dataItems = data.items
    //           this.totalItems = data.total
    //         })
    //     })
    //   },
    //   deep: true
    // }
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('user_index')) {
      this.getIndex()
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getIndex(){
      this.$axios.$get('user').
        then((response) => {
          this.processResponse(response, 'index')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        const items = data.data
        const total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (itemsPerPage > 0) {
        //   items = items.slice((page - 1) * itemsPerPage, page * itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    editItem (item) {
      this.$router.push('/user/edit/' + item.layId)
    },
    readItem (item) {
      this.$router.push('/user/read/' + item.layId)
    },
    editPassword (item) {
      this.$router.push('/user/password/' + item.layId)
    },
    async deleteItem (item) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('/user/' + item.layId)
          .then((response) => {
            this.processResponse(response, 'delete')
          })
          .catch(errors => {
            this.processResponse(errors, 'index')
        });
      }
    },
    initialize () {
      // CustomerApi.getDataList().then((response) => {
      //   this.getDataFromApi(response.data.result)
      //     .then((data) => {
      //       this.dataItems = data.items
      //       this.totalItems = data.total
      //     })
      // })
    },
    getPagination () {
      this.loading = true
      this.$axios.get('user?page=' + this.options.page)
      .then((response) => {
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {
                this.dataItems = data.items
                this.totalItems = data.total
              })            
          } else if(action === 'delete') {
            this.getIndex()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open(response.response.data.status, 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      return [
        {
          text: 'email',
          value: 'layEmail',
          align: 'left',
          sortable: false
        },
        {
          text: 'name',
          value: 'layName',
          align: 'left',
          sortable: false
        },
        {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      ]
    }
  //   totalItems () {
  //     return this.$store.getters.totalItems
  //   },
  //   rowsPerPageItems () {
  //     return this.$store.getters.rowsPerPageItems
  //   },
  //   pagination: {
  //     get: () => {
  //       return this.$store.getters.pagination
  //     },
  //     set: (value) => {
  //       this.$store.dispatch('getCustomerApis', value)
  //     }
  //   }
  }
  // watch: {
  //   pagination: {
  //     handler () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     update () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     deep: true
  //   }
  // }
}
</script>
