<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col sm="12">
          <h3>Informasi</h3>
        </v-col>
      </v-row>
      <v-row wrap v-if="hasPermission('news_store')">
        <v-col>
          <div class="my-2">
            <v-btn color="primary" to="/news/create">
              Tambah
              <v-icon right>add_circle</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>

      <v-row wrap>
        <v-col lg="12">
          <!-- <v-card> -->
            <v-row>
              <v-col lg="3">
                <v-text-field
                  v-model="search.layTitle"
                  label=" judul "
                  hide-details
                  clearable
                />
              </v-col>
              <!-- <v-spacer></v-spacer> -->
            </v-row>

            <v-row wrap>
              <v-col lg="12">
                <div>
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="searchData"
                  >
                    Cari 
                    <v-icon right>search</v-icon>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
            <!-- </v-app-bar> -->
            <v-divider />
            <!-- <v-card-text class="pa-0"> -->
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="dataItems"
                :options.sync="options"
                :server-items-length="totalItems"
                :loading="loading"
                :items-per-page="10"
                class="elevation-1"
                item-key="name"
                :footer-props="{
                  'items-per-page-options':[10,20]
                }"
              >
                <template v-slot:[`item.layDescription`]="{ item }">
                  <div class="text-truncate" style="max-width: 150px;">{{ item.layDescription}}</div>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-icon
                    class="mr-2"
                    @click="editItem(item)"
                    v-if="hasPermission('news_edit')"
                  >
                    edit
                  </v-icon>
                  <v-icon
                    class="mr-2"
                    @click="readItem(item)"
                    v-if="hasPermission('news_show')"
                  >
                    pageview
                  </v-icon>
                  <v-icon
                    color="red"
                    @click="deleteItem(item)"
                    v-if="hasPermission('news_delete')"
                  >
                    delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <v-btn color="primary" @click="getPagination()">
                    Reset
                  </v-btn>
                </template>
              </v-data-table>
            <!-- </v-card-text> -->
          <!-- </v-card> -->
        </v-col>
      </v-row>

    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    search: {
      layTitle: '',
    },
    totalItems: 0,
    pageSize: 10,
    pageSizes: [10,20],
    page: 1,
    totalPages: 0,
    dataItems: [],
    loading: true,
    options: {},
    selected: [],
    userLevel: -1
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('news_index')) {
      // this.getPagination()
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
  },
  methods: {
    searchData () {
      this.options.page = 1
      this.getPagination()
    },
    hasPermission (param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        var items = data.data
        var total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (this.options.itemsPerPage > 0) {
        //   items = items.slice((this.options.page - 1) * this.options.itemsPerPage, this.options.page * this.options.itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    editItem (item) {
      this.$router.push('/news/edit/' + item.layId)
    },
    readItem (item) {
      this.$router.push('/news/read/' + item.layId)
    },
    async deleteItem (item) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('news/' + item.layId)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    initialize () {
    },
    getPagination () {
      if(this.$storage.getUniversal("permissionStorage").includes('news_index')) {
        this.loading = true
        this.$axios.get('news',{
          params: {
            page: this.options.page,
            rowsPerPage: this.options.itemsPerPage,
            search: this.search
          }
        })
        .then((response) => {
          this.processResponse(response.data, 'index')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    getSelectList () {
    },

    handlePageChange () {

    },
    handlePageSizeChange () {

    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {
                this.dataItems = data.items
                this.totalItems = data.total
                this.totalPages = data.last_page
              })            
          } else if(action === 'delete') {
            // this.getIndex(this.options.itemsPerPage)
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      var header = []
      header.push(
        {
          text: 'Judul',
          value: 'layTitle',
          align: 'left',
          sortable: false
        },
        {
          text: 'Keterangan',
          value: 'layDescription',
          align: 'left',
          sortable: false,
        },
        {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      )
      return header
    }
  //   totalItems () {
  //     return this.$store.getters.totalItems
  //   },
  //   rowsPerPageItems () {
  //     return this.$store.getters.rowsPerPageItems
  //   },
  //   pagination: {
  //     get: () => {
  //       return this.$store.getters.pagination
  //     },
  //     set: (value) => {
  //       this.$store.dispatch('getCustomerApis', value)
  //     }
  //   }
  },
  watch: {
    options: {
      handler () {
        this.getPagination()
      },
      deep: true
    },
  //   pagination: {
  //     handler () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     update () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     deep: true
  //   }
  }
}
</script>