<template>
  <div>
    <number-statistic
      :data-number="proNumber"
      :sub-title="subTitle"
      :color="color"
    />
  </div>
</template>

<script>
import NumberStatistic from '@/components/widgets/statistic/NumberStatistic'
// import { CustomerApi } from '@/api/Customer/CustomerApi'

export default {
  name: 'DashCustomerNumber',
  components: {
    NumberStatistic
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    proNumber: 0,
    error: {
      status: '',
      statusText: ''
    }
  }),
  mounted () {
    this.proNumber = 1
    // CustomerApi.getNumber(this.id).then((response) => {
    //   this.proNumber = response.data.result.proTotalStr
    // })
  },
  methods: {
  }
}
</script>
