<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> Detail Catatan Minum Obat</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/medicine_record">
              Kembali
            </v-btn>
            <v-btn small color="danger" @click="deleteItem(item)" v-if="hasPermission('medicine_record_delete')">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <!-- <v-row no-gutters class="mb-3" v-if="userLevel == 0">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member.company') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.company }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0 || userLevel == 1">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member.brand') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.brand }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0 || userLevel == 1 || userLevel == 2">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member.store') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.store }}
            </v-col>
          </v-row> -->
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                email
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.email }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                name
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.name }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                address
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.address }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                phone
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.phone }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                Waktu Minum Obat
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.datetime }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mt-5">
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                dibuat oleh
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                dibuat waktu
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_at }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                diedit oleh
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                diedit waktu
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_at }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    data: {
      // company : '-',
      // brand : '-',
      // store : '-',
      email : '-',
      // no : '-',
      name : '-',
      address : '-',
      phone : '-',
      // pic : '-',
      datetime : '-',
      // birthdate: '-',
      // gender: '-',
      created_by : '-',
      created_at : '-',
      edited_by : '-',
      edited_at : '-',
    },
    userLevel: -1,
    width:300
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage,
    myImage: function () {
      return this.data.pic
    },
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('medicine_record_show') && this.userlevel != -1) {
      this.$axios.$get('medicinerecord/' + this.$route.params.id).
        then((data) => {
          // this.data.company = data.result.layCompany
          // this.data.brand = data.result.layBrand
          // this.data.store = data.result.layStore
          // this.data.no = data.result.layNo
          this.data.name = data.result.layName
          this.data.address = data.result.layAddress
          this.data.phone = data.result.layPhone
          // this.data.pic = data.result.layPic
          this.data.datetime = data.result.layDatetime
          // this.data.birthdate = data.result.layBirthDate
          this.data.email = data.result.layEmail
          // this.data.gender = data.result.layGender
          this.data.created_by = data.result.layCreatedby
          this.data.created_at = data.result.layCreatedtime
          this.data.edited_by = data.result.layChangedby
          this.data.edited_at = data.result.layChangedtime
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    async deleteItem () {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('medicinerecord/' + this.$route.params.id)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'delete') {
            this.$router.push('/medicinerecord')
          }
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  },
}
</script>
