<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.edit') }} {{ $t('gym.member_package.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/gym/member_package">
              {{ $t('pages.back') }}
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <MemberPackageForm :id="props.id" :edit="true" :packetType="props.packetType" />
    </v-container>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    MemberPackageForm: () => import('@/components/form/gym/member_package/MemberPackageForm')
  },
  data: () => ({
    props: {
      id: '',
      packetType: '',
    }
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_edit')) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  created () {
    this.props.id = this.$route.params.id
    this.props.packetType = this.$route.params.packetType
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
  }
}
</script>
