<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.add') }} {{ $t('gym.member_package.title_access') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/gym/member_package">
              {{ $t('pages.back') }}
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row wrap v-if="hasPermission('gym_member_store')">
        <v-col>
          <div class="my-2">
            <v-btn color="primary" to="/gym/member/create">
              {{ $t('gym.member.add') }}
              <v-icon right>add_circle</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <MemberPackageForm :packetType="'access'" />
    </v-container>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    MemberPackageForm: () => import('@/components/form/gym/member_package/MemberPackageForm')
  },
  data: () => ({
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_store')) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
  }
}
</script>
