<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> {{ $t('pages.add') }} {{ $t('employee.role.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/employee/role">
              {{ $t('pages.back') }}
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <EmployeeRoleForm />
    </v-container>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    EmployeeRoleForm: () => import(/* webpackPrefetch: true */'@/components/form/employee/role/EmployeeRoleForm')
  },
  data: () => ({
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('employee_role_store')) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
  }
}
</script>
