<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> Detil User</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/end_user">
              Kembali
            </v-btn>
            <v-btn small color="danger" @click="deleteItem(item)">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Nama
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.name }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Email
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.email }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Sekolah
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.school }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Telepon
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.phoneNo }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Alamat
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.homeAddress }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Provinsi
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.adm1 }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Kabupaten/ Kota
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.adm2 }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Kecamatan
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.adm3 }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col :cols="1">
              <b>
                Kelurahan
              </b>
            </v-col>
            <v-col :cols="10">
              : {{ data.adm4 }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    data: {
      name: '-',
      email: '-',
      school: '-',
      phoneNo: '-',
      homeAddress: '-',
      adm1: '-',
      adm2: '-',
      adm3: '-',
      adm4: '-',
    }
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('end_user_show')) {
      this.$axios.$get('enduser/' + this.$route.params.id).
        then((data) => {
          this.data.name = data.result.layName
          this.data.email = data.result.layEmail
          this.data.school = data.result.laySchool
          this.data.phoneNo = data.result.layPhoneNo
          this.data.homeAddress = data.result.layHomeAddress
          this.data.adm1 = data.result.layAdm1
          this.data.adm2 = data.result.layAdm2
          this.data.adm3 = data.result.layAdm3
          this.data.adm4 = data.result.layAdm4
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    deleteItem (item) {
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open(response.response.data.status, 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
