<template>
  <div id="pageDashboard1">
    <v-container fluid>
      <!-- <GymDashboard/> -->
      <!-- <v-row>
        <v-col>
          <v-card
            outlined
            tile
          >
            <v-container fluid>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Supplier
                  <v-divider
                    dark
                    light
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Transaksi penjualan
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionSaleNumber
                    sub-title="Jumlah Penjualan"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionGrossSaleAmount
                    sub-title="Nilai total penjualan kotor"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionDiscountAmount
                    sub-title="Nilai total diskon"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionNetSaleAmountfrom
                    sub-title="Nilai total penjualan bersih"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Transaksi PO
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashPurchaseOrderDueDateNumber
                    sub-title="Jumlah PO jatuh tempo"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashPurchaseOrderDueDateAmount
                    sub-title="Nilai PO jatuh tempo"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Library Item
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashProductCategoryNumber
                    sub-title="Kategori"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashProductTranscationAmount
                    sub-title="Jumlah Transaksi"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashProductTranscationNumber
                    sub-title="Nilai Transaksi"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Customer List
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashCustomerNumber
                    sub-title="Jumlah Customer"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashCustomerOrderNumber
                    sub-title="Jumlah Order"
                    color="indigo"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row> -->
      <!-- <v-row>
        <v-col>
          <v-card
            outlined
            tile
          >
            <v-container fluid>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Admin
                  <v-divider
                    dark
                    light
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Transaksi penjualan
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionSaleNumber
                    sub-title="Jumlah Penjualan"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionGrossSaleAmount
                    sub-title="Nilai total penjualan kotor"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionDiscountAmount
                    sub-title="Nilai total diskon"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashTransactionNetSaleAmountfrom
                    sub-title="Nilai total penjualan bersih"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Transaksi Invoice
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashInvoiceDueDateNumber
                    sub-title="Jumlah Invoice jatuh tempo"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashInvoiceDueDateAmount
                    sub-title="Jumlah Invoice jatuh tempo"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Transaksi PO
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashPurchaseOrderDueDateNumber
                    sub-title="Jumlah PO jatuh tempo"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashPurchaseOrderDueDateAmount
                    sub-title="Nilai PO jatuh tempo"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Library Item
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashProductCategoryNumber
                    sub-title="Kategori"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashProductTranscationAmount
                    sub-title="Jumlah Transaksi"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashProductTranscationNumber
                    sub-title="Nilai Transaksi"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Library Supplier
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashSupplierNumber
                    sub-title="Jumlah"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashSupplierTransactionAmount
                    sub-title="Nilai Transaksi"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Library Promo & Point
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashPromoActiveNumber
                    sub-title="Jumlah Promo Active"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashPromoActivePointNumber
                    sub-title="Jumlah Point Active"
                    color="indigo"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="12" sm="12" xs="12" class="title">
                  Customer List
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="3" sm="6" xs="12">
                  <DashCustomerNumber
                    sub-title="Jumlah Customer"
                    color="indigo"
                  />
                </v-col>
                <v-col lg="3" sm="6" xs="12">
                  <DashCustomerOrderNumber
                    sub-title="Jumlah Order"
                    color="indigo"
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row> -->
    </v-container>
  </div>
</template>

<script>
// import GymDashboard from '@/components/dashboard/gym/gym_dashboard'
// import DashCustomerNumber from '@/components/dashboard/customer/CustomerNumber'
// import DashCustomerSaleNumber from '@/components/dashboard/customer/CustomerSaleNumber'
// import DashCustomerSaleAmount from '@/components/dashboard/customer/CustomerSaleAmount'
// import DashCustomerOrderNumber from '@/components/dashboard/customer/CustomerOrderNumber'

// import DashProductCategoryNumber from '@/components/dashboard/product/ProductCategoryNumber'
// import DashProductTranscationAmount from '@/components/dashboard/product/ProductTranscationAmount'
// import DashProductTranscationNumber from '@/components/dashboard/product/ProductTranscationNumber'

// import DashPromoActivePointNumber from '@/components/dashboard/promo/PromoActivePointNumber'
// import DashPromoActiveNumber from '@/components/dashboard/promo/PromoActiveNumber'

// import DashSupplierNumber from '@/components/dashboard/supplier/SupplierNumber'
// import DashSupplierTransactionAmount from '@/components/dashboard/supplier/SupplierTransactionAmount'

// import DashPurchaseOrderDueDateNumber from '@/components/dashboard/transaction/PurchaseOrderDueDateNumber'
// import DashPurchaseOrderDueDateAmount from '@/components/dashboard/transaction/PurchaseOrderDueDateAmount'
// import DashInvoiceDueDateNumber from '@/components/dashboard/transaction/InvoiceDueDateNumber'
// import DashInvoiceDueDateAmount from '@/components/dashboard/transaction/InvoiceDueDateAmount'

// import DashTransactionSaleNumber from '@/components/dashboard/transaction/TransactionSaleNumber'
// import DashTransactionGrossSaleAmount from '@/components/dashboard/transaction/TransactionGrossSaleAmount'
// import DashTransactionDiscountAmount from '@/components/dashboard/transaction/TransactionDiscountAmount'
// import DashTransactionNetSaleAmountfrom from '@/components/dashboard/transaction/TransactionNetSaleAmount'

export default {
  layout: 'dashboard',
  components: {
    // GymDashboard,
    // DashCustomerNumber,
    // DashCustomerSaleNumber,
    // DashCustomerSaleAmount,
    // DashCustomerOrderNumber,
    // DashProductCategoryNumber,
    // DashProductTranscationAmount,
    // DashProductTranscationNumber,
    // DashPromoActivePointNumber,
    // DashPromoActiveNumber,
    // DashSupplierNumber,
    // DashSupplierTransactionAmount,
    // DashPurchaseOrderDueDateNumber,
    // DashPurchaseOrderDueDateAmount,
    // DashInvoiceDueDateNumber,
    // DashInvoiceDueDateAmount,
    // DashTransactionSaleNumber,
    // DashTransactionGrossSaleAmount,
    // DashTransactionDiscountAmount,
    // DashTransactionNetSaleAmountfrom
  },
  data: () => ({
  }),
  computed: {
  }
}
</script>
