<template>
    
</template>

<script>
  export default {
    mounted()
    {
    	if(this.$auth.loggedIn) {
	      this.$router.push('/dashboard')
    	}else{
	      this.$router.push('/login')
    	}
    }
  }
</script>

<style scoped>

</style>
