<template>
  <v-app id="login" class="primary">
    <v-main>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4 >
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <!-- <div class="layout column align-center">
                  <img src="../static/m.png" alt="Vue Material Admin" width="120" height="120">
                  <h1 class="flex my-4 primary--text">Layanesia</h1>
                </div> -->
                <ValidationObserver ref="form">
                  <form ref="form1" onSubmit="return false;">
                    <ValidationProvider 
                      v-slot="{ errors }"
                      name="email"
                      ref="name"
                      rules="required"
                      :bails="false">
                      <v-row wrap>
                        <v-col lg="12" md="12" sm="12">
                          <v-text-field
                            label="Email"
                            v-model="model.username"
                            append-icon="person"
                          />
                          <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                            <li v-for="(error, index) in errors" :key="index">
                              <span>{{ error }}</span>
                            </li>
                            <li v-for="(errormsg, index) in errorsmsg.email" :key="index">
                              <span>{{ errormsg }}</span>
                            </li>
                          </ul>
                        </v-col>
                      </v-row>
                    </ValidationProvider>
                    <ValidationProvider 
                      v-slot="{ errors }"
                      :name=" 'user.password' "
                      ref="password"
                      rules="required|min:7"
                      :bails="false">
                      <v-row wrap>
                        <v-col lg="12" md="12" sm="12">
                          <v-text-field
                            v-model="model.password"
                            label="Password"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show1 ? 'text' : 'password'"
                            @click:append="show1 = !show1"
                            counter
                          />
                          <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                            <li v-for="(error, index) in errors" :key="index">
                              <span>{{ error }}</span>
                            </li>
                            <li v-for="(errormsg, index) in errorsmsg.password" :key="index">
                              <span>{{ errormsg }}</span>
                            </li>
                          </ul>
                        </v-col>
                      </v-row>
                    </ValidationProvider>
                  </form>
                </ValidationObserver>
              </v-card-text>
              <!-- <v-card-actions>
                <v-btn icon>
                  <v-icon color="blue">fa fa-facebook-square fa-lg</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon color="red">fa fa-google fa-lg</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon color="light-blue">fa fa-twitter fa-lg</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions> -->
              <v-btn block color="primary" :loading="loading" @click="login">Login</v-btn>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')

export default {
  name: 'LoginForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    FormError: () => import(/* webpackPrefetch: true */'@/components/dialog/FormError'),
    ValidationObserver,
    ValidationProvider
  },
  auth: 'guest',
  layout: 'default',
  data: () => ({
    show1: false,
    model: {
      username: '',
      password: ''
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    rules: {
      required: value => !!value || 'Harus diisi.'
    }
  }),
  computed: {
    title() {
      return "loginTitle";
    },
    permissionStorage: s => s.storage.permissionStorage
  },
  methods: {
    // login() {
    //   this.loading = true;
    //   this.$axios.$post('login', this.form).then(
    //     ({token, expiresIn}) => {
    //       this.$store.dispatch('setToken', {token, expiresIn});
    //       this.$router.push({name: 'secret'});
    //       setTimeout(() => {
    //         this.$router.push('/dashboard');
    //       }, 1000);
    //     }).catch(errors => {
    //       console.dir(errors);
    //     });
    // }
    async login () {
      try {
        // this.$nuxt.$loading.start()
        this.loading = true;
        // setTimeout(() => {
        //   this.loading = false;
        //   // this.$nuxt.$loading.finish()
        // }, 5000);
        let response = await this.$auth.loginWith('local', {
          data: {
            email: this.model.username,
            password: this.model.password
          }
        })
        // if(response.response.errors){
        //   this.loading = false
        //   this.errorsmsg = []
        //   this.errorsmsg = response.response.data.errors
        // }
        // this.processResponse(response, 'submit')
        if(response.data.level) {
          // console.log('response.data.level.level:'+response.data.level.level)
          this.$storage.setUniversal('levelStorage', response.data.level.level)
        }
        if(response.data.permission) {
          this.$storage.setUniversal('permissionStorage', response.data.permission)
          // await this.$storage.getUniversal('permission')
        }
        if(response.data.token) {
          this.$store.dispatch('setToken', {token, expiresIn})
          // this.$storage.setUniversal('permission', response.data.permission)
        }
      } catch (errors) {
        // console.log("response login 2")
        this.loading = false;
        // this.$nuxt.$loading.finish()
        this.formError = errors.message
        // console.log(errors)
        // this.processResponse(errors, 'submit')
      }
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.loading = false
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          this.loading = false
          await this.$refs.confirm.open(response.response.data.status, 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open(response.response.data.status, response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
    }
  }
};
</script>
<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>
