<template>
  <v-app id="register" class="primary">
    <v-main>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <v-form>
                  <v-text-field name="name" label="Name" type="text" v-model="model.name"></v-text-field>
                  <v-text-field name="email" label="Email" type="text" v-model="model.email"></v-text-field>
                  <v-text-field name="password" label="Password" type="password" v-model="model.password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn block color="primary" @click="register" :loading="loading">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    auth: false,
    data() {
      return {
        model: {
          email: '',
          name: '',
          password: '',
        },
      }
    },
    methods: {
      register() {
        // this.$axios.$post('register', this.model)
        //   .then(({token, expiresIn}) => {
        //     this.$store.dispatch('setToken', {token, expiresIn});
        //     this.$router.push({name: 'secret'});
        //   })
        //   .catch(errors => {
        //     console.dir(errors);
        //   });
      },
    }
  }
</script>