<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col sm="12">
          <h3> {{ $t('pages.detail') }} {{ $t('gym.member_package.title') }}</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/gym/member_package">
              {{ $t('pages.back') }}
            </v-btn>
            <v-btn small color="danger" @click="deleteItem(item)" v-if="hasPermission('gym_member_package_delete')">
              Hapus
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-card>
        <v-container fluid>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.company') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.company }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0 || userLevel == 1">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.brand') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.brand }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3" v-if="userLevel == 0 || userLevel == 1 || userLevel == 2">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.store') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.store }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.email') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.email }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.package') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.package }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.regdate') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.regdate }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.stdate') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.stdate }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.endate') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.endate }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.access_balance') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.balance }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.total_price') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.total_price }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.hold_flag') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.hold_flag }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('gym.member_package.hold_st_date') }}
              </b>
            </v-col>
            <v-col lg="10" md="10" sm="12">
              : {{ data.hold_st_date }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card class="mt-5">
        <v-container fluid>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.created_by') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.created_at') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.created_at }}
            </v-col>
          </v-row>
          <v-row no-gutters class="mb-3">
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.edited_by') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_by }}
            </v-col>
            <v-col lg="2" md="2" sm="12">
              <b>
                {{ $t('pages.edited_at') }}
              </b>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              : {{ data.edited_at }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    data: {
      company : '-',
      brand : '-',
      store : '-',
      email : '-',
      package : '-',
      stdate : '-',
      endate : '-',
      regdate : '-',
      balance : '-',
      total_price: '-',
      hold_flag: 'Tidak',
      hold_st_date: '-',
      created_by : '-',
      created_at : '-',
      edited_by : '-',
      edited_at : '-',
    },
    userLevel: -1
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_package_show') && this.userlevel != -1) {
      this.$axios.$get('gym/memberpackage/' + this.$route.params.id).
        then((data) => {
          this.data.company = data.result.layCompany
          this.data.brand = data.result.layBrand
          this.data.store = data.result.layStore
          this.data.email = data.result.layEmail
          this.data.package = data.result.layPackage
          this.data.stdate = data.result.layStDate
          this.data.endate = data.result.layEnDate
          this.data.regdate = data.result.layRegDate
          this.data.balance = data.result.layBalance
          this.data.total_price = data.result.layTotalPrice
          if(data.result.layHoldFlag) {
            this.data.hold_flag = 'Ya'
            this.data.hold_st_date = data.result.layHoldStDate
          }
          this.data.created_by = data.result.layCreatedby
          this.data.created_at = data.result.layCreatedtime
          this.data.edited_by = data.result.layChangedby
          this.data.edited_at = data.result.layChangedtime
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        });
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    deleteItem (item) {
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
