<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col>
          <h3> Tambah Catatan Minum Obat</h3>
        </v-col>
      </v-row>
      <v-row wrap>
        <v-col>
          <div class="my-2">
            <v-btn small color="primary" to="/medicine_record">
              Kembali
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <MemberForm />
    </v-container>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    MemberForm: () => import('@/components/form/medicine_record/MedicineRecordForm')
  },
  data: () => ({
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('medicine_record_store')) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
  }
}
</script>
