<template>
  <div id="pageTable">
    <v-container fluid>
      <v-row wrap>
        <v-col sm="12">
          <h3>Catatan Minum Obat</h3>
        </v-col>
      </v-row>
      <v-row wrap v-if="hasPermission('medicine_record_store')">
        <v-col>
          <div class="my-2">
            <v-btn color="primary" to="/medicine_record/create">
              Tambah
              <v-icon right>add_circle</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>

      <v-row wrap>
        <!-- <v-col cols="4" sm="3">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per Page"
            @change="handlePageSizeChange"
          ></v-select>
        </v-col> -->
        <!-- <v-col cols="12" sm="9">
          <v-pagination
            v-model="page"
            :length="totalPages"
            total-visible="7"
            next-icon="mdi-menu-right"
            prev-icon="mdi-menu-left"
            @input="handlePageChange"
          ></v-pagination>
        </v-col> -->
        <v-col lg="12">
          <!-- <v-card> -->
            <!-- <v-app-bar flat color="white"> -->
            <!-- <v-row>
              <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0">
                <v-select
                  :items="list.companyItems"
                  v-bind:label=" $t('store.company') "
                  v-model="search.layCmp"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                  v-on:change="getBrandList"
                ></v-select>
              </v-col>
              <v-col lg="4" md="4" sm="12" v-if="this.userLevel == 0 || this.userLevel == 1">
                <v-select
                  :items="list.brandItems"
                  v-bind:label=" $t('gym.member_package.brand') "
                  v-model="search.layBrnd"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                  v-on:change="getStoreList"
                ></v-select>
              </v-col>
              <v-col lg="4" md="4" sm="10" v-if="this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2">
                <v-select
                  :items="list.storeItems"
                  v-bind:label=" $t('gym.package.store') "
                  v-model="search.layStore"
                  item-text="layName"
                  item-value="layCode"
                  clearable
                >                      
                </v-select>
              </v-col>
            </v-row> -->
            <v-row>
              <v-col lg="3">
                <v-text-field
                  v-model="search.layName"
                  label=" name "
                  hide-details
                  clearable
                />
              </v-col>
              <!-- <v-spacer></v-spacer> -->
              <v-col lg="3">
                <v-text-field
                  v-model="search.layEmail"
                  label=" email "
                  hide-details
                  clearable
                />
              </v-col>
              <v-col lg="3">

                <v-text-field
                  v-model="search.layPhone"
                  label=" phone "
                  hide-details
                  clearable
                />
              </v-col>
            </v-row>

            <v-row wrap>
              <v-col lg="12">
                <div>
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="searchData"
                  >
                    Cari 
                    <v-icon right>search</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="hasPermission('medicine_record_export')"
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    @click="exportData"
                  >
                    Export
                    <v-icon right>fas fa-file-excel</v-icon>
                  </v-btn>
                </div>
              </v-col>
            </v-row>
            <v-row wrap>
              <v-col lg="2" md="2" sm="6">
                  <v-file-input
                      show-size
                      v-model="form.layImportFile"
                      accept=".xls,.xlsx"
                      label="Masukan Data"
                  ></v-file-input>
              </v-col>
              <v-col lg="2" md="2" sm="6">
                <v-btn
                  :loading="loading"
                  :disabled="loading"
                  color="primary"
                  @click="importData"
                >
                  Import 
                  <v-icon right>fas fa-file-excel</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <!-- </v-app-bar> -->
            <v-divider />
            <!-- <v-card-text class="pa-0"> -->
              <v-data-table
                v-model="selected"
                :headers="headers"
                :items="dataItems"
                :options.sync="options"
                :server-items-length="totalItems"
                :loading="loading"
                :items-per-page="10"
                class="elevation-1"
                item-key="name"
                :footer-props="{
                  'items-per-page-options':[10,20]
                }"
              >
                <template v-slot:[`item.action`]="{ item }">
                  <v-icon
                    class="mr-2"
                    @click="editItem(item)"
                    v-if="hasPermission('medicine_record_edit')"
                  >
                    edit
                  </v-icon>
                  <v-icon
                    class="mr-2"
                    @click="readItem(item)"
                    v-if="hasPermission('medicine_record_show')"
                  >
                    pageview
                  </v-icon>
                  <v-icon
                    color="red"
                    @click="deleteItem(item)"
                    v-if="hasPermission('medicine_record_delete')"
                  >
                    delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <v-btn color="primary" @click="getPagination()">
                    Reset
                  </v-btn>
                </template>
              </v-data-table>
            <!-- </v-card-text> -->
          <!-- </v-card> -->
        </v-col>
      </v-row>

    </v-container>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  data: () => ({
    search: {
      // layCmp: '',
      // layBrnd: '',
      // layStore: '',
      layName: '',
      layEmail: '',
      layPhone: '',
      // layType: '',
      // layPackageStatus: ''
    },
    form: {
      layImportFile: []
    },
    totalItems: 0,
    pageSize: 10,
    pageSizes: [10,20],
    page: 1,
    totalPages: 0,
    dataItems: [],
    loading: true,
    options: {},
    selected: [],
    list: {
      // companyItems: [],
      // brandItems: [],
      // storeItems: [],
      // packageStatusItems: [
      //   {
      //     'layCode': 'active',
      //     'layName': 'Aktif',
      //   },
      //   {
      //     'layCode': 'inactive',
      //     'layName': 'Tidak Aktif'
      //   }
      // ]
    },
    userLevel: -1
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('medicine_record_index')) {
      // this.getPagination()
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
  },
  methods: {
    searchData () {
      this.options.page = 1
      this.getPagination()
    },
    exportData () {
      if(this.$storage.getUniversal("permissionStorage").includes('medicine_record_export')) {
        this.loading = true
        this.$axios.get('medicinerecord/export',{
          params: {
            search: this.search
          },
          responseType: 'arraybuffer',
          headers: {
            'content-type': 'blob'
          }
        })
        .then((response) => {
          this.loading = false
          var fileURL = window.URL.createObjectURL(new Blob([response.data], {
              type: 'application/vnd.ms-excel'
          }));
          var fileLink = document.createElement('a');

          fileLink.href = fileURL;
          fileLink.setAttribute('download', 'medicine_record.xlsx');
          document.body.appendChild(fileLink);

          fileLink.click();
          // this.processResponse(response.data, 'index')
        })
        .catch(errors => {
          this.loading = false
          this.processResponse(errors, 'index')
        });
      }
    },
    importData () {
        this.loading = true;

        let formData = new FormData();
        formData.append('layImportFile', this.form.layImportFile);

        this.$axios.$post(
          'medicinerecord/import',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        )
        // this.$axios.$post(
        //   'gym/member',
        //   this.form,
        // )
        .then((response) => {
          this.processResponse(response, 'submit')
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        })
    },
    hasPermission (param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        var items = data.data
        var total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (this.options.itemsPerPage > 0) {
        //   items = items.slice((this.options.page - 1) * this.options.itemsPerPage, this.options.page * this.options.itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    editItem (item) {
      this.$router.push('/medicine_record/edit/' + item.layId)
    },
    readItem (item) {
      this.$router.push('/medicine_record/read/' + item.layId)
    },
    async deleteItem (item) {
      if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' }, 'Yes', 'Cancel')) {
        this.$axios.delete('medicinerecord/' + item.layId)
        .then((response) => {
          this.processResponse(response, 'delete')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    initialize () {
    },
    getPagination () {
      if(this.$storage.getUniversal("permissionStorage").includes('medicine_record_index')) {
        this.loading = true
        this.$axios.get('medicinerecord',{
          params: {
            page: this.options.page,
            rowsPerPage: this.options.itemsPerPage,
            search: this.search
          }
        })
        .then((response) => {
          this.processResponse(response.data, 'index')
        })
        .catch(errors => {
          this.processResponse(errors, 'index')
        });
      }
    },
    getSelectList () {
      // if(this.userLevel == 0) {
      //   //ambil data perusahaan
      //   this.$axios.get('/company/selectlist')
      //   .then((response) => {
      //     this.list.companyItems = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
      // }
      // if(this.userLevel == 1) {
      //   //dapet data brand langsung sesuai session
      //   this.$axios.get('/brand/selectlist')
      //   .then((response) => {
      //     this.list.brandItems = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
      // }
      // if(this.userLevel == 2) {
      //   // dapet data store langsung sesuai session
      //   this.$axios.get('/store/selectlist')
      //   .then((response) => {
      //     this.list.storeItems = response.data.result
      //     this.processResponse(response, 'selectlist')
      //   })
      //   .catch(errors => {
      //     this.processResponse(errors, 'selectlist')
      //   })
      // }
      // if(this.userLevel == 3) {
      //   this.getPackageList()      
      // }
    },
    // getBrandList () {
    //   this.list.brandItems = []
    //   this.search.layBrnd = ''
    //   this.list.storeItems = []
    //   this.search.layStore = ''
    //   if(this.userLevel == 0 || this.userLevel == 1) {
    //     this.$axios.get('/brand/companyselectlist/'+this.search.layCmp)
    //     .then((response) => {
    //       this.list.brandItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //   }
    // },
    // getStoreList () {
    //   this.list.storeItems = []
    //   this.search.layStore = ''
    //   if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
    //     this.$axios.get('/store/brandselectList/'+this.search.layBrnd)
    //     .then((response) => {
    //       this.list.storeItems = response.data.result
    //       this.processResponse(response, 'selectlist')
    //     })
    //     .catch(errors => {
    //       this.processResponse(errors, 'selectlist')
    //     })
    //   }
    // },
    handlePageChange () {

    },
    handlePageSizeChange () {

    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {
                this.dataItems = data.items
                this.totalItems = data.total
                this.totalPages = data.last_page
              })            
          } else if(action === 'delete') {
            // this.getIndex(this.options.itemsPerPage)
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      var header = []
      // if(this.$storage.getUniversal("levelStorage") == 0) {
      //   header.push(
      //     {
      //       text: this.$t('gym.member.company'),
      //       value: 'layCompany',
      //       align: 'left',
      //       sortable: false
      //     },
      //   )
      // }
      // if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1) {
      //   header.push(
      //     {
      //       text: this.$t('gym.member.brand'),
      //       value: 'layBrand',
      //       align: 'left',
      //       sortable: false
      //     }
      //   )
      // }
      // if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1 || this.$storage.getUniversal("levelStorage") == 2) {
      //   header.push(
      //     {
      //       text: this.$t('gym.member.store'),
      //       value: 'layStore',
      //       align: 'left',
      //       sortable: false
      //     }
      //   )
      // }

      header.push(
        {
          text: 'name',
          value: 'layName',
          align: 'left',
          sortable: false
        },
        {
          text: 'email',
          value: 'layEmail',
          align: 'left',
          sortable: false
        },
        {
          text: 'phone',
          value: 'layPhone',
          align: 'left',
          sortable: false
        },
        {
          text: 'regdate',
          value: 'layRegDate',
          align: 'left',
          sortable: false
        },
        {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      )
      return header
    }
  //   totalItems () {
  //     return this.$store.getters.totalItems
  //   },
  //   rowsPerPageItems () {
  //     return this.$store.getters.rowsPerPageItems
  //   },
  //   pagination: {
  //     get: () => {
  //       return this.$store.getters.pagination
  //     },
  //     set: (value) => {
  //       this.$store.dispatch('getCustomerApis', value)
  //     }
  //   }
  },
  watch: {
    options: {
      handler () {
        console.log(this.options.itemsPerPage)
        console.log(this.options.page)
        this.getPagination()
      },
      deep: true
    },
  //   pagination: {
  //     handler () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     update () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     deep: true
  //   }
  }
}
</script>
