<template>
  <div>
    <ValidationObserver ref="form">
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.company') "
                ref="code"
                rules="required"
                v-if="userLevel == 0"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.companyItems"
                      v-bind:label=" $t('store.company') "
                      v-model="form.layCmpId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getBrandList"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layCmpId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.brand') "
                ref="code"
                rules="required"
                v-if="userLevel == 0 || userLevel == 1"
                :bails="false">
                <v-row wrap>
                  <v-col cols="10" lg="6" md="6" sm="10">
                    <v-select
                      :items="list.brandItems"
                      v-bind:label=" $t('store.store_transaction_category.brand') "
                      v-model="form.layBrndId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getStoreList"
                    >                      
                    </v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layBrndId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                  <v-col cols="1" lg="1" md="1" sm="1">
                    <div class="v-text-field ">
                      <v-tooltip v-model="toolTips.brand" top >
                        <template v-slot:activator="{ attrs }">
                          <v-btn
                            icon
                            v-bind="attrs"
                            @click="toolTips.brand = !toolTips.brand"
                          >
                            <v-icon color="grey lighten-1">
                              mdi-information-outline
                            </v-icon>
                          </v-btn>
                        </template>
                        <span>{{ toolTipsTxt.brand }}</span>
                      </v-tooltip>
                    </div>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.store') "
                ref="code"
                rules="required"
                v-if="userLevel == 0 || userLevel == 1 || userLevel == 2"
                :bails="false">
                <v-row wrap>
                  <v-col cols="10" lg="6" md="6" sm="10">
                    <v-select
                      :items="list.storeItems"
                      v-bind:label=" $t('store.store_transaction_category.store') "
                      v-model="form.layStoreId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    >                      
                    </v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layStoreId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.name') "
                ref="name"
                rules="required|max:255"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="11">
                    <v-text-field
                      v-bind:label=" $t('store.store_transaction_category.name') "
                      v-model="form.layName"
                    ></v-text-field>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                  <v-col cols="1" lg="1" md="1" sm="1">
                    <div class="v-text-field ">
                      <v-tooltip v-model="toolTips.name" top >
                        <template v-slot:activator="{ attrs }">
                          <v-btn
                            icon
                            v-bind="attrs"
                            @click="toolTips.name = !toolTips.name"
                          >
                            <v-icon color="grey lighten-1">
                              mdi-information-outline
                            </v-icon>
                          </v-btn>
                        </template>
                        <span>Isi dengan nama paket!</span>
                      </v-tooltip>
                    </div>
                  </v-col>

                </v-row>
              </ValidationProvider>


              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.range') "
                ref="range"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    {{ $t('store.store_transaction_category.range') }}
                    <v-radio-group
                      v-model="form.layRange"
                      row
                      v-on:change="radioRangeChange"
                      :disabled="edit"
                      >
                      <v-radio
                        :key="0"
                        :label=" $t('store.store_transaction_category.no_flag')"
                        :value="0"
                      ></v-radio>
                      <v-radio
                        :key="1"
                        :label=" $t('store.store_transaction_category.daily_flag')"
                        :value="1"
                      ></v-radio>
                      <v-radio
                        :key="2"
                        :label=" $t('store.store_transaction_category.weekly_flag')"
                        :value="2"
                      ></v-radio>
                      <v-radio
                        :key="3"
                        :label=" $t('store.store_transaction_category.monthly_flag')"
                        :value="3"
                      ></v-radio>
                      <v-radio
                        :key="4"
                        :label=" $t('store.store_transaction_category.yearly_flag')"
                        :value="4"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                </v-row>
                <v-row>
                  <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                    <li v-for="(error, index) in errors" :key="index">
                      <span>{{ error }}</span>
                    </li>
                    <li v-for="(errormsg, index) in errorsmsg.layRange" :key="index">
                      <span>{{ errormsg }}</span>
                    </li>
                  </ul>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.quantity') +range"
                ref="quantity"
                rules="required|max:255|min_value:1"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('store.store_transaction_category.quantity') +range"
                      v-model="form.layQuantity"
                      :disabled="quantityDisable"
                      type="number"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layQuantity" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.access_status') "
                ref="range"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    {{ $t('store.store_transaction_category.access_status') }}
                    <v-radio-group
                      v-model="form.layUnlimitedFlag"
                      row
                      v-on:change="radioAccessStatusChange"
                      :disabled="edit"
                      >
                      <v-radio
                        :key="0"
                        :label="$t('store.store_transaction_category.access_status_limited')"
                        :value="0"
                      ></v-radio>
                      <v-radio
                        :key="1"
                        :label="$t('store.store_transaction_category.access_status_unlimited')"
                        :value="1"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                </v-row>
                <v-row>
                  <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                    <li v-for="(error, index) in errors" :key="index">
                      <span>{{ error }}</span>
                    </li>
                    <li v-for="(errormsg, index) in errorsmsg.layUnlimitedFlag" :key="index">
                      <span>{{ errormsg }}</span>
                    </li>
                  </ul>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.access_counter') "
                ref="access_counter"
                rules="required|min_value:0"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('store.store_transaction_category.access_counter') "
                      v-model="form.layAccessCounter"
                      :disabled="isUnlimited"
                      type="number"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAccessCounter" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.price') "
                ref="price"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('store.store_transaction_category.price') "
                      v-model="form.layPrice"
                      type="number"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layPrice" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.store_transaction_category.description') "
                ref="description"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-textarea
                      v-bind:label=" $t('store.store_transaction_category.description') "
                      v-model="form.layDescription"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layDescription" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')

export default {
  name: 'StoreTransactionCategoryForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
    },
    toolTips: {
      brand: false,
      name: false
    },
    toolTipsTxt: {
      brand: 'Isi dengan nama merk.'
    },
    form: {
      layCmpId: null,
      layBrndId: null,
      layStoreId: null,
      layRange: 0,
      layName: '',
      layQuantity: 1,
      layAccessCounter: '0',
      layPrice: '0',
      layDescription: '',
      layUnlimitedFlag: 0,
    },
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    opensincemenu: false,
    range: '',
    quantityDisable: true,
    isUnlimited: false,
    userLevel: -1
  }),
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('store_transaction_category_store') && this.userlevel != -1) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
    if (this.edit) {
      this.getEditData()
    }
    if(this.form.layRange == 0) {
      this.quantityDisable = true
    }
    else {
      this.quantityDisable = false
    }
  },
  methods: {
    resetData () {
      this.form.layRange = ''
      this.form.layName = ''
      this.form.layQuantity = 1
      this.form.layAccessCounter = 0
      this.form.layPrice = 0
      this.form.layDescription = ''
      this.form.layUnlimitedFlag = 0
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getSelectList () {
      if(this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.edit == false && this.userLevel == 1) {
        //dapet data brand langsung sesuai session
        this.$axios.get('/brand/selectlist')
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.edit == false && this.userLevel == 2) {
        // dapet data store langsung sesuai session
        this.$axios.get('/store/selectlist')
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getBrandList () {
      this.list.brandItems = []
      this.search.layBrnd = ''
      if(this.userLevel == 0 || this.userLevel == 1) {
        this.$axios.get('/brand/companyselectlist/'+this.form.layCmpId)
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getStoreList () {
      this.list.storeItems = []
      this.search.layStore = ''
      if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
        this.$axios.get('/store/brandselectList/'+this.form.layBrndId)
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getEditData () {
      this.$axios.get('store/transactioncategory/' + this.id + '/edit')
        .then((response) => {
          this.form.layCmpId = response.data.result.layCompany
          this.form.layBrndId = response.data.result.layBrand
          this.form.layStoreId = response.data.result.layStore
          this.form.layRange = response.data.result.layRange
          this.form.layName = response.data.result.layName
          this.form.layQuantity = response.data.result.layQuantity
          this.form.layAccessCounter = response.data.result.layCounter
          this.form.layPrice = response.data.result.layPrice
          this.form.layDescription = response.data.result.layDescription
          this.form.layUnlimitedFlag = response.data.result.layUnlimitedFlag
          this.form.layRange = 0
          this.quantityDisable = true
          if(response.data.result.layDailyFlag) {
            this.form.layRange = 1
            this.quantityDisable = false
          }
          else if(response.data.result.layWeeklyFlag) {
            this.form.layRange = 2
            this.quantityDisable = false
          }
          else if(response.data.result.layMonthlyFlag) {
            this.form.layRange = 3
            this.quantityDisable = false
          }
          else if(response.data.result.layYearlyFlag) {
            this.form.layRange = 4
            this.quantityDisable = false
          }
          this.form.layUnlimitedFlag = response.data.result.layUnlimitedFlag
          if(this.form.layUnlimitedFlag == 1) {
            this.isUnlimited = true
          }
          else {
            this.isUnlimited = false
          }
          this.getBrandList()
          this.getStoreList()

          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('store/transactioncategory/' + this.$route.params.id, this.form)
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    submitEnter() {
      if(this.loading == false) {
        if(this.edit === false) {
          this.submitAdd()
        }
        if(this.edit === true) {
          this.submitUpdate()
        }
      }
    },
    async submitAdd () {
      this.$refs.form.reset()
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;
        this.$axios.$post('store/transactioncategory', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async logout () {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    radioRangeChange (value) {
      console.log("Radio Change")
      console.log(value)
      console.log(this.form.layRange)
      if(this.form.layRange == 0) {
        this.range = ""
        this.quantityDisable = true
        this.form.layQuantity = 1
      }
      else if(this.form.layRange == 1) {
        this.range = " Hari"
        this.quantityDisable = false
      }
      else if(this.form.layRange == 2) {
        this.range = " Minggu"
        this.quantityDisable = false
      }
      else if(this.form.layRange == 3) {
        this.range = " Bulan"
        this.quantityDisable = false
      }
      else if(this.form.layRange == 4) {
        this.range = " Tahun"
        this.quantityDisable = false
      }
    },
    radioAccessStatusChange () {
      console.log("radioAccessStatusChange")
      console.log(this.form.layUnlimitedFlag)
      if(this.form.layUnlimitedFlag == 0)
      {
        // this.isNewUser = true
        // this.$refs.form.reset()
        this.isUnlimited = false
        this.errors = []
        this.errorsmsg =[]
        this.error.status = ''
        this.error.statusText = ''
      }
      else if(this.form.layUnlimitedFlag == 1)
      {
        // this.isNewUser = false
        // this.$refs.form.reset()
        this.isUnlimited = true
        this.errors = []
        this.errorsmsg =[]
        this.error.status = ''
        this.error.statusText = ''
        this.form.layAccessCounter = 0
      }
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/store/transactioncategory')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
