<template>
  <v-card>
    <v-card-title>
      <h4>{{subTitle}}</h4>
    </v-card-title>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="dataItems"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      class="elevation-1"
      item-key="name"
      :footer-props="{
        'items-per-page-options':pageSizes
      }"
    >
      <template v-slot:[`item.layTotalPrice`]="{ item }">
        {{ convertMoney(item.layTotalPrice) }}
      </template>
      <!-- <template v-slot:[`item.action`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="readItem(item)"
          v-if="hasPermission('gym_member_show')"
        >
          pageview
        </v-icon>
      </template> -->
      <template v-slot:no-data>
        Tidak ada data
        <v-btn color="primary" @click="getPagination()">
          Reset
        </v-btn>
      </template>
    </v-data-table>
  </v-card>

</template>

<script>
import Money from '@/util/money';

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    day: {
      type: Boolean,
      default: false
    },
    month: {
      type: Boolean,
      default: false
    },
    mode: {
      type: String,
      default: ''
    },
    searchCompany: {
      type: Number,
      default: null
    },
    searchBrand: {
      type: Number,
      default: null
    },
    searchStore: {
      type: Number,
      default: null
    },
    searchYear: {
      type: Number,
      default: null
    },
    searchMonth: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layMonth: '',
      layYear: ''
    },
    totalItems: 0,
    pageSize: 20,
    pageSizes: [20,40],
    page: 1,
    totalPages: 0,
    dataItems: [],
    loading: true,
    options: {},
    selected: [],
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    // if(this.$storage.getUniversal("permissionStorage").includes('gym_member_index')) {
      // this.getPagination()
    // }
    // else {
    //   this.$router.push('/error/error_not_authorized')
    // }
  },
  methods: {
    searchData() {
      this.options.page = 1
      this.getPagination()
    },
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        var items = data.data
        var total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (this.options.itemsPerPage > 0) {
        //   items = items.slice((this.options.page - 1) * this.options.itemsPerPage, this.options.page * this.options.itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    readItem (item) {
      this.$router.push('/gym/member/read/' + item.layId)
    },
    initialize () {
      // CustomerApi.getDataList().then((response) => {
      //   this.getDataFromApi(response.data.result)
      //     .then((data) => {
      //       this.dataItems = data.items
      //       this.totalItems = data.total
      //     })
      // })
    },
    async getPagination () {
      this.search.layCmp = ''
      this.search.layBrnd = ''
      this.search.layStore = ''
      this.search.layMonth = ''
      this.search.layYear = ''
      this.search.layCmp = this.searchCompany
      this.search.layBrnd = this.searchBrand
      this.search.layStore = this.searchStore
      this.search.layMonth = this.searchMonth
      this.search.layYear = this.searchYear
      if(this.searchCompany == null) {
        this.search.layCmp = ''
      }
      if(this.searchBrand == null) {
        this.search.layBrnd = ''
      }
      if(this.searchStore == null) {
        this.search.layStore = ''
      }
      if(this.searchMonth == null) {
        this.search.layMonth = ''
      }
      if(this.searchYear == null) {
        this.search.layYear = ''
      }
      this.loading = true
      var url;
      if(this.mode == 'today') {
        url = 'gym/dashboard/memberpackage/index/today/'
      }
      else if(this.mode == 'active') {
        url = 'gym/dashboard/memberpackage/index/active/'
      }
      else if(this.mode == 'monthly') {
        if(this.day == false) {
          url = 'gym/dashboard/memberpackage/index/monthly/package/'
        } else if(this.day == true) {
          url = 'gym/dashboard/memberpackage/index/monthly/day/'
        }
      }
      else if(this.mode == 'annually') {
        if(this.month == false) {
          url = 'gym/dashboard/memberpackage/index/annually/package/'
        } else if(this.month == true) {
          url = 'gym/dashboard/memberpackage/index/annually/month/'
        }
      }
      this.$axios.get(url + this.type,{
        params: {
          page: this.options.page,
          rowsPerPage: this.options.itemsPerPage,
          search: this.search
        }
      })
      .then((response) => {
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    handlePageChange () {

    },
    handlePageSizeChange () {

    },
    convertMoney(item) {
      return Money.formatPrice(item)
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {
                this.dataItems = data.items
                this.totalItems = data.total
                this.totalPages = data.last_page
              })            
          } else if(action === 'delete') {
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      var header = []
      if(this.$storage.getUniversal("levelStorage") == 0) {
        header.push(
          {
            text: 'gym.member_package.company',
            value: 'layCompany',
            align: 'left',
            sortable: false
          },
        )
      }
      if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1) {
        header.push(
          {
            text: 'gym.member_package.brand',
            value: 'layBrand',
            align: 'left',
            sortable: false
          }
        )
      }
      if(this.$storage.getUniversal("levelStorage") == 0 || this.$storage.getUniversal("levelStorage") == 1 || this.$storage.getUniversal("levelStorage") == 2) {
        header.push(
          {
            text: 'gym.member_package.store',
            value: 'layStore',
            align: 'left',
            sortable: false
          }
        )
      }

      header.push(
        {
          text: 'gym.member_package.package',
          value: 'layPackage',
          align: 'left',
          sortable: false
        },
        {
          text: 'gym.member_package.type',
          value: 'layType',
          align: 'left',
          sortable: false
        },
      )
      if(this.day == true) {
        header.push(
          {
            text: 'gym.member_package.regdate',
            value: 'layRegDate',
            align: 'left',
            sortable: false
          }
        )
      }
      if(this.month == true) {
        header.push(
          {
            text: 'gym.member_package.month',
            value: 'layMonth',
            align: 'left',
            sortable: false
          }
        )
      }
      header.push(
        {
          text: 'gym.member_package.quantity',
          value: 'layQuantity',
          align: 'left',
          sortable: false
        },        
        {
          text: 'gym.member_package.revenue',
          value: 'layTotalPrice',
          align: 'left',
          sortable: false
        }
      )
      return header
    },
    // totalItems () {
    //   return this.$store.getters.totalItems
    // },
    // rowsPerPageItems () {
    //   return this.$store.getters.rowsPerPageItems
    // },
    // pagination: {
    //   get: () => {
    //     return this.$store.getters.pagination
    //   },
    //   set: (value) => {
    //     this.$store.dispatch('getCustomerApis', value)
    //   }
    // }
  },
  watch: {
    options: {
      handler () {
        console.log(this.options.itemsPerPage)
        console.log(this.options.page)
        this.getPagination()
      },
      deep: true
    },
    srcButton: {
      handler () {
        if(this.srcButton == true) {
          this.getPagination()
        }
      },
      deep: true
    },
    // company: {
    //   handler () {
    //       this.getPagination()
    //   },
    //   deep: true
    // },
    // brand: {
    //   handler () {
    //       this.getPagination()
    //   },
    //   deep: true
    // },
    // store: {
    //   handler () {
    //       this.getPagination()
    //   },
    //   deep: true
    // },
  //   pagination: {
  //     handler () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     update () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     deep: true
  //   }
  }
}
</script>
