<template>
  <div>
    <number-revenue-statistic v-if="hideRevenue == false"
      :data-number="number"
      :data-revenue="revenue"
      :sub-title="subTitle"
      :color="color"
    />
    <number-statistic v-if="hideRevenue == true"
      :data-number="number"
      :sub-title="subTitle"
      :color="color"
    />
  </div>
</template>

<script>
import NumberRevenueStatistic from '@/components/widgets/statistic/NumberRevenueStatistic'
import NumberStatistic from '@/components/widgets/statistic/NumberStatistic'
import Money from '@/util/money';

export default {
  name: 'DashTotalActivePackage',
  components: {
    NumberStatistic,
    NumberRevenueStatistic
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    mode: {
      type: String,
      default: ''
    },
    hideRevenue: {
      type: Boolean,
      default: false
    },
    searchCompany: {
      type: Number,
      default: null
    },
    searchBrand: {
      type: Number,
      default: null
    },
    searchStore: {
      type: Number,
      default: null
    },
    searchYear: {
      type: Number,
      default: null
    },
    searchMonth: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
      layMonth: '',
      layYear: ''
    },
    number: 0,
    revenue: "0",
    error: {
      status: '',
      statusText: ''
    }
  }),
  mounted () {
    this.number = 0
    this.getData()
  },
  methods: {
    async getData () {
      this.search.layCmp = ''
      this.search.layBrnd = ''
      this.search.layStore = ''
      this.search.layMonth = ''
      this.search.layYear = ''
      this.search.layCmp = this.searchCompany
      this.search.layBrnd = this.searchBrand
      this.search.layStore = this.searchStore
      this.search.layMonth = this.searchMonth
      this.search.layYear = this.searchYear
      if(this.searchCompany == null) {
        this.search.layCmp = ''
      }
      if(this.searchBrand == null) {
        this.search.layBrnd = ''
      }
      if(this.searchStore == null) {
        this.search.layStore = ''
      }
      if(this.searchMonth == null) {
        this.search.layMonth = ''
      }
      if(this.searchYear == null) {
        this.search.layYear = ''
      }
      // this.$axios.get('gym/dashboard/memberpackage/total/access')
      this.$axios.get('gym/dashboard/memberpackage/total/access/'+this.mode,{
        params: {
          search: this.search
        }
      })
      .then((response) => {
        console.log(response)
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    convertMoney(item) {
      return Money.formatPrice(item)
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          this.number = response.result.layQuantity
          if(response.result.layRevenue >= 0 || response.result.layRevenue <= 0) {
            this.revenue = this.convertMoney(response.result.layRevenue)
          }else {
            this.revenue = this.convertMoney(0)
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  watch: {
    srcButton: {
      handler () {
        if(this.srcButton == true) {
          this.getData()
        }
      },
      deep: true
    },
  }
}
</script>
