<template>
  <div>
    <number-statistic
      :data-number="dataNumber"
      :sub-title="subTitle"
      :color="color"
    />
  </div>
</template>

<script>
import NumberStatistic from '@/components/widgets/statistic/NumberStatistic'
import { PurchaseOrderApi } from '@/api/PurchaseOrder/PurchaseOrderApi'

export default {
  name: 'DashPurchaseOrderDueDateAmount',
  components: {
    NumberStatistic
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    dataNumber: '0',
    error: {
      status: '',
      statusText: ''
    }
  }),
  mounted () {
    PurchaseOrderApi.getDueDateAmount(this.id).then((response) => {
      this.dataNumber = response.data.result.proTotalStr
    })
  },
  methods: {
  }
}
</script>
