<template>
  <v-card>
    <v-card-title>
      <h4>Ulang Tahun Bulan Ini</h4>
    </v-card-title>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="dataItems"
      :options.sync="options"
      :server-items-length="totalItems"
      :loading="loading"
      class="elevation-1"
      item-key="name"
      :hide-default-footer=true
    >
      <template v-slot:[`item.action`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="readItem(item)"
          v-if="hasPermission('gym_member_show')"
        >
          pageview
        </v-icon>
      </template>
      <template v-slot:no-data>
        Tidak ada data
        <v-btn color="primary" @click="getPagination()">
          Reset
        </v-btn>
      </template>
    </v-data-table>
  </v-card>

</template>

<script>

export default {
  middleware: ['auth'],
  components: {
    Confirm: () => import('@/components/dialog/Confirm')
  },
  props: {
    company: {
      type: Number,
      default: null
    },
    brand: {
      type: Number,
      default: null
    },
    store: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: ''
    },
    totalItems: 0,
    pageSize: 10,
    pageSizes: [10,20],
    page: 1,
    totalPages: 0,
    dataItems: [],
    loading: true,
    options: {},
    selected: [],
  }),
  computed: {
    permissionStorage: s => s.storage.permissionStorage
  },
  mounted () {
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_index')) {
      this.getPagination()
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
  },
  methods: {
    searchData() {
      this.options.page = 1
      this.getPagination()
    },
    hasPermission(param) {
      if(param !== undefined) {
        return this.$storage.getUniversal("permissionStorage").includes(param)
      }
      else {
        return false;
      }
    },
    getDataFromApi (data) {
      this.loading = true
      return new Promise((resolve, reject) => {
        // const { sortBy, sortDesc, page, itemsPerPage } = this.options

        var items = data.data
        var total = data.total

        // if (sortBy.length === 1 && sortDesc.length === 1) {
        //   items = items.sort((a, b) => {
        //     const sortA = a[sortBy[0]]
        //     const sortB = b[sortBy[0]]

        //     if (sortDesc[0]) {
        //       if (sortA < sortB) {
        //         return 1
        //       }
        //       if (sortA > sortB) {
        //         return -1
        //       }
        //       return 0
        //     } else {
        //       if (sortA < sortB) {
        //         return -1
        //       }
        //       if (sortA > sortB) {
        //         return 1
        //       }
        //       return 0
        //     }
        //   })
        // }

        // if (this.options.itemsPerPage > 0) {
        //   items = items.slice((this.options.page - 1) * this.options.itemsPerPage, this.options.page * this.options.itemsPerPage)
        // }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    readItem (item) {
      this.$router.push('/gym/member/read/' + item.layId)
    },
    initialize () {
      // CustomerApi.getDataList().then((response) => {
      //   this.getDataFromApi(response.data.result)
      //     .then((data) => {
      //       this.dataItems = data.items
      //       this.totalItems = data.total
      //     })
      // })
    },
    async getPagination () {
      this.loading = true
      this.$axios.get('gym/dashboard/member/birthday',{
        params: {
          page: this.options.page,
          rowsPerPage: this.options.itemsPerPage,
          search: this.search
        }
      })
      .then((response) => {
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    handlePageChange () {

    },
    handlePageSizeChange () {

    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          if(action === 'index') {
            this.getDataFromApi(response.result)
              .then((data) => {
                this.dataItems = data.items
                this.totalItems = data.total
                this.totalPages = data.last_page
              })            
          } else if(action === 'delete') {
            this.getPagination()
          }
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  computed: {
    headers () {
      return [
        {
          text: 'gym.member.name',
          value: 'layName',
          align: 'left',
          sortable: false
        },
        {
          text: 'gym.member.email',
          value: 'layEmail',
          align: 'left',
          sortable: false
        },
        {
          text: 'gym.member.phone',
          value: 'layPhone',
          align: 'left',
          sortable: false
        },
        {
          text: 'gym.member.birthdate',
          value: 'layBirthDate',
          align: 'left',
          sortable: false
        },
        {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      ]
    }
  //   totalItems () {
  //     return this.$store.getters.totalItems
  //   },
  //   rowsPerPageItems () {
  //     return this.$store.getters.rowsPerPageItems
  //   },
  //   pagination: {
  //     get: () => {
  //       return this.$store.getters.pagination
  //     },
  //     set: (value) => {
  //       this.$store.dispatch('getCustomerApis', value)
  //     }
  //   }
  },
  watch: {
    // options: {
    //   handler () {
    //     console.log(this.options.itemsPerPage)
    //     console.log(this.options.page)
    //     this.getPagination()
    //   },
    //   deep: true
    // },
  //   pagination: {
  //     handler () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     update () {
  //       this.loading = true
  //       this.$store.dispatch('getCustomerApis', this.page)
  //         .then((result) => {
  //           this.loading = false
  //         })
  //     },
  //     deep: true
  //   }
  }
}
</script>
