<template>
  <div>
    <number-statistic
      :data-number="number"
      :sub-title="subTitle"
      :color="color"
    />
  </div>
</template>

<script>
import NumberStatistic from '@/components/widgets/statistic/NumberStatistic'

export default {
  name: 'DashTodayMember',
  components: {
    NumberStatistic
  },
  props: {
    subTitle: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    company: {
      type: Number,
      default: null
    },
    brand: {
      type: Number,
      default: null
    },
    store: {
      type: Number,
      default: null
    },
    srcButton: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: ''
    },
    number: 0,
    error: {
      status: '',
      statusText: ''
    }
  }),
  mounted () {
    this.number = 0
    this.getData()
  },
  methods: {
    async getData () {
      this.search.layCmp = ''
      this.search.layBrnd = ''
      this.search.layStore = ''
      this.search.layCmp = this.company
      this.search.layBrnd = this.brand
      this.search.layStore = this.store
      if(this.company == null) {
        this.search.layCmp = ''
      }
      if(this.brand == null) {
        this.search.layBrnd = ''
      }
      if(this.store == null) {
        this.search.layStore = ''
      }
      // this.$axios.get('gym/dashboard/member/today')
      this.$axios.get('gym/dashboard/member/today',{
        params: {
          search: this.search
        }
      })
      .then((response) => {
        console.log(response)
        this.processResponse(response.data, 'index')
      })
      .catch(errors => {
        this.processResponse(errors, 'index')
      });
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200) {
          this.number = response.result
        }
      } else if (response === undefined) {
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('error 500', 'Internal server error', { color: 'red' }, 'Yes')
        }
      }
      this.loading = false
    }
  },
  watch: {
    srcButton: {
      handler () {
        if(this.srcButton == true) {
          this.getData()
        }
      },
      deep: true
    },
  }
}
</script>
