<template>
  <div>
    <ValidationObserver ref="form" >
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('employee.role.company') "
                ref="code"
                rules="required"
                v-if="userLevel == 0"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.companyItems"
                      v-bind:label=" $t('employee.role.company') "
                      v-model="form.layCmpId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layCmpId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('employee.role.name') "
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('employee.role.name') "
                      v-model="form.layName"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('employee.role.description') "
                ref="description"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-textarea
                      v-bind:label=" $t('employee.role.description') "
                      v-model="form.layDescription"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layDescription" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')
import { format } from 'date-fns'

export default {
  name: 'EmployeeRoleForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
  },
  data: () => ({
    form: {
      layCmpId: '',
      layName: '',
      layDescription: ''
    },
    list: {
      companyItems: [],
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    search: null,
    isLoading: false,
    userLevel: -1
  }),
  watch: {
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('gym_access_history_store') && this.userlevel != -1) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
    if (this.edit) {
      this.getEditData()
    }
  },
  methods: {
    resetData () {
      this.form.layCmpId = ''
      this.form.layName = ''
      this.form.layDescription = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getSelectList () {
      if(this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getEditData () {
      this.$axios.get('employee/role/' + this.id + '/edit')
        .then((response) => {
          this.form.layCmpId = response.data.result.layCompany
          this.form.layName = response.data.result.layName
          this.form.layDescription = response.data.result.layDescription
          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('employee/role/' + this.$route.params.id, this.form)
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitAdd () {
      console.log(this.form)
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;
        this.$axios.$post('employee/role', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/employee/role')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      }
      this.loading = false
    }
  }
}
</script>
