<template>
  <div>
    <ValidationObserver ref="form" >
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>

              <ValidationProvider 
                v-slot="{ errors }"
                name="Judul"
                ref="title"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layTitle"
                      label="Judul"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layTitle" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <div>
                <!-- Use the component in the right place of the template -->
                <tiptap-vuetify
                  v-model="form.layDescription"
                  :extensions="extensions"
                />
              </div>

              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      type="submit"
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      Simpan 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      Reset
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      Update
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      Reset
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')
// import { format } from 'date-fns'
import { 
  TiptapVuetify, 
  Heading, 
  Bold, 
  Italic, 
  Strike, 
  Underline, 
  Code, 
  Paragraph, 
  BulletList, 
  OrderedList, 
  ListItem, 
  Link, 
  Blockquote, 
  HardBreak,
  HorizontalRule, 
  History,
  Image
} from 'tiptap-vuetify'
// import {
//   TrailingNode
// } from 'tiptap-extensions'
// import FileSelector from '~/Components/FileSelector'

export default {
  name: 'newsForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider,
    TiptapVuetify
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
  },
  data: () => ({
    extensions: [
      History,
      Blockquote,
      Link,
      Underline,
      Strike,
      Italic,
      ListItem,
      BulletList,
      OrderedList,
      [Heading, {
        options: {
          levels: [1, 2, 3]
        }
      }],
      Bold,
      Code,
      HorizontalRule,
      Paragraph,
      HardBreak,
      Image
      // Image, {
      //   options: {
      //     imageSources: [
      //       { component: FileSelector, name: 'File Selector' }
      //     ]
      //   }
      // }
    ],
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
    },
    show1: false,
    form: {
      layTitle: '',
      layDescription: '',
    },
    list: {
    },
    errorsmsg:[],
    errors:'',
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    isLoading: false,
    userLevel: -1,
    width:100,
  }),
  computed: {
    // myImage: function () {
    //   return this.oldPic
    // },
  },
  watch: {
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('news_store') && this.userlevel != -1) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    if (this.edit) {
      this.getEditData()
    }
    // set language dynamically
    // this.$o.lang.set('en-us')  
  },
  methods: {
    resetData() {
      this.form.layTitle = ''
      this.form.layDescription = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getEditData() {
      this.$axios.get('news/' + this.id + '/edit')
        .then((response) => {
          this.form.layTitle = response.data.result.layTitle
          this.form.layDescription = response.data.result.layDescription
          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate() {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;

          let formData = new FormData();
          formData.append('layTitle', this.form.layTitle);
          formData.append('layDescription', this.form.layDescription);
          formData.append('_method', 'PUT')

          this.$axios.$post(
            'news/' + this.$route.params.id,
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          )
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
        }
      }
    },
    submitEnter() {
      if(this.loading == false) {
        if(this.edit === false) {
          this.submitAdd()
        }
        if(this.edit === true) {
          this.submitUpdate()
        }
      }
    },
    async submitAdd() {
      console.log(this.form)
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;

        let formData = new FormData();
        formData.append('layTitle', this.form.layTitle);
        formData.append('layDescription', this.form.layDescription);

        this.$axios.$post(
          'news',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        )
        .then((response) => {
          this.processResponse(response, 'submit')
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    onUpdate ({ getJSON, getHTML }) {
      this.json = getJSON()
      this.html = getHTML()
      console.log('html', this.html)
    },
    onImageChange(e) {
      // let files = e.target.files || e.dataTransfer.files;
      // if (!files.length)
      //   return;
      // console.log(e)
      // this.createImage(e)
      // this.createImage(this.form.layFiles[0]);
    },
    // createImage(file) {
    //   let reader = new FileReader();
    //   let vm = this;
    //   reader.onload = (e) => {
    //     vm.image = e.target.result;
    //   };
    //   reader.readAsDataURL(file);
    // },
    // uploadImage(){
    //   axios.post('/image/store',{image: this.image}).then(response => {
    //     console.log(response);
    //   });
    // },
    async processResponse(response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/news')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      }
      this.loading = false
    }
  }
}
</script>
