<template>
  <div>
    <ValidationObserver ref="form" v-slot="{}">
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('administrativeareasecond.country') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.countryItems"
                      v-bind:label=" $t('administrativeareasecond.country') "
                      v-model="form.layCouId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layCouId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('administrativeareasecond.adm1') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.adm1Items"
                      v-bind:label=" $t('administrativeareasecond.adm1') "
                      v-model="form.layAdm1Id"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAdm1Id" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('administrativeareasecond.name') "
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('administrativeareasecond.name') "
                      v-model="form.layName"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')

export default {
  name: 'AdministrativeAreaSecondForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    show1: false,
    form: {
      layCouId: '',
      layAdm1Id: '',
      layName: ''
    },
    list: {
      countryItems: [],
      adm1Items: []      
    },
    errorsmsg:[],
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    rules: {
      required: value => !!value || 'Harus diisi.'
    }
  }),
  mounted () {
    this.getSelectList()
    if (this.edit) {
      this.getEditData()
    }
  },
  methods: {
    resetData () {
      this.form.layCouId = ''
      this.form.layAdm1Id = ''
      this.form.layName = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getSelectList () {
      this.$axios.get('/country/selectlist')
        .then((response) => {
          this.list.countryItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      this.$axios.get('/administrativefirst/selectlist')
        .then((response) => {
          this.list.adm1Items = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
    },
    getEditData () {
      this.$axios.get('/administrativesecond/' + this.id + '/edit')
        .then((response) => {
          this.form.layCouId = response.data.result.layCouId
          this.form.layAdm1Id = response.data.result.layAdm1Id
          this.form.layName = response.data.result.layName
          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate () {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;
          this.$axios.$put('administrativesecond/' + this.$route.params.id, this.form)
            .then((response) => {
              this.processResponse(response, 'submit')
            }).catch(errors => {
              this.processResponse(errors, 'submit')
            })
        }
      }
    },
    async submitAdd () {
      this.$refs.form.reset()
      let response = await this.$refs.form.validate()
      if(response) {
        this.loading = true;
        this.$axios.$post('administrativesecond', this.form)
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    async processResponse (response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/layanesia/administrativeareasecond')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      } 
      this.loading = false
    }
  }
}
</script>
