<template>
  <div>
    <ValidationObserver ref="form" >
    <form ref="form1" onSubmit="return false;">
      <v-row>
        <v-col lg="12" sm="12" md="12">
          <!-- <v-card> -->
            <v-container fluid>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('store.company') "
                ref="code"
                rules="required"
                v-if="userLevel == 0"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.companyItems"
                      v-bind:label=" $t('store.company') "
                      v-model="form.layCmpId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getBrandList"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layCmpId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.brand') "
                ref="code"
                rules="required"
                v-if="userLevel == 0 || userLevel == 1"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.brandItems"
                      v-bind:label=" $t('gym.member.brand') "
                      v-model="form.layBrndId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                      v-on:change="getStoreList"
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layBrndId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.package.store') "
                ref="code"
                rules="required"
                v-if="userLevel == 0 || userLevel == 1 || userLevel == 2"
                :bails="false">
                <v-row wrap>
                  <v-col cols="10" lg="6" md="6" sm="10">
                    <v-select
                      :items="list.storeItems"
                      v-bind:label=" $t('gym.package.store') "
                      v-model="form.layStoreId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    >                      
                    </v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layStoreId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.status') "
                ref="range"
                rules="required"
                v-if="edit == false"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    {{ $t('gym.member.status') }}
                    <v-radio-group v-model="form.layStatus" row v-on:change="getStatus">
                      <v-radio
                        :key="0"
                        label="Anggota Baru/ Belum ada email"
                        :value="0"
                      ></v-radio>
                      <v-radio
                        :key="1"
                        label="Anggota/ Sudah ada email"
                        :value="1"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                </v-row>
                <v-row>
                  <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                    <li v-for="(error, index) in errors" :key="index">
                      <span>{{ error }}</span>
                    </li>
                    <li v-for="(errormsg, index) in errorsmsg.layStatus" :key="index">
                      <span>{{ errormsg }}</span>
                    </li>
                  </ul>
                </v-row>
              </ValidationProvider>

              <!-- <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.store') "
                ref="code"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.storeItems"
                      v-bind:label=" $t('gym.member.store') "
                      v-model="form.layStoreId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layStoreId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider> -->
              <!-- <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.profile') "
                ref="profile"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-select
                      :items="list.profileItems"
                      v-bind:label=" $t('gym.member.profile') "
                      v-model="form.layUsrprfId"
                      item-text="layName"
                      item-value="layCode"
                      clearable
                    ></v-select>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layUsrprfId" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider> -->

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('user.email') "
                ref="email"
                rules="required"
                v-if="isNewUser == false"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-autocomplete
                      autocomplete="off"
                      v-model="form.layEmailOld"
                      v-bind:label=" $t('user.email') "
                      :items="list.autocompleteItems"
                      :loading="isLoading"
                      :search-input.sync="autocompleteEmailSearch"
                      item-text="layName"
                      item-value="layName"
                      clearable
                      hide-no-data
                      placeholder="Cari Email"
                      v-if="isNewUser == false"
                    ></v-autocomplete>
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left" v-if="isNewUser == false">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layEmailOld" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('user.email') "
                ref="email"
                rules="required|email"
                v-if="isNewUser == true"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layEmail"
                      v-bind:label=" $t('user.email') "
                      v-if="isNewUser == true"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left" v-if="isNewUser == true">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layEmail" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>

              <!-- <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('user.password') "
                ref="password"
                rules="required|min:7"
                :bails="false"
                v-if="edit == false && isNewUser == true">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-model="form.layPassword"
                      v-bind:label=" $t('user.password') "
                      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show1 ? 'text' : 'password'"
                      @click:append="show1 = !show1"
                      counter
                      v-bind:hint="$t('user.password_hint')"
                      v-if="edit == false || isNewUser == true"
                      :disabled="edit"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layPassword" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider> -->

              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.name') "
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('gym.member.name') "
                      v-model="form.layName"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.address') "
                ref="address"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-textarea
                      v-bind:label=" $t('gym.member.address') "
                      v-model="form.layAddress"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layAddress" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.phone') "
                ref="phone"
                rules="required|numeric"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('gym.member.phone') "
                      v-model="form.layPhone"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layPhone" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider>
              
              <v-row wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-menu
                    ref="birthdatemenu"
                    v-model="birthdatemenu"
                    :close-on-content-click="false"
                    :return-value.sync="form.layBirthDate"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                    <ValidationProvider 
                      v-slot="{ errors }"
                      :name=" $t('gym.member.birthdate') "
                      ref="birthdate"
                      :bails="false">
                      <v-text-field
                        v-model="form.layBirthDate"
                        v-bind:label=" $t('gym.member.birthdate') "
                        readonly
                        v-on="on"
                        clearable
                      ></v-text-field>
                      <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                        <li v-for="(error, index) in errors" :key="index">
                          <span>{{ error }}</span>
                        </li>
                        <li v-for="(errormsg, index) in errorsmsg.layBirthDate" :key="index">
                          <span>{{ errormsg }}</span>
                        </li>
                      </ul>
                    </ValidationProvider>
                    </template>
                    <v-date-picker v-model="form.layBirthDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="birthdatemenu = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.birthdatemenu.save(form.layBirthDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-row wrap>
                <v-col lg="6" md="6" sm="12">
                  {{ $t('gym.member.gender') }}
                  <v-radio-group v-model="form.layGndId" row>
                    <v-radio
                      :key="0"
                      label="Pria"
                      :value="1"
                    ></v-radio>
                    <v-radio
                      :key="1"
                      label="Wanita"
                      :value="2"
                    ></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row>
                <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                  <li v-for="(error, index) in errors" :key="index">
                    <span>{{ error }}</span>
                  </li>
                  <li v-for="(errormsg, index) in errorsmsg.layGndId" :key="index">
                    <span>{{ errormsg }}</span>
                  </li>
                </ul>
              </v-row>

              <v-row wrap>
                <v-col lg="6" md="6" sm="12">
                  {{ $t('gym.member.pic') }}
                  <v-img
                    :aspect-ratio="16/9"
                    :width="width"
                    :src="myImage"
                    v-if="myImage"
                  ></v-img>
                  <div class="col-md-12" v-if="image">
                    <img :src="image" class="img-responsive" height="100" width="100">
                  </div>
                  <!-- <div class="col-md-9">
                    <input type="file" v-on:change="onImageChange" class="form-control">
                  </div> -->
                  <v-file-input
                  v-model="form.layFiles"
                    accept=".jpg,.jpeg,.png,.gif, image/jpeg,image/png,image/gif"
                    label="File input"
                    prepend-icon="mdi-camera"
                    show-size
                    v-on:change="onImageChange"
                  ></v-file-input>
                  <!-- <div class="col-md-3">
                    <button class="btn btn-success btn-block" @click="uploadImage">Upload Image</button>
                  </div> -->
                </v-col>
              </v-row>

              <!-- <ValidationProvider 
                v-slot="{ errors }"
                :name=" $t('gym.member.name') "
                ref="name"
                rules="required"
                :bails="false">
                <v-row wrap>
                  <v-col lg="6" md="6" sm="12">
                    <v-text-field
                      v-bind:label=" $t('gym.member.name') "
                      v-model="form.layName"
                    />
                    <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                      <li v-for="(error, index) in errors" :key="index">
                        <span>{{ error }}</span>
                      </li>
                      <li v-for="(errormsg, index) in errorsmsg.layName" :key="index">
                        <span>{{ errormsg }}</span>
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </ValidationProvider> -->

              <v-row wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-menu
                    ref="regdatemenu"
                    v-model="regdatemenu"
                    :close-on-content-click="false"
                    :return-value.sync="form.layRegDate"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                    <ValidationProvider 
                      v-slot="{ errors }"
                      :name=" $t('gym.member.regdate') "
                      ref="regdate"
                      rules="required"
                      :bails="false">
                      <v-text-field
                        v-model="form.layRegDate"
                        v-bind:label=" $t('gym.member.regdate') "
                        readonly
                        v-on="on"
                        clearable
                      ></v-text-field>
                      <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                        <li v-for="(error, index) in errors" :key="index">
                          <span>{{ error }}</span>
                        </li>
                        <li v-for="(errormsg, index) in errorsmsg.layRegDate" :key="index">
                          <span>{{ errormsg }}</span>
                        </li>
                      </ul>
                    </ValidationProvider>
                    </template>
                    <v-date-picker v-model="form.layRegDate" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="regdatemenu = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.regdatemenu.save(form.layRegDate)">OK</v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-row wrap>
                <v-col lg="6" md="6" sm="12">
                  <v-menu
                    ref="timemenuref"
                    v-model="timemenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="form.layRegTime"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <ValidationProvider 
                        v-slot="{ errors }"
                        :name=" $t('gym.member.regtime') "
                        ref="open"
                        rules=""
                        :bails="false">
                          <v-text-field
                            v-model="form.layRegTime" 
                            v-bind:label=" $t('gym.member.regtime') "
                            readonly
                            clearable
                            v-on="on"
                          ></v-text-field>
                          <ul style="color:red; line-height: 12px; font-size: 14px;" class="text-left">
                            <li v-for="(error, index) in errors" :key="index">
                              <span>{{ error }}</span>
                            </li>
                            <li v-for="(errormsg, index) in errorsmsg.layRegTime" :key="index">
                              <span>{{ errormsg }}</span>
                            </li>
                          </ul>
                        </ValidationProvider>
                      </template>
                      <v-time-picker
                        v-if="timemenu"
                        v-model="form.layRegTime"
                        format="24hr"
                        full-width
                        @click:minute="$refs.timemenuref.save(form.layRegTime)"
                      ></v-time-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-row v-if="edit === false" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      type="submit"
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitAdd"
                    >
                      {{ $t('pages.save') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="edit === true" wrap>
                <v-col>
                  <div class="my-2">
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="submitUpdate"
                    >
                      {{ $t('pages.update') }} 
                    </v-btn>
                    <v-btn
                      small
                      :loading="loading"
                      :disabled="loading"
                      color="primary"
                      @click="resetData"
                    >
                      {{ $t('pages.reset') }} 
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          <!-- </v-card> -->
        </v-col>
      </v-row>
    </form>
    </ValidationObserver>
    <confirm ref="confirm"></confirm>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
setInteractionMode('eager')
import { format } from 'date-fns'

export default {
  name: 'GymMemberForm',
  components: {
    Confirm: () => import(/* webpackPrefetch: true */'@/components/dialog/Confirm'),
    ValidationObserver,
    ValidationProvider
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
    // password: {
    //   type: Boolean,
    //   default: false
    // },
  },
  data: () => ({
    search: {
      layCmp: '',
      layBrnd: '',
      layStore: '',
    },
    show1: false,
    form: {
      layCmpId: null,
      layBrndId: null,
      layStoreId: null,
      layStatus: 0,
      layEmailEdit: '',
      layEmailOld: '',
      layEmail: '',
      layName: '',
      layAddress: '',
      layPhone: '',
      layBirthDate: '',
      layRegDate: format(new Date(), 'yyyy-MM-dd'),
      layRegTime: format(new Date(), 'HH:mm'),
      layGndId: '',
      layFiles: []
      //moment("D/M/YYYY h:mm A")
    },
    list: {
      companyItems: [],
      brandItems: [],
      storeItems: [],
      profileItems: [],
      autocompleteItems: [],
    },
    errorsmsg:[],
    errors:'',
    error: {
      status: '',
      statusText: ''
    },
    loading: false,
    birthdatemenu: false,
    regdatemenu: false,
    timemenu: false,
    descriptionLimit: 60,
    autocompleteEmailSearch: '',
    isLoading: false,
    isNewUser: true,
    userLevel: -1,
    image:'',
    width:100,
    oldPic:''
  }),
  computed: {
    myImage: function () {
      return this.oldPic
    },
  },
  watch: {
    autocompleteEmailSearch(value) {
      console.log(value)
      if(!value) return

      // Items have already been loaded
      // if (this.list.autocompleteItems.length > 0) return

      // Items is beeing requested
      if (this.isLoading) return

      console.log(value)
      this.isLoading = true
      this.getAutocompleteEmail(value)
      // Lazily load input items
      // fetch('https://api.publicapis.org/entries')
      //   .then(res => res.json())
      //   .then(res => {
      //     const { count, entries } = res
      //     this.count = count
      //     this.entries = entries
      //   })
      //   .catch(err => {
      //     console.log(err)
      //   })
      //   .finally(() => (this.isLoading = false))
    }
  },
  mounted () {
    this.userLevel = this.$storage.getUniversal("levelStorage")
    if(this.$storage.getUniversal("permissionStorage").includes('gym_member_store') && this.userlevel != -1) {
    }
    else {
      this.$router.push('/error/error_not_authorized')
    }
    this.getSelectList()
    if (this.edit) {
      this.getEditData()
    }
  },
  methods: {
    getStatus() {
      console.log("getstatus")
      console.log(this.form.layStatus)
      if(this.form.layStatus == 0)
      {
        this.isNewUser = true
        this.$refs.form.reset()
        console.log(this.isNewUser)
        this.errors = []
        this.errorsmsg =[]
        this.error.status = ''
        this.error.statusText = ''
      }
      else if(this.form.layStatus == 1)
      {
        this.isNewUser = false
        this.$refs.form.reset()
        console.log(this.isNewUser)
        this.errors = []
        this.errorsmsg =[]
        this.error.status = ''
        this.error.statusText = ''
      }
    },
    resetData() {
      // this.form.layCmpId = ''
      this.form.layBrndId = ''
      // this.form.layStoreId = ''
      this.form.layEmailEdit = ''
      this.form.layEmailOld = ''
      this.form.layEmail = ''
      this.form.layName = ''
      this.form.layAddress = ''
      this.form.layPhone = ''
      this.form.layBirthDate = ''
      this.form.layRegDate = ''
      this.form.layRegTime = ''
      this.form.layGndId = ''
      this.errorsmsg = []
      this.$refs.form.reset()
    },
    getAutocompleteEmail(value) {
      this.$axios.get('/user/autocomplete/selectlist/'+value)
        .then((response) => {
          this.list.autocompleteItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
        .finally(() => (this.isLoading = false))
    },
    getSelectList() {
      if(this.userLevel == 0) {
        //ambil data perusahaan
        this.$axios.get('/company/selectlist')
        .then((response) => {
          this.list.companyItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.edit == false && this.userLevel == 1) {
        //dapet data brand langsung sesuai session
        this.$axios.get('/brand/selectlist')
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
      if(this.edit == false && this.userLevel == 2) {
        // dapet data store langsung sesuai session
        this.$axios.get('/store/selectlist')
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getBrandList() {
      this.list.brandItems = []
      this.search.layBrnd = ''
      if(this.userLevel == 0 || this.userLevel == 1) {
        this.$axios.get('/brand/companyselectlist/'+this.form.layCmpId)
        .then((response) => {
          this.list.brandItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getStoreList() {
      this.list.storeItems = []
      this.search.layStore = ''
      if(this.userLevel == 0 || this.userLevel == 1 || this.userLevel == 2) {
        this.$axios.get('/store/brandselectList/'+this.form.layBrndId)
        .then((response) => {
          this.list.storeItems = response.data.result
          this.processResponse(response, 'selectlist')
        })
        .catch(errors => {
          this.processResponse(errors, 'selectlist')
        })
      }
    },
    getEditData() {
      this.$axios.get('gym/member/' + this.id + '/edit')
        .then((response) => {
          this.form.layCmpId = response.data.result.layCompany
          this.form.layBrndId = response.data.result.layBrand
          this.form.layStoreId = response.data.result.layStore
          this.form.layEmailEdit = response.data.result.layEmail
          this.form.layEmail = response.data.result.layEmail
          this.form.layName = response.data.result.layName
          this.form.layAddress = response.data.result.layAddress
          this.form.layPhone = response.data.result.layPhone
          if(response.data.result.layBirthDate)
          {
            this.form.layBirthDate = response.data.result.layBirthDate
          }
          this.form.layRegDate = response.data.result.layRegDate
          this.form.layRegTime = response.data.result.layRegTime
          this.form.layGndId = response.data.result.layGndId
          this.oldPic = response.data.result.layThumb

          this.getBrandList()
          this.getStoreList()

          this.processResponse(response, 'get')
        })
        .catch(errors => {
          this.processResponse(errors, 'get')
        })
    },
    async submitUpdate() {
      if(this.edit) {
        let response = await this.$refs.form.validate()
        if(response) {
          this.loading = true;

          let formData = new FormData();
          formData.append('layCmpId', this.form.layCmpId);
          formData.append('layBrndId', this.form.layBrndId);
          formData.append('layStoreId', this.form.layStoreId);
          formData.append('layStatus', this.form.layStatus);
          formData.append('layEmailEdit', this.form.layEmailEdit);
          formData.append('layEmailOld', this.form.layEmailOld);
          formData.append('layEmail', this.form.layEmail);
          formData.append('layName', this.form.layName);
          formData.append('layAddress', this.form.layAddress);
          formData.append('layPhone', this.form.layPhone);
          formData.append('layBirthDate', this.form.layBirthDate);
          formData.append('layRegDate', this.form.layRegDate);
          formData.append('layRegTime', this.form.layRegTime);
          formData.append('layGndId', this.form.layGndId);
          formData.append('layFiles', this.form.layFiles);
          formData.append('_method', 'PUT')

          this.$axios.$post(
            'gym/member/' + this.$route.params.id,
            formData,
            // this.form,
            {
              headers: {
                // 'Content-Type': 'application/x-www-form-urlencoded',
                'Content-Type': 'multipart/form-data'
              }
            }
          )
          .then((response) => {
            this.processResponse(response, 'submit')
          }).catch(errors => {
            this.processResponse(errors, 'submit')
          })
        }
      }
    },
    submitEnter() {
      if(this.loading == false) {
        if(this.edit === false) {
          this.submitAdd()
        }
        if(this.edit === true) {
          this.submitUpdate()
        }
      }
    },
    async submitAdd() {
      console.log(this.form)
      let response = await this.$refs.form.validate()
      if(this.form.layStatus == 0)
      {
        this.form.layEmailEdit = ''
        this.form.layEmailOld = ''
      }
      else if(this.form.layStatus == 1)
      {
        this.form.layEmailEdit = ''
        this.form.layEmail = ''
      }
      if(response) {
        this.loading = true;

        let formData = new FormData();
        formData.append('layCmpId', this.form.layCmpId);
        formData.append('layBrndId', this.form.layBrndId);
        formData.append('layStoreId', this.form.layStoreId);
        formData.append('layStatus', this.form.layStatus);
        formData.append('layEmailEdit', this.form.layEmailEdit);
        formData.append('layEmailOld', this.form.layEmailOld);
        formData.append('layEmail', this.form.layEmail);
        formData.append('layName', this.form.layName);
        formData.append('layAddress', this.form.layAddress);
        formData.append('layPhone', this.form.layPhone);
        formData.append('layBirthDate', this.form.layBirthDate);
        formData.append('layRegDate', this.form.layRegDate);
        formData.append('layRegTime', this.form.layRegTime);
        formData.append('layGndId', this.form.layGndId);
        formData.append('layFiles', this.form.layFiles);

        this.$axios.$post(
          'gym/member',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
        )
        // this.$axios.$post(
        //   'gym/member',
        //   this.form,
        // )
        .then((response) => {
          this.processResponse(response, 'submit')
        }).catch(errors => {
          this.processResponse(errors, 'submit')
        })
      }
    },
    async logout() {
      await this.$auth.logout()
      this.$store.dispatch('logout');
    },
    onImageChange(e) {
      // let files = e.target.files || e.dataTransfer.files;
      // if (!files.length)
      //   return;
      console.log(e)
      this.createImage(e)
      // this.createImage(this.form.layFiles[0]);
    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    // uploadImage(){
    //   axios.post('/image/store',{image: this.image}).then(response => {
    //     console.log(response);
    //   });
    // },
    async processResponse(response, action) {
      if (typeof response !== 'undefined') {
        if (response.status === 200 && action === 'submit') {
          this.$router.push('/gym/member')
        }
      } else if (response === undefined) {
        this.loading = false;
      }
      if (typeof response.response !== 'undefined' ) {
        if(response.response.status === 422){
          this.errorsmsg = []
          this.errorsmsg = response.response.data.errors
        } else if( response.response.status === 401) {
          await this.$refs.confirm.open('Error 401', 'Your session has expired, please log in again!', { color: 'red' }, 'Yes')
          this.logout()
        } else if( response.response.status === 403) {
          await this.$refs.confirm.open('Error 403', response.response.data.message, { color: 'red' }, 'Yes')
        } else if (response.response.status === 500) {
          await this.$refs.confirm.open('Error 500', response.response.data.message, { color: 'red' }, 'Yes')
          this.loading = false;
        }
      }
      this.loading = false
    }
  }
}
</script>
